include ../partials/variables.pug
include ../partials/mixins.pug
doctype html
html
    block head
    include ../head.pug
    body.logged
        include ../header.pug
        // main
        main#cp_personal(class=`${step} getCredit_steps`)
            block step_header
            .steps__calculator_info.clearfix
                .calculator_info_toggle
                    span
                .user-selected_sum
                    span Выбрана сумма&nbsp
                    span
                        span.credit_summ.big-purple
                        |&nbspгр.
                .user-selected_time
                    span На&nbsp
                    span
                        span.credit_time.big-purple
                        |&nbspдней.
                .price_box
                    .price_input
                        .input_sliders.loading
                            .slider_summ
                                span Выберите сумму
                                input(type="range", value="3000", style="visibility: hidden;")
                                input#number_summ.input_number.number_summ_input(type="number", value="3000")&attributes({"onkeypress": "return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                                span.forNumber гр.
                                span.range-number.range-min 200
                                span.range-number.range-max 7000
                            .slider_date
                                span Выберите срок
                                input(type="range", value="10", style="visibility: hidden;")
                                input#number_date.input_number(type="number", value="10")&attributes({"onkeypress": "return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                                span.forDate дней
                                span.range-number.range-min 1
                                span.range-number.range-max 15
                    .price_output.cash
                        .credit_final
                            div.clearfix
                                span Сумма кредита:
                                div
                                    span#credit_final_summ
                                    span &nbsp&nbspгр.
                            div.clearfix
                                span Срок возврата:
                                div: span#credit_final_date
                            div.clearfix
                                span За пользование:
                                div
                                    span#credit_final_using
                                    span &nbsp&nbspгр.
                            div.clearfix
                                span За пользование (онлайн):
                                div
                                    span#credit_final_using_online
                                    span &nbsp&nbspгр.
                            span.additional_info включена комиссия платежной <br /> ситемы 2,6% от суммы
            .steps__steps_indicator
                .indicator(style=`width: ${indicator_initial_width}%;`)
                .step.step_1
                    span.step_circle 1
                    span.step_label Личные данные
                .step.step_2
                    span.step_circle 2
                    span.step_label Трудоустройство
                .step.step_3
                    span.step_circle 3
                    span.step_label Социальная информация
                .step.step_4
                    span.step_circle 4
                    span.step_label Подтверждение
            block step_content
            block step_footer
            .progressbar_container
                .progressbar_bar
                    .progressbar_fill(style=`width: ${bottomBar_percent}%;`)
                        span.progressbar_percent
                            span #{bottomBar_percent}
                            | %
        // modals
        include ../modals/all.modals.pug
        // footer
        include ../footer.pug
        // scripts
        include ../scripts.pug