//underline current credits section
main#cp_about.company {
	.cp_about__types a:nth-of-type(1) {
		border-bottom: 3px solid $purple;
	}
}
main#cp_about.press {
	.cp_about__types a:nth-of-type(2) {
		border-bottom: 3px solid $purple;
	}
}
main#cp_about.vacancies {
	.cp_about__types a:nth-of-type(3) {
		border-bottom: 3px solid $purple;
	}
}

main#cp_about {

	color: white;

	float: left;
	width: 100%;
	
	/* STYLES FOR ALL ABOUT COMPANY PAGES */

	.cp_about__title {

		float: left;
		width: 100%;

		margin-top: 30px;

		text-align: center;

		h1 {
			margin: 0;

			@include text($robotoR, 40px, $purple);
			text-transform: uppercase;
		}
	} 

	.cp_about__types {

		float: left;
		width: 100%;

		margin-top: 35px;

		text-align: center;
		
		a {
			display: inline-block;
			
			@include text($robotoR, 18px, $black40);
			text-transform: uppercase;
			line-height: 35px;

			&:hover {
				border-bottom: 3px solid $purple;
			}

			&:not(:last-of-type) {
			    margin-right: 140px;
			}
		}
	}

	p.central_office_info {

		font-family: $robotoR !important;
		font-size: 12px !important;
		color: #333741 !important;

		> b {
			font-family: $robotoB !important;
			font-size: 14px !important;
		}

		> a {
			color: #333741 !important;
		}
	}

	/* STYLES FOR PRESS-CENTER PAGE */

	&.press {

		.cp_about__text {
				float: left;
				position: relative;
				width: 1004px;
				
				left: 50%;
				margin-top: 50px;
				margin-bottom: 40px;
				margin-left: -502px;

				p {

					&:first-of-type {
						margin-top: 0px;
					}

					@include text($robotoR, 14px, #333741);
					line-height: 22px;
					margin: 25px 0;

					b {
						font-family: $robotoB;
					}

				}

				hr {
				    margin-top: 29px;
				    margin-bottom: 42px;

					width: 100%;
					height: 1px;

					background-color: #ceced2;

					opacity: 0.54;

					border: none;
				}

				a {
					color: #333741;
				}
			}

	}
	
	/* STYLES FOR VACANCIES PAGE */

	&.vacancies {
	
		.cp_about__placeholder,
		.cp_about__vacanciesContainer {
			float: left;
			position: relative;

			left: 50%;
			margin-left: -502px;

			width: 1004px;

			clear: both;
		}

		.cp_about__placeholder {

			margin-top: 50px;

			
			height: 480px;

			background-color: #d8d8d8;
		}

		.cp_about__vacanciesContainer {

			margin-bottom: 25px;

			> hr {
				float: left;

				margin-top: 20px;
				margin-bottom: 20px;

				width: 100%;
				height: 1px;

				background-color: #ceced2;

				opacity: 0.54;

				border: none;
			}
		}

			.cp_about__vacancy {
				float: left;
				width: 100%;

				position: relative;
				margin-top: 25px;
				padding-left: 40px;
				padding-bottom: 10px;
				padding-right: 20px;
				padding-top: 10px;

				@include text($robotoR, 14px, #333741);
				line-height: 22px;
				text-align: left;

				background-color: rgba(220, 211, 230, 0);

				cursor: pointer;

				transition: all 0.2s ease;
				will-change: height, background-color;

				overflow: hidden;

				height: auto;

				&.opened {
					cursor: default;

					background-color: rgba(220, 211, 230, 0.5);

					.vacancy_arrow {
						transform: rotate(180deg);
					}

					.vacancy_descr {
						display: block;
						opacity: 1;
					}
				}

				.vacancy_arrow {
					position: absolute;

					left: 5px;
		    			top: 7.5px;

					width: 24px;
					height: 24px;

					background: url('../img/ic_kak eto rabotaet_arrow.png');
					background-position: center center;

					cursor: pointer;

					will-change: transform;
		   			transition: transform 0.2s ease;
				}

				.vacancy_title {
					text-transform: uppercase;
					font-family: $robotoB;
				}

				.vacancy_cities {
					text-transform: uppercase;
				}

				.vacancy_descr {
					display: none;
					opacity: 0;

					transition: opacity 0.2s ease;

					b {
						font-family: $robotoB;
					}

					a {
						color: #333741;
					}
				}
			}
	}
}

@media screen and (max-width: 1169px) and (min-width: 992px) {

	main#cp_about {

		.cp_about__types a:not(:last-of-type) {
			margin-right: 60px;
		}

		/* PRESS-CENTER */
		&.press {
			.cp_about__text {
				width: 910px;
			    margin-left: -455px;
			}	
		}

		/* STYLES FOR VACANCIES PAGE */
		&.vacancies {

			.cp_about__placeholder,
			.cp_about__vacanciesContainer {
				width: 940px;
				margin-left: -470px;
			}
		}

	}
}

@media screen and (max-width: 991px) {

	main#cp_about {

		.cp_about__types a:not(:last-of-type) {
			margin-right: 50px;
		}

		/* PRESS-CENTER */
		&.press {
			.cp_about__text {
				margin-left: -360px;
				width: 720px;
			}	
		}

		/* STYLES FOR VACANCIES PAGE */
		&.vacancies {

			.cp_about__placeholder,
			.cp_about__vacanciesContainer {
				width: 720px;
				margin-left: -360px;
			}
		}

	}
}

@media screen and (max-width: 767px) {

	main#cp_about {

		.cp_about__types a {
			line-height: 20px;
			margin-bottom: 15px;
			margin-right: 7px !important;
			margin-left: 7px !important;
		}

		/* PRESS-CENTER */
		&.press {
			.cp_about__text {
			    margin-left: 0;
			    margin-top: 20px;
			    left: 0;
			    width: 100%;
			    padding: 0 5%;
			}	
		}

		/* STYLES FOR VACANCIES PAGE */
		&.vacancies {

			.cp_about__placeholder,
			.cp_about__vacanciesContainer {
			    margin-left: 0;
			    margin-top: 20px;
			    left: 0;
			    width: 100%;
			    padding: 0 5%;
			}

			.cp_about__placeholder {
				padding: 0;
				width: 90%;
				margin-left: 5%;
			}
		}
	}
}