main#cp_address {

		float: left;
		position: relative;

		width: 100%;


	.address__header {
		margin-top: 50px;
		margin-bottom: 50px;

		font-size: 40px;
		text-transform: uppercase;
	}

	.address__office-search,
	.address__current-selected-region,
	.address__tabs,
	#offices {
		display: none;
	}

	&.address_nearest {

		text-align: center;

		.address__header {
			margin-top: 40px;
			margin-bottom: 30px;

			h1 {
				margin-top: 40px;
			}
		}

		.address_options {
			overflow: hidden;

			width: 620px;
			left: 50%;
			margin-left: -310px;

			transition: height 0.3s ease;
			will-change: height;

			&.opened {
				.address__office-search:after {
					transform: rotate(180deg);
				}

				#offices > div:last-of-type:after {
					opacity: 1;
				}
			}
		}

		.address__office-search,
		#offices {
			display: block;
		}

		.address__office-search {
			display: block;
			position: relative;

			height: 50px;
    		width: 30%;

    		margin-left: 35%;
			margin-bottom: 10px;

			@include text($robotoR, 18px, #3d3d3d);
			line-height: 50px;

			cursor: pointer;

			&:after {
			    content: '';
			    position: absolute;
			    border: none!important;
			    right: -10px;
			    top: 14px;
			    width: 24px;
			    height: 24px;
			    background: url('../img/ic_kak-eto-rabotaet_arrow_black.png');

			    transition: transform 0.3s ease;
			    will-change: transform;
			}
		}

		#offices {
			display: block;
			float: left;

			width: 100%;
			height: auto;

			padding-left: 5%;

			opacity: 1;
			visibility: visible;

			transition: opacity 0.2s linear;
			will-change: opacity;

			text-align: left;

			> div {

				&:first-of-type {
					padding-top: 15px;
				}

				&:last-of-type {

					padding-bottom: 30px;

					&:after {
						content: '';

						position: absolute;
						bottom: 0;
						left: 5%;
						opacity: 0;

						width: 100%;
						height: 1px;

						background: rgba(0,0,0,0.1);

						transition: opacity 0.3s linear;
						will-change: opacity;
					}
				}
				
				padding-bottom: 15px;

				span {
				
					&:first-of-type {
						font-family: $robotoB;
					}

					@include text($robotoR, 13px, #343434);
				}
			}
		}

		#address__main-nearest-office {
		    float: left;
		    position: relative;

		    left: 2%;
		    margin-left: 0px;
		    margin-top: 40px;

		    clear: both;

			text-align: left;

			span {
				
				&:first-of-type {
					font-family: $robotoB;
				}

				@include text($robotoR, 13px, #343434);
			}
		}

		#map {
			margin-top: 35px;
		}

		#address_button {
			@extend #send_request;

			margin-top: 30px;
    		margin-bottom: 25px;

    		float: left;
    		display: block;
			
			left: 50%;
			margin-left: -136px;
		}
	}

}

@media screen and (max-width:992px) {

	main#cp_address {

			&.address_nearest {

				.address__header {
					margin-top: 30px;
					margin-bottom: 15px;

					h1 {
						margin: 0;
					}
				}

				#offices {
					padding-left: 0;

					> div:last-of-type:after {
						left: 0;
					}
				}

				.address_options {
					width: 90%;
					left: 5%;

					margin-left: 0;

					.address__office-search {
						width: 150px;
						left: 50%;

						margin-left: -85px;

						&:after {
							right: -15%;
						}
					}
				}

				#address__main-nearest-office {
					width: 90%;

					left: 5%;
					margin-left: 0;
					margin-top: 15px;
				}	

				#map {
					height: 300px;

					margin-top: 25px;
				}
			}
	}
}

@media screen and (max-width: 767px) {
		main#cp_address.address_nearest {
			.address__header h1 {
				visibility: hidden;
			}
		}
}

@media screen and (max-width: 767px) {

		main#cp_address.address_all {
			
			&.address-address {

				.address__tabs {

					> span:first-of-type {
						color: $purple;
						font-family: $robotoB;
					}

					> hr {
						transform: translate3d(0,0,0);
					}
				}

				#offices {
					opacity: 1;
					visibility: visible;
					height: auto;
				}	
			}

			&.address-map {

				.address__tabs {

					> span:last-of-type {
						color: $purple;
						font-family: $robotoB;
					}

					> hr {
						transform: translate3d(100%,0,0);
					}
				}

				#map {
					visibility: visible;
					opacity: 1;
				}	
			}

		}

		background-color: #fafafa;

		.address__header {
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.address_options {
			overflow: hidden;

			transition: height 0.3s ease;
			will-change: height;

			&.opened {
				height: 280px;

				.address__office-search:after {
					transform: rotate(180deg);
				}
			}
		}

		.address__office-search {
			display: block;
			position: relative;

			height: 50px;
			width: 60%;

			margin-left: 17%;
			margin-bottom: 10px;

			@include text($robotoR, 18px, #3d3d3d);
			line-height: 50px;

			&:after {
			    content: '';
			    position: absolute;
			    border: none!important;
			    right: -10px;
			    top: 14px;
			    width: 24px;
			    height: 24px;
			    background: url('../img/ic_kak-eto-rabotaet_arrow_black.png');

			    transition: transform 0.3s ease;
			    will-change: transform;
			}
		}

		.address__current-selected-region {
			display: block;
			float: left;

			width: 100%;

			padding-left: 5%;
			margin-top: 10px;

			@include text($robotoB, 13px, $purple);
			text-align: left;
		}

		.address__tabs {
			display: block;
			float: left;
			position: relative;

			margin-top: 12px;

			width: 100%;
			height: 40px;

			border-bottom: 1px solid #e0dddd;

			> span {
				float: left;
				display: block;

				width: 50%;
				height: 100%;

				@include text($robotoR, 15px, #bfb7b7);
				text-align: center;
				letter-spacing: -0.4px;
				line-height: 40px;
				text-transform: uppercase;

				transition: color 0.15s linear;
				will-change: color;

				> span {
					background: rgba(123, 115, 115, 0.5);
				}
			}

			> hr {
				position: absolute;

				width: 50%;
				height: 2px;

				bottom: -1px;
				margin: 0;

				border: none;
				background: $purple;

				transition: transform 0.2s linear;
				will-change: transform;
			}

		}

		#offices {
			display: block;
			float: left;

			width: 100%;
			height: 275px;

			padding-left: 5%;

			opacity: 0;
			visibility: hidden;

			transition: opacity 0.2s linear;
			will-change: opacity;

			> div {

				&:first-of-type {
					margin-top: 15px;
				}
				
				margin-bottom: 15px;

				span {
				
					&:first-of-type {
						font-family: $robotoB;
					}

					@include text($robotoR, 13px, #343434);
				}
			}
		}

		#map {		
			position: absolute;

			height: 250px;

			margin-top: 0;
			top: auto;
			bottom: 0;

			opacity: 0;
			visibility: hidden;

			transition: opacity 0.2s linear;
			will-change: opacity;
		}
}

