body.logged {
  main#cp_personal.cabinet_empty {
    padding-top: 150px;

    text-align: center;

    svg {
      display: inline-block;

      width: 60px;
      height: 60px;
    }

    span {
      width: 100%;
      display: inline-block;
      margin-top: 10px;

      @include text($robotoR, 24px, #696d77);
      line-height: 28px;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 150px;
    }

  }
}