main#cp_personal.getCredit_steps {
  display: inline-block;
  position: relative;

  width: 730px;
  height: auto;

  left: 50%;
  margin-left: -365px;

  padding-top: 30px;
  padding-bottom: 45px;

  @media screen and (max-width: 767px) {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 30px 0;

    // TODO: Find out - should i remove this?
    opacity: 0;
    transform: translate3d(0,20px,0);

    transition: opacity 0.3s linear, transform 0.3s linear;
    will-change: opacity, transform;
  }

  &.visible {
    opacity: 1 !important;
    transform: translate3d(0,0,0) !important;
  }

  .steps__calculator_info {
    width: 100%;
    height: 40px;

    overflow: hidden;

    transition: height .3s ease;
    will-change: height;

    @media screen and (max-width: 767px) {
      height: 20px;
      padding: 0 5%;
    }

    &.opened {
      height: 410px;

      @media screen and (max-width: 767px) {
        height: auto;
      }

      .calculator_info_toggle {
        > span {
          transform: rotate(180deg);
        }
      }
    }

    .calculator_info_toggle {
      position: relative;
      float: right;

      top: 20px;

      @include text($robotoM, 14px, $black40);
      letter-spacing: 0.5px;
      line-height: 16px;

      cursor: pointer;

      &:before {
        content: 'изменить';
        width: auto;
        height: 100%;
        display: inline-block;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
        position: inherit;
        margin-bottom: 25px;

        &:before {
          content: 'изменить данные о кредите';
          width: auto;
          height: 100%;
          display: inline-block;
        }
      }

      > span {
        float: right;

        margin-top: 5px;
        margin-left: 15px;

        width: 0;
        height: 0;

        border-width: 6px 6px 0;
        border-style: solid;
        border-color: $black40 transparent transparent;

        opacity: 0.8;

        transform: rotate(0deg);
        transition: transform .3s ease;
        will-change: transform;

        @media screen and (max-width: 767px) {
          float: none;
          display: inline-block;
        }
      }
    }

    .user-selected_sum,
    .user-selected_time {
      float: left;

      // TODO: Find out - should i remove this?
      opacity: 0;
      transition: opacity .3s ease;
      will-change: opacity;

      @include text($robotoM, 16px, $black40);
      line-height: 19px;

      @media screen and (max-width: 767px) {
        width: 100%;
        position: relative;
      }

      > span {
        @media screen and (max-width: 767px) {
          &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:last-child {
            float: right;
          }
        }

      }

      .big-purple {
        @include text($robotoB, 34px, $purple);
        line-height: 40px;
      }
    }

    .user-selected_time {
      margin-left: 40px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  .step_container_subtitle {
    float: right;

    @media #{$mobile} {
      float: left;
      width: 100%;
      margin-top: 15px;
    }

    span {
      display: inline-block;
      vertical-align: middle;

      margin-left: 17px;

      @include text($robotoR, 12px, #262626);
      line-height: 16px;
    }

    svg {
      display: inline-block;
      vertical-align: middle;

      width: 34px;
      height: 30px;
    }
  }

  .price_box {
    left: 0;
    margin-left: 0;

    width: 100%;
    height: 310px;

    @media screen and (max-width: 767px) {
      height: auto;
    }

    border-bottom: none;

    #credit_final_using_online {
      font-family: $robotoB;
    }

    .price_input {
      width: 50%;
      border-radius: 0;
      box-shadow: none;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .price_output {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 767px) {
        width: 110%;
        margin-left: -5%;
        background-color: $purple;
        margin-top: 65px;
        padding-bottom: 25px;
        border-radius: 0;
      }

      span {
        font-size: 20px;
        float: left;
        color: white;

        @media screen and (max-width: 767px) {
          font-size: 17px;
        }
      }
    }

    .credit_final>div:not(:last-of-type) {
      margin-bottom: 30px;

      @media screen and (max-width: 767px) {
        margin-bottom: 25px;
      }
    }

    .additional_info {
      @include text($robotoR, 12px !important, white);
      line-height: 14px;
      text-align: left;
      margin-top: 25px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }

    .credit_final {
      margin-top: 40px;

      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }

    div.input_sliders {
      width: 90%;
      margin-left: 0;
      padding: 0;

      height: 100%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      > h2 {
        display: none;
      }

      .irs {
        width: 100%;
        margin-top: 43px;

        .irs-line {
          width: 100%;
          top: -43px;
        }
      }

      > div {

        &.slider_summ {
          margin-bottom: 60px;
        }

        > span:first-child {
          @include text($robotoR, 20px, grey);
          margin-bottom: 22px;
        }

        .range-number.range-max {
          right: 3px;
        }

        .input_number {
          margin-left: 0px;
          margin-top: -73px;
          border-bottom: 2px solid $purple;
        }

        .range-number {
          top: 125px;
          color: grey;
        }

        .forDate,
        .forNumber {
          top: 42px;
          right: auto;
        }

        .forDate {
          left: 50px;
        }
        .forNumber {
          left: 82px;
        }
      }
    }
  }

  .steps__steps_indicator {
    position: relative;

    width: 95%;
    height: 15px;

    margin-left: 2.5%;
    margin-top: 40px;

    background-color: rgba(78, 37, 130, 0.2);
    border-radius: 18px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 767px) {
      display: none !important;
    }

    .indicator {
      position: absolute;
      left: 1%;
      top: 0;
      height: 100%;
      background-color: #fe891f;
    }

    .step {
      float: left;
      position: relative;

      margin-top: -10px;

      .step_circle {
        float: left;

        width: 33px;
        height: 33px;

        background-color: white;
        border: 1px solid #dcd3e6;
        border-radius: 50%;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        @include text ($robotoM, 14px, #fe891f);
        text-align: center;
        line-height: 33px;
      }

      .step_label {
        position: absolute;
        top: 150%;

        @include text($robotoR, 12px, $purple);
        white-space: nowrap;
      }

      &.step_1 {
        .step_label {
          left: -90%;
        }
      }

      &.step_2 {
        margin-left: 27%;
        .step_label {
          left: -95%;
        }
      }

      &.step_3 {
        margin-left: 27%;
        .step_label {
          left: -165%;
        }
      }

      &.step_4 {
        float: right;

        .step_label {
          left: -85%;
        }
      }

    }
  }

  .steps__step_content {
    width: 95%;

    margin-top: 75px;
    margin-left: 2.5%;

    text-align: left;

    @media screen and (max-width: 767px) {
      width: 90%;

      margin-left: 5%;
      margin-top: 30px;
    }

    .step_content_title {
      float: left;

      @include text($robotoR, 24px, #565a64);
      line-height: 28px;
    }

    .step_content_form {
      float: left;

      width: 100%;
      height: auto;

      margin-top: 40px;

      clear: both;
    }
  }

  .progressbar_container {
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      width: 90%;

      margin-left: 5%;
      margin-top: 30px;
    }

    .progressbar_bar {
      width: 100%;
    }

    .progressbar_fill {
      width: 0;
    }
  }

  .step_fieldset {
    float: left;

    width: 100%;
    text-align: left;

    clear: both;

    &.centeredText {
      text-align: center;
    }

    .step_fieldset-title {
      width: 100%;

      margin-bottom: 23px;

      @include text($robotoM, 16px, $black40);
      text-align: left;
      line-height: 19px;
    }

    .step_fieldset-field {
      float: left;

      width: 290px;

      @media #{$mobile} {
        width: 100%;
      }

      @include text($robotoR, 16px, $black40);
      line-height: 19px;

      input, textarea, select {

        &:not([type="radio"]):not([type="checkbox"]) {
          width: 100%;
          height: 50px;

          padding-left: 10px;
          margin-top: 13px;

          background-color: white;
          border: 1px solid rgba(186,186,186,0.54);
          border-radius: 5px;

          transition: border .2s linear;

          @include text($robotoR, 16px, rgba(0, 0, 0, 0.87));
          opacity: 1;

          color: black;

          &:disabled {
            cursor: not-allowed;
            background-color: #efeff4;
            border: 1px solid #bababa;
          }
        }
      }

      .secondary_label {
        float: left;

        width: 100%;

        margin-top: 5px;
      }

      .err {
        display: inline-block;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 10px;

        @include text($robotoR, 13px, #de5358);
        text-align: left;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear;
      }

      &.wrong {

        input, textarea {
          border: 1px solid #bb141a !important;
        }

        .err {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .double-fieldset {
    float: left;

    width: 290px;

    @media #{$mobile} {
      width: 100%;
    }

    @include text($robotoM, 16px, $black40);

    label {
      float: left;
    }

    .double-fieldset-title {
      float: left;
      width: 100%;
    }
  }

  .step_radioset {
    float: left;

    width: 100%;

    text-align: center;

    .step_radioset-title {
      @include text($robotoM, 16px, $purple);
      line-height: 19px;
    }

    .step_radioset-container {
      margin-top: 15px;
    }

    label {
      display: inline-block;
      position: relative;

      height: 20px;

      @include text($robotoR, 16px, $black40);
      line-height: 19px;

      &:last-of-type {
        margin-left: 50px;
      }

      input {
        vertical-align: bottom;

        width: 20px;
        height: 20px;

        margin-right: 17px;

        border: 2px solid #4e2582;

        cursor: pointer;

        opacity: 0;

        &[type="checkbox"] {
          margin-right: 7px;
        }

        &:checked + .radio-control:after {
          transform: scale(1);
        }

        &:checked + .checkbox-control {
          border: 2px solid $purple;
          background-color: $purple;
        }
      }

      .radio-control {
        position: absolute;

        width: 20px;
        height: 20px;

        left: 0;
        bottom: 0;

        border-radius: 50%;
        border: 2px solid #4e2582;

        cursor: pointer;

        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;

          width: 50%;
          height: 50%;

          background-color: $purple;
          margin-top: -5px;
          border-radius: 50%;

          transform: scale(0);

          transition: transform 0.3s ease;
          will-change: transform;

          cursor: pointer;
        }
      }

      .radio-control {
        position: absolute;

        width: 20px;
        height: 20px;

        left: 0;
        bottom: 0;

        border-radius: 50%;
        border: 2px solid #4e2582;

        z-index: -1;

        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;

          width: 50%;
          height: 50%;

          background-color: $purple;
          margin-top: -5px;
          border-radius: 50%;

          transform: scale(0);

          transition: transform 0.3s ease;
          will-change: transform;
        }
      }

      .checkbox-control {
        position: absolute;

        width: 20px;
        height: 20px;

        left: 0;
        bottom: 0;

        border: 2px solid #bababa;

        transition: background-color .3s ease, border .3s ease;

        z-index: 0;

        cursor: pointer;

        svg {
          width: 14px;
          height: 15px;
          fill: white;
        }
      }
    }
  }
}

// Steps pages
@import 'get_credit_steps/cabinet_getCredit-1';
@import 'get_credit_steps/cabinet_getCredit-2';
@import 'get_credit_steps/cabinet_getCredit-3';
@import 'get_credit_steps/cabinet_getCredit-4';