
body.logged {

  // crutches
  &.side_menu_active {
    position: static !important;
  }

  main#cp_personal.request_accepted {
    margin-bottom: 35px;

    .request_accepted__table {
      width: 900px;
      margin: 0 auto;

      h1 {
        margin-bottom: 25px;
        margin-top: 50px;

        text-align: center;
      }

      span.subtitle {

        @include text($robotoR, 18px, #696d77);
        line-height: 21px;

        a {
          color: $purple;
          text-decoration: underline;
        }
      }
    }

    .request_accepted__total {
      display: inline-block;

      margin-top: 50px;
      margin-bottom: 25px;

      width: 356px;
      height: 276px;

      background-color: #4e2582;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
      color: white;

      .total__row {
        width: 100%;
        padding: 0 5%;

        margin-top: 29px;

        span.total__summ,
        span.total__payment {
          font-family: $robotoM;
        }

        > span {
          @include text($robotoR, 18px, white);
          line-height: 21px;

          &:first-of-type {
            float: left;
          }
          &:last-of-type {
            float: right;
          }
        }
      }
      .total__label {
        font-size: 14px;
        text-align: left;
        padding: 0 5%;
        margin-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body.logged {

    main#cp_personal.request_accepted {

      .request_accepted__table {
        width: 750px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body.logged {

    main#cp_personal.request_accepted {

      .request_accepted__table {
        padding: 0 5%;

        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  body.logged {

    main#cp_personal.request_accepted {

      .request_accepted__total {
        width: 110%;
        margin-left: -5%;
        border-radius: 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

        .total__label {
          margin-top: 15px;
        }
      }
    }
  }
}
