body.logged {

	main#cp_personal.my_requests {
		float: left;
		width: 100%;

		text-align: center;

		h1 {
			margin-bottom: 65px;

			@include text($robotoR, 24px, #565a64);
			text-align: left;
		}

		.my_requests__table {
			width: 740px;
			margin: 0 auto;

			.my_requests__table-request {

				margin-bottom: 20px;
				padding-bottom: 20px;

				text-align: left;

				&:not(:last-of-type) {
					border-bottom: 1px solid rgba(216,216,216,.8);
				}

				a {
					color: $purple;
					text-decoration: underline;
				}

				> div {
					float: left;

					min-width: 80px;
					max-width: 140px;

					&:not(:last-of-type) {
						margin-right: 45px;
					}

					&.table-request_number,
					&.table-request_time {
						margin-right: 0px;
					}

					&.table-request_status {
						max-width: 80px;

						a {
							position: relative;

							&:before {
								content: '';
								background: url(../img/warning.png);
								background-size: cover;

								position: absolute;
							    
							    left: -31px;
							    top: -1px;
							    
							    width: 23px;
							    height: 20px;
							}
						}
					}

					> div {
						@include text($robotoR, 16px, $black40);
						line-height: 19px;
					}

					> div:first-of-type {
						@include text($robotoM, 16px, $black40);
						line-height: 19px;
						margin-bottom: 10px;
					}
				}
			}

			#create_new_request {
				@extend #send_request;
				margin: 0;
				border-radius: 2px;
			}

			iframe {
				margin: 0 auto;
				margin-top: 60px;
				margin-bottom: 60px;
			}
		}
	}
}

@media screen and (max-width: 767px) {

	body.logged {

		main#cp_personal.my_requests {

			h1 {
				margin-bottom: 30px;
			}

			iframe {
				display: none !important;
			}

			.my_requests__table {
				width: 100%;

				margin: 0;
				padding: 0 5%;

				.my_requests__table-request {

					padding-bottom: 18px;
					margin-bottom: 18px;
					border-bottom: 1px solid #d8d8d8;

					> div {
						max-width: 100%;
						width: 100%;

						> div {
							float: left;

							&:first-of-type {
								min-width: 150px;
							}
						}

						&.table-request_number {
							> div {
								width: auto;
								min-width: auto;
							}
						}

						&.table-request_date {
							> div:nth-of-type(2) {
								&:after {
									content: '.';
								}
							}
							> div:last-of-type {
								margin-left: 10px;
							}
						}

						&.table-request_status {
							position: relative;

							max-width: inherit;

							.modal__requestRework {
								position: inherit;

								&:before {
									left: auto;
									right: 0;
								}
							}
						}

						&.table-request_retry {
							> div:last-of-type {
								max-width: 45%;
							}
						}
					}
				}

				#create_new_request {
					margin-bottom: 70px;
				}
			}
		}
	}
}