main.credit_card_check {
	float: left;
	width: 100%;

	.credit_card_check__container {
		width: 790px;
		margin: 0 auto;

		text-align: center;
	}

	h1 {
		margin-top: 50px;
		margin-bottom: 0px;

		@include text($robotoR, 24px, #3f3f3f);
		line-height: 28px;
		text-align: center !important;
	}

	.credit_card_check__important {
		margin-top: 17px;

		width: 100%;

		text-align: center;

		.important_image {
			display: inline-block;

			width: 32px;
			height: 28px;

			margin-right: 17px;

			vertical-align: middle;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.important_message {
			display: inline-block;

			width: 90%;

			vertical-align: middle;

			@include text($robotoR, 18px, $purple);
			line-height: 21px;
			text-align: left;
		}
	}

	.credit_card_check__credit-card {
		margin: 0;
		margin-top: 30px;

		text-align: center;

		.credit_card {
			display: inline-block;
			position: relative;

			width: 350px;
			height: 200px;

			border-radius: 12px;

			background-color: #8f8f8f;

			&:first-child {
				margin-right: 45px;
			}

			> * {
				position: absolute;
			}

			.credit_card__title {
				top: 20px;
				left: 8%;

				@include text($robotoR, 16px, white);
				line-height: 19px;
				text-align: left;
			}

			.credit_card__barcode {
				top: 30px;

				width: 100%;
				height: 45px;

				background-color: #eaeaea;
			}
		}
	}

	#validate_credit_card {
		@extend #send_request;

		width: 290px;
		height: 50px;

		margin: 0;
		margin-top: 50px;
	}

	.credit_card_check__info {
		width: 100%;

		margin-top: 50px;

		text-align: left;

		p {
			margin: 0;

			@include text($robotoR, 16px, $black40);
			line-height: 21px;
	
			&:not(:last-of-type) {
				margin-bottom: 35px;
			}

			a {
				@include text($robotoM, 16px, $black40);
			}
		}
	}

	// overwrite creditcardjs.js styles
	.hidden-field,
	.ccjs-type-read-only {
		display: none !important;
	}

	.ccjs-card {
		width: 100% !important;
		height: auto !important;
		border-radius: 0;
	    box-sizing: initial;
	    background: inherit;
	    font-size: inherit;
	    font-family: inherit;
	    position: relative;
	    z-index: 1;
	    border: none;

	    label.ccjs-number {
	    	left: 8%;
	    	top: 77px;

	    	width: 84%;

	    	input {
	    		top: 0;
	    		width: 100%;

	    		padding-left: 52px;

				background-color: white;
				border-radius: 2px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	    	}
	    }

	    fieldset.ccjs-expiration {
		    bottom: 35px;
		    right: 50%;
		    margin-right: -74px;

		    width: 9.3em;

		    &:after {
    			left: 4.83em;
		    }

		    select {
				background-color: white;
				border-radius: 2px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
		    }
	    }

		.ccjs-month {
			width: 4.8em;
		}

	    label.ccjs-csc {
	    	right: auto;
	    	left: 50%;
	    	top: 90px;
	    	margin-left: -50px;
			
			width: auto;
			
			@include text($robotoR, 16px, white);
			line-height: 19px;

	    	input {
	    		left: 22px;
	    		top: 30px;
	    		text-align:center;
	    		padding-left: 0;

				background-color: white;
				border-radius: 2px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
	    	}
	    }
	}
}

// crutches
.ccjs-card button:focus, .ccjs-card input:focus, .ccjs-card select:focus, .ccjs-card-style button:focus, .ccjs-card-style input:focus, .ccjs-card-style select:focus {
	border: 1px solid #c7cbce;
	box-shadow: none;
}
.ccjs-card button, .ccjs-card fieldset, .ccjs-card input, .ccjs-card label, .ccjs-card legend, .ccjs-card select, .ccjs-card-style button, .ccjs-card-style fieldset, .ccjs-card-style input, .ccjs-card-style label, .ccjs-card-style legend, .ccjs-card-style select {
	box-sizing: border-box;
}
.ccjs-card input, .ccjs-card select, .ccjs-card-style input, .ccjs-card-style select {
	height: 35px;
}

@media screen and (max-width: 991px) {
	main.credit_card_check {
		.credit_card_check__container {
			width: 90%;
			margin-left: 5%;
		}
		.credit_card_check__credit-card {
			.credit_card {
				width: 330px;

				&:first-child {
					margin-right: 25px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	main.credit_card_check {
		h1 {
			margin-top: 30px;
		}
		.credit_card_check__credit-card {
			.credit_card {
				&:first-child {
					margin-right: 0px;
				}
			}
		}
		.credit_card_check__important .important_image {
			vertical-align: top;
			margin-top: 5px;
		}
		.credit_card_check__important .important_message {
			font-size: 14px;
			width: 80%;
		}
		#validate_credit_card {
			width: 100%;
			max-width: 290px;
		}
	}
}
@media screen and (max-width: 738px) {
	main.credit_card_check {
		.credit_card_check__credit-card {
			.credit_card {
				&:first-child {
					margin-bottom: 25px;
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	main.credit_card_check {
		.credit_card_check__credit-card {
			.credit_card {
				width: 100%;
			}
		}
		.xs-hidden {
			display: none !important;
		}
		.ccjs-card label.ccjs-number input {
			padding-left: 11%;
		}
	}
}


// progressbar styles
.progressbar_container {
	width: 100%;

	text-align: center;

	margin-top: 55px;
	margin-bottom: 50px;

	.progressbar_bar {
		display: inline-block;

		width: 780px;
		height: 10px;

		background-color: #dcd3e6;
		border-radius: 100px;

		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);

		.progressbar_fill {
			position: relative;

			width: 75%;
			height: 100%;

			background-color: #eb8912;
			border-radius: 100px;

			transition: width 1s linear;
			will-change: width;

			.progressbar_percent {
				position: absolute;
				top: -175%;
				right: -11px;
				@include text($robotoR, 12px, $black40);
				line-height: 14px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	main#cp_personal {
		.progressbar_bar {
			width: 100%;
		}
	}
}