body.logged {
	
	main#cp_personal.table {
		margin-bottom: 100px;

		.my_requests__table {
			width: 790px;

			.my_requests__table-request {

				> div {

					&.table-request_status {
						max-width: 130px;
					}

					&.table-request_retry {
						max-width: 175px;
					}
				}
			}

			.current_credits__payment {
				width: 100%;
				margin-top: 40px;

				.current_credits__payment-input {
					float: left;
					width: 290px;

					text-align: left;
					
					> * {
						float: left;
						width: 100%;
					}

					.title {
						@include text($robotoR, 20px, grey);
						line-height: 24px;
					}
					
					input {
						margin-top: 15px;
						padding-left: 7px;

						height: 50px;

						background-color: white;
						border: 1px solid #bebebe;
						border-radius: 5px;
					}

					.warning {
						@include text($robotoR, 13px, #de5358);
						margin-top: 5px;

						opacity: 0;
						transition: opacity 0.3s linear;
						will-change: transition;

						&.active {
							opacity: 1;
						}
					}
				}

				#current_credits_payment {
					@extend #send_request;

					float: right;
					margin: 0;
					margin-top: 39px;

					@include text($robotoM, 16px, white);
					letter-spacing: 0.57px;
					text-transform: uppercase;
				}
			}
		}
	}

	main#cp_personal.form {
		text-align: center;

		.my_requests__table {
			display: inline-block;

			h1 {
				@media (max-width: 767px) {
					margin-bottom: 15px;
				}
			}
		}

		.current_credits__total {
			display: inline-block;

			width: 356px;
			height: 230px;

			background-color: #4e2582;
			border-radius: 10px;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
			color: white;

			.total__row {
				width: 100%;
				padding: 0 5%;

				span.total__summ,
				span.total__payment {
					font-family: $robotoM;
				}

				&:first-child {
					margin-top: 35px;
    				margin-bottom: 35px;
				}

				> span {
					@include text($robotoR, 18px, white);
					line-height: 21px;

					&:first-of-type {
						float: left;
					}
					&:last-of-type {
						float: right;
					}
				}
			}
			.total__label {
			    font-size: 14px;
			    text-align: left;
			    padding: 0 5%;
			    margin-top: 40px;
			}
		}

		#current_credits_payment_2 {
			@include modal_button();

			width: 220px;
			height: 48px;

		    margin-top: 37px;
		    margin-bottom: 50px;
		}
	}

	main#cp_personal.message {
		display: inline-block;
		width: 100%;

		text-align: center;

		padding: 0 5%;

		h1 {
			margin-bottom: 30px;

			@include text($robotoR, 24px, #696d77);
			text-align: center;
			line-height: 28px;
		}
		span.subtitle {
			width: 100%;
			@include text($robotoR, 18px, #696d77);
			text-align: center;
		}
		.check_icon {
			display: inline-block;

			margin-top: 70px;
			margin-bottom: 55px;

			width: 65px;
			height: 65px;

			border-radius: 50%;
			background-color: $purple;

			svg {
			    width: 40%;
			    height: 40%;
			    fill: white;
			    margin-top: 30%;
			}
		}

		#current_credits_payment_3 {
			@include modal_button();

			width: 220px;
			height: 48px;

		    margin-top: 30px;
		    margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: 820px) {
	body.logged {
		main#cp_personal.table {
			padding: 0 3%;

			.my_requests__table {
				width: 100%;

				.table-request_number {
					min-width: 40px;
				}

				.table-request_time {
					min-width: 50px;
				}

				.my_requests__table-request {

					> div {

						&:not(:last-of-type) {
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	body.logged {
		main#cp_personal.table {
			padding: 0;
			.my_requests__table {
				.my_requests__table-request {

					> div.table-request_status,
					> div.table-request_retry {
						max-width: none;
					}

					> div.table-request_retry {
						> div:last-of-type {
							max-width: 47%;
						}
					}
				}
				
				.current_credits__payment {
					.current_credits__payment-input,
					#current_credits_payment {
						width: 100%;
					}
				}
			}
		}
		main#cp_personal.message {
			h1 {
				font-size: 18px;	
			}
			span.subtitle {
				font-size: 14px;
			}
			.check_icon {
				margin-top: 50px;
				margin-bottom: 35px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	body.logged {

		main#cp_personal.form {

			.current_credits__total {
				width: 100%;
			}
		}
	}
}