body.logged {

  main#cp_personal.cabinet_settings {
    float: left;
    position: relative;

    width: 100%;

    &.success {
      .settings__header,
      .settings__content {
        opacity: 0;

        @media #{$mobile} {
          display: none;
        }
      }

      .success_message {
        opacity: 1;

        z-index: 1;

        @media #{$mobile} {
          position: relative;

          margin-bottom: 50px;
        }
      }
    }


  .settings__header {
    width: 720px;

    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 45px;

    transition: opacity .3s ease;
    will-change: opacity;

    h1 {
      margin: 0;

      @include text($robotoR, 24px, #565a64);
      line-height: 28px;
      text-transform: uppercase;
    }

    @media #{$mobile} {
      width: 90%;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .settings__content {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 70px;

    transition: opacity .3s ease;
    will-change: opacity;
  }

  .settings__content--column {
    width: 300px;

    .title {
      float: left;

      margin-bottom: 20px;

      @include text($robotoM, 16px, $black40);
      line-height: 19px;
      text-align: left;
    }

    @media #{$mobile} {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  .modal__inner-part {

    .modal__input-container {
      float: left;
      position: relative;
      width: 100%;
      margin-bottom: 13px;

      span {
        float: left;
        width: 100%;

        @include text($robotoR, 16px, $black40);
        text-align: left;
      }

      input {
        float: left;
        width: 100%;

        height: 50px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #bababa;
        border-radius: 2px;
        transition: border-color .3s linear;
        will-change: border-color;
      }

      .modal__label-warning {
        margin-top: 3px;
        opacity: 0;
        visibility: hidden;

        min-height: 15px;

        transition: opacity .3s linear,visibility .3s;
        will-change: opacity;

        @include text($robotoR, 13px, #bb141a);
      }

      &.incorrect {

        input {
          border-color: #bb141a!important;
        }

        .modal__label-warning {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .settings_content {
      width: 630px;
    }
  }

  @media screen and (max-width: 759px) {
    .settings__content {
      width: 90%;
      margin-left: 5%;
    }
    .settings__content--column {
      width: 100%;
    }
  }

  #save_password,
  #save_email {
    float: right;
    position: relative;

    margin-top: 25px;

    width: 100%;
    height: 50px;

    background-color: $purple;
    border-radius: 5px;

    @include text($robotoR, 16px, white);
    line-height: 50px;
    text-align: center;

    cursor: pointer;

    transition: box-shadow 0.1s linear;
    will-change: box-shadow;

    &:hover {
      box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
    }

    @media #{$mobile} {
      margin-top: 5px;
    }
  }

  .success_message {

    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -245px;

    opacity: 0;
    transition: opacity .3s ease;
    will-change: opacity;

    z-index: -1;

    span {
      width: 100%;
      display: inline-block;
      margin-top: 50px;

      @include text($robotoR, 24px, #696d77);
      line-height: 28px;
    }

    .check_icon {
      display: inline-block;

      margin-top: 50px;

      width: 65px;
      height: 65px;

      border-radius: 50%;
      background-color: $purple;

      svg {
        width: 40%;
        height: 40%;
        fill: white;
        margin-top: 30%;
      }
    }
    @media #{$mobile} {
      position: absolute;
      width: 90%;
      top: 0;
      left: 5%;
      margin-left: 0;
    }

  }
  }
}