//underline current credits section
main#cp_credits.ediniy {
	.credits_types a:nth-of-type(1) {
		border-bottom: 3px solid $purple;
	}
}

main#cp_credits {

	color: white;

	float: left;
	width: 100%;

	.credits_title {

		float: left;
		width: 100%;

		margin-top: 30px;

		text-align: center;

		h1 {
			margin: 0;

			@include text($robotoR, 40px, $purple);
			text-transform: uppercase;
		}
	} 

	.credits_types {

		float: left;
		width: 100%;

		margin-top: 35px;

		text-align: center;
		
		a {
			display: inline-block;
			
			@include text($robotoR, 18px, $black40);
			text-transform: uppercase;
			line-height: 35px;

			&:hover {
				border-bottom: 3px solid $purple;
			}

			&:not(:last-of-type) {
			    margin-right: 100px;
			}
		}
	}

	.credits_info {
		float: left;
		position: relative;
		width: 980px;
		
		left: 50%;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: -495px;

		p {
			@include text($robotoR, 14px, #333741);
			line-height: 22px;
			margin: 25px 0;
		}

		span {
			@include text($robotoM, 16px, #3d3d3d);
			letter-spacing: 0.2px;
			line-height: 19px;
			text-decoration: underline;	
			text-transform: uppercase;
		}
	}
}

body {

	.credits_calculator {

		position: relative;
		float: left;
		width: 1050px;

		left: 50%;
		margin-left: -525px;
		margin-bottom: 60px;
		padding: 13px 35px 27px 31px;

		background-color: rgba(220, 211, 230, 0.5);

		clear: both;

		> span {
			float: left;
			width: 100%;

			margin-bottom: 20px;

			@include text($robotoM, 16px, #3d3d3d);
			text-transform: uppercase;
			text-align: left;
			letter-spacing: 0.2px;
		}

		.calculator__form-container {
			float: left;

			&.summ_time {
				width: 285px;

				margin-right: 60px;
			}

			&.name_city,
			&.tel_office,
			&.promo_send {

				input,
				select {
					width: 100%;
				}
			}
		}

			.calculator__input-container {
				float: left;

				width: 285px;

				margin-bottom: 10px;
				
				&.summ {
					margin-bottom: 10px;
				}
				
				&.city,
				&.office {
					margin-left: 65px;
				}

				.calculator__input-title {
					float: left;
					width: 100%;

					margin-bottom: 13px;

					@include text($robotoR, 16px, $black40);
					text-align: left;
				}

				input,
				select {
					float: left;

					width: 220px;
					height: 50px;

					padding-left: 9px;

					background: white;

					border-radius: 5px;

					border: 1px solid #bebebe;

					@include text($robotoR, 16px, $black21);

					transition: border 0.2s linear;
				}

				.calculator__input-label {
					float: right;

				    margin-top: 15px;

					@include text($robotoR, 16px, $black40);
				}

				.calculator__input-incorrect {
					float: left;
					width: 100%;

					margin-top: 5px;

					clear: both;

					@include text($robotoR, 13px, #de5358);
					text-align: left;

					opacity: 0;
					visibility: hidden;
					transition: opacity 0.2s linear;

				}
			}

			#calculator__send {
				@extend #send_request;
				
				margin-left: 60px;
				margin-top: 32px;

				width: 285px;
				height: 50px;
			}

		// wrong inputs
		.calculator__input-container.wrong {
			
			input,
			select {
				border: 1px solid #bb141a;
			}

			.calculator__input-incorrect {
				opacity: 1;
				visibility: visible;
			}
		}	
	}
}

@media screen and (max-width: 1169px) and (min-width: 992px) {

	main#cp_credits {

		.credits_types a:not(:last-of-type) {
			margin-right: 60px;
		}

		.credits_info {
			width: 910px;
		    margin-left: -455px;
		}

		.credits_calculator {
			width: 970px;
			margin-left: -485px;
			padding-right: 0px;
			padding-left: 30px;
		}
	}

	body {

		.credits_calculator {

			.calculator__form-container.summ_time {
				width: 270px;
				margin-right: 45px;
			}
			.calculator__input-container {
				width: 270px;
			}
			.calculator__input-container.city, 
			.calculator__input-container.office {
				margin-left: 45px;
			}
			#calculator__send {
				margin-left: 45px;
				width: 270px;
			}
		}
	}
}

@media screen and (max-width: 991px) {

	main#cp_credits {

		.credits_types a:not(:last-of-type) {
			margin-right: 50px;
		}

		.credits_calculator {
			width: 750px;
			margin-left: -375px;
			padding-left: 16px;
			padding-right: 16px;
		}

		.credits_info {
			margin-left: -360px;
			width: 720px;
		}
	}

	body {

		.credits_calculator {

			.calculator__form-container {

				&.summ_time {
					margin-right: 0;
					width: 100%;

					input {
						width: 280px;
					}
				}
			}
			
			.calculator__input-container.time,
			.calculator__input-container.city, 
			.calculator__input-container.office {
				margin-left: 30px;
			}

			.calculator__input-container {
				width: 343px;
			}
			
			#calculator__send {
				margin-left: 32px;
				width: 343px;
			}	
		}
	}
}

@media screen and (max-width: 767px) {

	main#cp_credits {

		.credits_types a {
			margin-right: 7px !important;
			margin-left: 7px !important;
			line-height: 20px;
			margin-bottom: 15px;
		}

		.credits_info,
		.credits_calculator {
			margin-left: 0px;
			margin-top: 0px;
			left: 0;
			width: 100%;
			padding: 15px 5%;
		}	
	}

	body {

		.credits_calculator {

			.calculator__input-container {
				width: 100%;

				&.city,
				&.office,
				&.time {
					margin-left: 0px;
				}
			}

			.calculator__form-container {

				&.summ_time input {
					width: 80%;
				}
			}

			.calculator__form-container {
				width: 100%;
			}

			#calculator__send {

				width: 290px;
				left: 50%;
				margin-left: -145px;
			}	
		}
	}
}