main#cp_faq {

  float: left;
  width: 100%;

  padding-bottom: 50px;

  .cp_faq__title {

    h1 {
      margin-top: 25px;
      margin-bottom: 30px;

      @include text($robotoR, 40px, $purple);
      line-height: 47px;
      text-transform: uppercase;

      @media screen and (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 0;

        line-height: 30px;
      }
    }
  }

  .cp_faq__questionsContainer {
    float: left;
    position: relative;

    left: 50%;
    margin-left: -502px;

    width: 1004px;

    clear: both;
  }

  .cp_faq__question {

    &:hover {
      .question_title {
        color: $purple;
      }
    }

    float: left;
    width: 100%;

    position: relative;

    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 0px;

    @include text($robotoR, 14px, #333741);
    line-height: 22px;
    text-align: left;

    background-color: rgba(220, 211, 230, 0);

    cursor: pointer;

    transition: all 0.2s ease;
    will-change: height, background-color;

    overflow: hidden;

    height: auto;

    &.opened {
      cursor: default;

      background-color: rgba(220, 211, 230, 0.5);

      .question_arrow {
        transform: rotate(180deg);
      }

      .question_descr {
        display: block;
        opacity: 1;
      }

      .question_title {
        color: $purple;
      }
    }

    .question_arrow {
      position: absolute;

      left: 5px;
      top: 7.5px;

      width: 24px;
      height: 24px;

      background: url('../img/ic_kak eto rabotaet_arrow.png');
      background-position: center center;

      cursor: pointer;

      will-change: transform;
      transition: transform 0.2s ease;
    }

    .question_title {
      font-family: $robotoB;
    }

    .question_descr {
      display: none;
      opacity: 0;

      transition: opacity 0.2s ease;

      b {
        font-family: $robotoB;
      }

      a {
        color: #333741;
      }
    }
  }

  @media screen and (max-width: 1169px) and (min-width: 992px) {
    .cp_faq__questionsContainer {
      width: 940px;
      margin-left: -470px;
    }
  }

  @media screen and (max-width: 991px) {
    .cp_faq__questionsContainer {
      width: 720px;
      margin-left: -360px;
    }
  }

  @media screen and (max-width: 767px) {
    .cp_faq__questionsContainer {
      margin-left: 0;
      margin-top: 20px;
      left: 0;
      width: 100%;
      padding: 0;
    }
  }
}