main#cp_howitworks {

	color: white;
	float: left;
	width: 100%;

	.cp_howitworks__header {

		float: left;
		width: 100%;

		margin-top: 30px;

		text-align: center;

		h1 {
			margin: 0;

			@include text($robotoR, 40px, $purple);
			text-transform: uppercase;
		}
	}

	.cp_howitworks__container {
		float: left;
		position: relative;

		width: 1150px;

		margin-top: 50px;
		left: 50%;
		margin-left: -575px;
		margin-bottom: 70px;

		text-align: left;
	}

	.cp_howitworks__block {
		float: left;
		width: 100%;

		margin-bottom: 75px;

		text-align: left;

		&.clear {
			margin-bottom: 0px;
			clear: both;
		}

		.cp_howitworks__block-icon {
			float: left;
			width: 45px;
			height: 40px;

			background-position: center center;
			background-repeat: no-repeat;

			&.list {
				background-image: url('../img/ic_kak eto rabotaet_kredit.png');
			}
			&.money {
				background-image: url('../img/ic_kak eto rabotaet_money.png');
			}
			&.time {
				background-image: url('../img/ic_kak eto rabotaet_time.png');
			}
			&.photo {
				background-image: url('../img/ic_kak eto rabotaet_photo.png');
			}
		}

		.cp_howitworks__block-title {
			
			float: left;

		    margin-left: 20px;
		    height: 40px;

			@include text($robotoM, 16px, #3d3d3d);
			letter-spacing: 0.2px;
			line-height: 40px;

			span {
			    display: inline-block;
    			vertical-align: middle;	
    			line-height: 18px;
			}
		}

		.cp_howitworks__block-text {

			float: left;
			width: 100%;

			margin-top: 25px;
			
			@include text($robotoR, 14px, #333741);
			line-height: 16px;
		}
	}

	.cp_howitworks__faq {
		float: left;

		margin-top: 30px;

		.cp_howitworks__faq-icon {
			float: left;

			margin-left: 5px;

			width: 32px;
			height: 32px;

			border-radius: 50%;

			@include text($robotoR, 26px, white);
			text-align: center;

			background-color: $purple;

			cursor: default;
		}

		.cp_howitworks__faq-text {
			float: left;

		    margin-left: 25px;
    		margin-top: 5px;
	
			@include text($robotoM, 16px, $purple);
			letter-spacing: 0.2px;
			line-height: 19px;

			border-bottom: 1px solid $purple;
		}
	}

}

@media screen and (max-width: 1169px) {
	main#cp_howitworks {
		
		.cp_howitworks__container {
			margin-left: -428px;
			width: 856px;
		}

		.cp_howitworks__block .cp_howitworks__block-icon {

			background-size: contain;
			
			&.list {
				background-image: url('../img/ic_kak eto rabotaet_kredit@2x.png');
			}
			&.money {
				background-image: url('../img/ic_kak eto rabotaet_money@2x.png');
			}
			&.time {
				background-image: url('../img/ic_kak eto rabotaet_time@2x.png');
			}
			&.photo {
				background-image: url('../img/ic_kak eto rabotaet_photo@2x.png');
			}
		}
	}
}

@media screen and (max-width: 992px) {
	main#cp_howitworks {
		
		.cp_howitworks__container {
			margin-left: -290px;
			width: 580px;
		}

		.cp_howitworks__block .cp_howitworks__block-title {
			max-width: 500px;
		}
	}
}

@media screen and (max-width: 767px) {
	main#cp_howitworks {
		
		.cp_howitworks__container {
			margin-left: 0px;
			margin-top: 30px;
			left: 0;
			width: 100%;
			padding: 0 5%;
		}

		.cp_howitworks__block {

			margin-bottom: 40px;

			.cp_howitworks__block-title {
				width: 75%;
				height: auto;
				max-width: 500px;
			}
		} 
	}
}