// Стили после смены плагина для range input
.irs {
    display: block;
    position: relative;
    clear: both;

    height: 15px;

    float: left;

    .irs-line {
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	    border-radius: 10px;
	    background: #dcd3e6;
	    height: 15px;
	    width: 540px;
	    top: 0;
	}

	.irs-bar,
	.irs-bar-edge {
		height: 15px;
		background: $orange;
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	    border: none;
	    top: 0;
	}
	.irs-bar-edge {
		top: 0;
		width: 19px;
		box-shadow: inset 2px 1px 3px rgba(0,0,0,.3);
	}

	.irs-min,
	.irs-max,
	.irs-from,
	.irs-top,
	.irs-single {
		display: none;
	}

	.irs-line {
		top: 0;
	}

	.irs-slider {
		top: -9px;
		background: white;
		border: 4px solid $purple;
		width: 33px;
		height: 33px;
		text-align: center;

		span {
			display: inline-block;
			margin-top: 6px;
			border-radius: 50%;
			height: 13px;
			width: 13px;
			background: $orange;
		}
	}
}
// Стили после смены плагина для range input END

input[type="number"] {
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}

.ripple-button {
	position: relative;
	overflow: hidden;
}
.ripple-button .ink.animate {animation: ripple 0.75s linear;}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}

* {
    box-sizing: border-box;

    &:not(input):not(textarea) {
	    -webkit-touch-callout: none;
	    -webkit-text-size-adjust: none;
	    -webkit-tap-highlight-color: transparent;
	    -webkit-user-select: none;
	}

	&:focus {
	    outline: none;
	}
}

.bx-viewport {
	overflow: visible !important;
}

//hide spin (increment/decrement buttons) from input type='number'
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
	cursor: pointer;

	text-decoration: none;

	&:active {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}

picture {
	float: left;
}

img {
	float: left;
}

section {
	float: left;

	width: 100%;
}

/* .ink styles - the elements which will create the ripple effect. */
.ink {
	display: block; position: absolute;
	background: rgba(255,255,255,0.2);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.5s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

//indicator for opened side menu
body.side_menu_active {
	@media screen and (max-width: 1169px) {
		overflow: hidden;
		width: 100%;
		height: 100%;
		min-height: 100%;
		left: 0;
		top: 0;
	}

	@media (max-width: 767px) {
		position: fixed
	}
}



main#cp_main {
	float: left;
	width: 100%;
}
// -----------------------------------------------  Section one - slider  ----------------------------------------------- //

#first_screen {
	height: 804px;

	background-image: url('../pic/main_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

	h1 {
		margin-top: 65px;
    	margin-bottom: 15px;

		width: 100%;

		@include text($robotoM, 36px, $purple);
		text-align: center;
	}

	#first_screen > span {
		float: left;

		@extend h1;
		margin:0;

		@include text($robotoR, 24px, black);
	}

	//container on the main screen
	.price_box {
		float: left;
		position: relative;

		left: 50%;
		margin-left: -570px;
		margin-top: 50px;

	    width: 1140px;
	    height: 500px;

	    > * {
	    	height: 100%;
	    	float: left;
	    }
	}

		//containers left side
		.price_input {
			width: 66%;

			border-radius: 10px 0 0 10px;

			background-color: white;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

			> div {
				width: 100%;
				float: left;
			}
		}

			.input_sliders {

				&.loading {
					visibility: hidden;
				}
				
				height: 385px;

				padding-left: 30px;

				h2 {
					margin-top: 35px;

					@include text($robotoR, 28px, $black40);
				}

				> div {
					float: left;
					position: relative;

					width: 100%;

					&.slider_summ {
						margin-bottom: 70px;
					}

					.forNumber,
					.forDate {
						position:absolute;

						top: 55px;

						@include text($robotoR, 18px, $purple);
					}
					.forNumber {
					    right: 51px;
					}
					.forDate {
						right: 65px;
					}

					> span:first-child {
						float: left;

						margin-bottom: 30px;

						@include text($robotoR, 20px, $black21);
					}

					.range-number {
						position: absolute;

						top: 90px;

						@include text($robotoR, 18px, $black21);

						&.range-min {
							left: 0;
						}
						&.range-max {
							right: 183px;
						}
					}
				}
			}
				.input_number,
				.rangeslider {
					float: left;
				}
				.input_number {
					margin-left: 27px;
					margin-top: -12px;

					width: 105px;

					border: none;
					border-bottom: 1px solid $purple;

					@include text($robotoB, 34px, $purple);
					line-height: 35px;

				}
				.rangeslider {
					clear: both;
				}


			.input_pros {
				height: 115px;

				border-radius: 0 0 0 10px;

				background-color: #dcd3e6;

				> div {
					float: left;

					margin-left: 100px;
					padding-top: 25px;

					height: 100%;
					width: 100px;

					text-align: center;
					
					&:first-of-type {
						margin-left: 119px;
					}

					img {
						width: 26px;
						height: 24px;

						margin-left: 37px;
						margin-bottom: 14px;
					}

					span {
					    width: 100%;
					    float: left;

					    @include text($robotoR, 16px, $purple);
					}
				}
			}
		
		//containers right side
		.price_output {
			width: 34%;

			border-radius: 0 10px 10px 0;

			background-color: $purple;

			span {
				@include text($robotoR, 20px, white);
			}

			> span:first-of-type {
				float: left;

				margin-top: 51px;

				width: 100%;

				text-align: center;
			}
		}

			.credit_type {
				position:relative;
				float: left;
				
				margin-top: 37px;

				width: 100%;
				height: 54px;

				> span {
					float: left;
					position: relative;

					height: 100%;
					width: 50%;

					text-align: center;
					line-height: 54px;

					cursor: pointer;

					overflow: hidden;
				}

				> div {
					position: absolute;

					bottom: -3px;

					height: 3px;
					width: 50%;

					background-color: white;

					transition: left 0.3s ease;
					will-change: left;

					.price_output.cash & {
						left: 0;
					}
					.price_output.card & {
						left: 50%;
					}
				}

				> hr {
					position: absolute;

					margin: 0;
					left: 0;
					bottom: -4px;

					height: 0px;
					width: 100%;

					border: none;
					border-top: 1px solid rgba(0,0,0,0.26);
				}
			}
			
			.credit_type_mobile {
				display: none;
			}

			.credit_final {
				float: left;

				margin-top: 32px;
				padding: 0px 17px 0px 14px;

				width: 100%;

				&#credit_final_mobile {
					display: none;
				}
				&#credit_final_desktop {
					display: block;
				}

				> div {

					&:not(:last-of-type) {
						margin-bottom: 24px;
					}

					> div {
						float: right;

						margin-top: -4px;

						> span:nth-child(2) {
							font-size: 18px;
						}
					}
				}

				#credit_final_summ,
				#credit_final_date,
				#credit_final_using {
					@include text($robotoB, 24px, white);
				}
			}

			#credit_get {
				float: left;

				margin-top: 82px;
				margin-left: 58px;

				width: 272px;
				height: 50px;
				
				background-color: $orange;

				border-radius: 5px;

				@include text($robotoM, 16px, white);
				text-align: center;
				line-height: 50px;

				cursor: pointer;

				transition: box-shadow 0.1s linear;
				will-change: box-shadow;

				&:hover {
					box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
				}
			}
// -----------------------------------------------  Section one - slider  END-------------------------------------------- //

// -----------------------------------------------  Section two - how to get credit ------------------------------------- //

#second_screen {
	float: left;
	position: relative;

	width: 100%;
	height: 633px;

	background: white;

	text-align: center;

	h2 {
		margin: 0;
		margin-top: 55px;

		width: 100%;

		@include text($robotoR, 30px, $black40);
		text-align: center;
	}
}
	.content_box {
		float: none;
		display: inline-block;

		margin-top: 105px;

		.content_item {
			width: 230px;
			height: auto;

			float: left;
			
			.content_image {
				position: relative;
				float: left;

				width: 100%;
				height: 93px;

				img {
				  height: 95px;
				  width: auto;
				  
				  margin: auto;
				  position: absolute;

				  top: 0; 
				  left: 0; 
				  bottom: 0; 
				  right: 0;
				}
			}

			.content_text {
				float: left;
				
				margin-top: 60px;

				width: 100%;
				height: auto;

				@include text($robotoR, 18px, $black40);
				line-height: 24px;
				text-align: center;
			}
		}

		.content_arrow_right,
		.content_arrow_left {
			float: left;

			margin-left: 25px;
			margin-right: 25px;
			margin-top: 34.5px;

			width: 13px;
			height: 24px;
		}
	}

	#send_request {
		@extend #credit_get;

		float: none;
		display: inline-block;

		margin: 72px 0 0 0;

		background-color: $purple;
	}

// -----------------------------------------------  Section two - how to get credit END --------------------------------- //

// -----------------------------------------------  Section three - video ----------------------------------------------- //

#third_screen {
	float: left;

	width: 100%;
	height: 725px;

	text-align: center;

	background-color: #dcd3e6;

	h2 {
		margin: 0;
		margin-top: 55px;

		width: 100%;

		@include text($robotoR, 30px, $purple);
		text-align: center;
	}

	iframe {
		display: inline-block;

		margin-top: 50px;
	}
}

// -----------------------------------------------  Section four - how to close ----------------------------------------- //

#fourth_screen {
	float: left;
	position: relative;

	width: 100%;
	height: 633px;

	background: white;

	text-align: center;

	h2 {
		margin: 0;
		margin-top: 55px;

		width: 100%;

		@include text($robotoR, 30px, $black40);
		text-align: center;
	}
}
	
	#close_current_credit {
		@extend #send_request;

		margin-top: 85px;
	}
// -----------------------------------------------  Section four - how to close END ------------------------------------- //

// -----------------------------------------------  Section five - location --------------------------------------------- //

#fifth_screen {
	float: left;
	position: relative;

	width: 100%;
	height: 875px;

	h2 {
		margin: 0;
		margin-top: 55px;
		margin-bottom: 85px;

		width: 100%;

		@include text($robotoR, 30px, $black40);
		text-align: center;
	}
}

	.address_options {
		position: relative;
		float: left;

		width: 100%;
		height: 50px;

		text-align: center;

		.select-wrapper {
			position: relative; 
			display: inline-block;

			width: 360px;
			height: 50px;

			vertical-align: top;

			border: 1px solid $purple;
			border-radius: 5px;

			&.region {
				margin-right: 30px;
			}
	
			&.city {
				margin-right: 80px;
			}

			&:after {
				content: '';
				position: absolute;

				border: none !important;

			    right: 5px;
			    top: 14px;

			    width: 24px;
			    height: 24px;

				background: url('../img/ic_kak eto rabotaet_arrow.png');
			}
		}

		select {
			width: 100%;
			height: 100%;

			padding-left: 5px;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			border: none;
			background: transparent;
			
			@include text($robotoR, 16px, rgba(0, 0, 0, 0.87));

			&[disabled] {
				cursor: not-allowed;
			}
		}

		#find_nearest_office {
			@extend #send_request;

			margin: 0;

			width: 300px;
		}
	}

	#map {
		float: left;
		
		margin-top: 78px;

		width: 100%;
		height: 570px;
	}
// -----------------------------------------------  Section five - location  END ---------------------------------------- //

// -----------------------------------------------  Section five - news  ------------------------------------------------ //

#sixth_screen {
	float: left;
	position: relative;

	width: 100%;
	height: 755px;

	text-align: center;
}

	.cashPoint_about {
		display: inline-block;

		margin-top: 67px;

		.about_item {
			float: left;

			width: 360px;
			
			&:not(:last-child) {
				margin-right: 30px;
			}

			> div {
				float: left;

				width: 100%;

				text-align: center;
			}
			
			.about_icon {
				height: 60px;

				img,
				picture {
					height: 100%;
					width: auto;
				}
				picture {
				    display: inline-block;
				    float: none;
				}
			}

			.about_number {
				margin-top: 10px;
				margin-bottom: 10px;

				@include text($robotoB, 80px, $orange);
			}

			.about_label {
				@include text($robotoR, 18px, $black40);
			}

		}

	}

		.cashPoint_news {
			display: inline-block;

			margin-top: 75px;

			.news_item {
				float: left;

				width: 360px;
				
				&:not(:last-child) {
					margin-right: 30px;
				}

				.news_header {
					float: left;

					width: 100%;
					height: 80px;

					@include text($robotoB, 18px, $black40);
					text-align: left;
					text-decoration: underline;

					> a {
						color: $black40;
					}
				}

				.news_preview {
					float: left;

					width: 100%;
					height: auto;

					@include text($robotoR, 14px, grey);
					text-align: left;
					line-height: 24px;
				}

				.news_date {
					float: left;
					
					margin-top: 18px;

					width: 100%;
					height: auto;

					@include text($robotoR, 12px, $purple);
					text-align: left;

					> div {
						float: left;
						
						width: 10px;
						height: 10px;

						margin-right: 4px;
						margin-top: 2px;

						border-radius: 50%;
						
						background-color: $purple;
					}
				}
			}
		}

		#all_news {
			@extend #send_request;

			margin-top: 90px;
		}

// -----------------------------------------------  Section five - news  END -------------------------------------------- //

// tablet landscape (>=1169px) 
@media screen and (max-width: 1169px) {

	//first screen
	.price_box {
		width: 980px;
		margin-left: -490px;

		.irs .irs-line {
			width: 435px;
		}

		.input_pros > div:first-of-type {
			margin-left: 65px;
		}

		#credit_get {
			margin-left: 30.49px;
		}
	}

	//second screen
	.content_box .content_item {
		width: 210px;
	}
	.content_box .content_arrow_left, 
	.content_box .content_arrow_right {
		margin-left: 18px;
		margin-right: 18px;
	}
	#all_news, #close_current_credit, #send_request {
		margin: 60px 0 0;
	}

	//fifth screen
	.address_options .select-wrapper {
		width: 270px;
	}
	.address_options #find_nearest_office {
		width: 285px;
		margin-top: 0px;
	}

	//sixth screen
	.cashPoint_about .about_item,
	.cashPoint_news .news_item {
		width: 300px;
	}
	#all_news {
		margin-top: 70px;
	}
}

// tablet portrait (>= 991px)
@media screen and (max-width: 991px) {

	//first screen
	.price_box {
		width: 750px;
		margin-left: -375px;
	}
	.input_sliders h2 {
		font-size: 26px;
	}
	.irs .irs-line {
	    width: 428px;
	}
	.input_number {
	    margin-top: -70px;
	    margin-left: 321px;
	}
	.input_sliders>div .forDate, .input_sliders>div .forNumber {
		top: 10px;
	}
	.input_sliders>div .forNumber {
		right: 38px;
	}
	.input_sliders>div .forDate {
		right: 50px;
	}
	.input_sliders>div .range-number.range-max {
		right: 40px;
	}
	.input_pros>div {
		margin-left: 65px;
	}
	.price_box .input_pros>div:first-of-type {
		margin-left: 27px;
	}
	.price_box #credit_get {
		width: 210px;
		margin-left: 22.5px;
	}
	.price_output span {
		font-size: 17px;
	}
	.credit_final #credit_final_date, .credit_final #credit_final_summ, .credit_final #credit_final_using {
		font-size: 19px;
	}
	.credit_final>div>div {
		margin-top: -1px;
	}
	.credit_final {
		padding: 0 10px 0 10px;
	}

	//second screen
	.content_box .content_arrow_left, .content_box .content_arrow_right {
		margin-left: 12px;
		margin-right: 12px;
	}
	.content_box .content_item {
		width: 160px;
	}
	.content_box .content_item .content_text {
		margin-top: 40px;
	}
	.content_box {
		margin-top: 65px;
	}
	#send_request {
		margin: 55px 0 0;
	}

	//third screen
	#third_screen iframe {
		width: 750px;
	}

	//fourth screen
	#fourth_screen {
		height: 530px;
	}

	//fifth screen
	#fifth_screen h2 {
	    margin: 55px 0 45px;
	}
	.address_options #find_nearest_office {
	    display: block;
    	margin: 0 auto;	
        margin-top: 35px;
	}
	.address_options .select-wrapper.region {
		margin-right: 50px;
	}
	.address_options .select-wrapper.city {
		margin-right: 0;
	}
	#map {
		margin-top: 135px;
	}

	//sixth screen
	.cashPoint_about .about_item:not(:last-child), .cashPoint_news .news_item:not(:last-child) {
		margin-right: 20px;
	}
	.cashPoint_about .about_item, .cashPoint_news .news_item {
		width: 235px;
	}
}

// mobile phones ( < 768px) 
@media screen and (max-width: 767px) {
	
	//first screen
	#first_screen {
		background: white;
		height: auto;
	}
	#first_screen>span, h1 {
		margin-top: 30px;
		font-size: 22px;
		margin-bottom: 0vmin;
	}
	#first_screen > span {
		margin-top: 16px;
		font-size: 17px;
	    width: 60%;
    	margin-left: 20%;
		margin-bottom: 20px;
	}
	.price_box {
		width: 100%;
		height: auto;
		left: 0;
		margin: 0! important;
		margin-top: 30px;
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	}
		.price_input {
			width: 100%;
			float: left;
			border-radius: 0;
			box-shadow: none;
		}
			.input_pros {
				display: none;
			}
			div.input_sliders {
				width: 90%;
				margin-left: 5%;
				padding: 0;

				height: 360px;

				> h2 {
					display: none;
				}

				.irs {
					width: 100%;
					margin-top: 43px;

					.irs-line {
						width: 100%;
						top: -43px;
					}

					.irs-bar,
					.irs-bar-edge {

					}
				} 

				> div {

					.range-number.range-max {
						right: 3px;
					}

					.input_number {
						margin-left: 0px;
						margin-top: -73px;
					}

					.range-number {
						top: 125px;
					}

					.forDate,
					.forNumber {
						top: 50px;
						right: auto;
					}

					.forDate {
						left: 50px;
					}
					.forNumber {
						left: 82px;
					}
				}
			}

		.price_output {

			position: relative;

			width: 100%;

			border-radius: 0;

			background: white;

			text-align: center;

			span {
				@include text($robotoM, 6vmin, $purple);
			}

			> span:first-of-type {
				margin-top: 40px;
			}

			.credit_type {

				margin-top: 15px;

				> div,
				> hr {
					display: none;
				}

				> span {
					@include text($robotoR, 6vmin, $purple);
					background-color: #dcd3e6;

					transition: all 0.2s linear;
					will-change: color, background-color;
				}

			}
			
			.credit_type_mobile {
				display: inline-block;
				
				height: 26px;

				margin-top: 28px;
    			padding-left: 35px;
    			margin-left: -50px;

    			background: url('../img/cash_card_mobile.png') no-repeat;
    			background-size: auto 193%; 

				@include text($robotoR, 21px, $black21);
				line-height: 1.1;

				transition: background-position 0.2s linear;
				will-change: background-position;

    			&:after {
    				content: 'гр.';

    				position: absolute;

    				bottom: 85px;
    				left: 50%;
    				margin-left: 31px;

    				z-index: 5;

    				@include text($robotoR, 18px, $purple);
    			}
			}

			.credit_final {
				margin-top: 0px;
				padding: 0 5%;
				text-align: left;
				
				&#credit_final_mobile {
					display: block;
				}
				&#credit_final_desktop {
					display: none;
				}

				> div > span {
					color: $black21;
				}

				#credit_final_date, 
				#credit_final_summ, 
				#credit_final_using {
					color: $black40;
					font-size: 6vmin;
				}
				
				> div > div {
					margin-top: 0;
				}

				> div > div > span:nth-child(2) {
					color: grey;
				    font-size: 5vmin;
				}

				> div:not(:last-of-type) {
					margin-bottom: 15px;
				}
			}
			
			#number_summ {
				position: relative;

				left: 50%;
				margin: 0;
				margin-left: -52.2px;
				margin-top: 80px;

				clear: both;
			}

			#credit_get {
				width: 290px;

				left: 50%;
				margin: 0;
				margin-left: -145px;
				margin-top: 30px;

				clear: both;

    			background-color: $purple;
			}
		}
			// indicator classes. reacting for .price_output class change
			.price_output.card #card,
			.price_output.cash #cash {
				background-color: $purple;
				color: white;
			}
			.price_output.cash .credit_type_mobile {
				background-position: 0% 100%;
			}
			.price_output.card .credit_type_mobile {
				background-position: 0% 2px;
			}

	//second screen
	#second_screen {
		overflow: hidden;
		height: 480px;

		border-bottom: 1px solid rgba(0, 0, 0, 0.26);

		h2 {
			margin-top: 35px;
			font-size: 22px;
		}

		#send_request {
			margin-top: 70px;
		}
	}

	/* the code below adapts sections for bxSlider plugin */
	.content_box {
		margin-top: 50px;

		.content_arrow_left,
		.content_arrow_right {
			display: none;
		}

		.content_item {

			.content_text {
				margin-left: 10%;

				width: 80%;

				min-height: 72px;
			}
		}
	}
	.bx-controls {
		position: absolute;

		top: 160px;
		padding: 0 5%;

		width: 100%;

		z-index: 10;
	}
		.bx-controls a {
			width: 13px;
			height: 24px;

			background: url('../img/ic_main_arrow.png') no-repeat;
			background-size: cover;
			
			&.bx-prev {
				float: left;
				transform: rotate(180deg);
			}
			&.bx-next {
				float: right;
			}

			&.disabled {
				display: none !important;
			}
		}

	//third screen 
	#third_screen {
		height: 400px;

		h2 {
			margin-top: 35px;
    		font-size: 22px;
		}

		iframe {
			margin-top: 7vmin;

			width: 100%;
			height: 250px;
		}
	}

	//fourth screen
	#fourth_screen {
		overflow: hidden;
		height: 455px;

		border-bottom: 1px solid rgba(0, 0, 0, 0.26);

		h2 {
			margin-top: 35px;
    		font-size: 22px;
		}

		#close_current_credit {
			margin-top: 45px;
		}
	}

	//fifth screen
	#fifth_screen {
		height: auto;

		h2 {
			margin-top: 35px;
    		font-size: 22px;
    		margin-bottom: 30px;
		}
	}
	
	.address_options .select-wrapper {
			display: block;
			float: left;

			width: 90%;

			margin-left: 5%;
			margin-bottom: 25px;

			border-radius: 0;
			border: none;
			border-bottom: 1px solid $purple;
			background: transparent !important;
	}

	#map {
			margin-top: 175px;
			height: 400px;
	}

	//sixth screen
	#sixth_screen {
		height: auto;

		.cashPoint_about {
			display: none;
		}

		.cashPoint_news {
			float: left;
			display: block;

			width: 90%;
			margin-left: 5%;
			margin-top: 20px;

			.news_item {
				width: 100%;
				margin: 0;

				margin-bottom: 35px;

				.news_header {
					height: auto;
				}

				.news_preview {
					display: none;
				}	

				.news_date {
					margin-top: 10px;
				}
			}

		}

		#all_news {
			margin-top: -10px;
			margin-bottom: 5px;

			height: auto;
			width: auto;

			background: none;

			color: $purple;
			text-decoration: underline;

			border: none;

			&:hover {
				box-shadow: none;
			}	
		}
	}

}

@media screen and (max-width: 767px) and (min-width: 361px) {
	//fourth screen костыль
	#close_current_credit {
		margin-top: 60px;
	}
}

span.irs-slider.single:active {
	transform: scale(1.1);
}