main#cp_news {

	color: white;

	float: left;
	width: 100%;

	.cp_news__header {

		float: left;
		width: 100%;

		margin-top: 30px;

		text-align: center;

		h1 {
			margin: 0;

			@include text($robotoR, 40px, $purple);
			text-transform: uppercase;
		}
	}

	.cp_news__newsContainer {
		float: left;
		position: relative;

		width: 1150px;

		margin-top: 70px;
		left: 50%;
		margin-left: -575px;

		text-align: left;
	}

		.cp_news__title {
			float: left;
			width: 100%;

			@include text($robotoM, 16px, $purple);
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 0.2px;
			line-height: 19px;
		}

		.cp_news__date {
			float: left;
			position: relative;
			width: 100%;

			margin-top: 25px;
			padding-left: 14px;

			@include text($robotoM, 12px, $purple);
			line-height: 14px;

			&:after {
				content: '';
				position: absolute;

				left: 0px;
				top: 3.2px;

				height: 6px;
				width: 6px;

				border-radius: 50%;
				background-color: $purple;
			}
		}

		.cp_news__content {
			float: left;
			position: relative;
			width: 100%;

			margin-top: 8px;
			margin-bottom: 70px;

			@include text($robotoR, 14px, grey);
			line-height: 24px;
		}	

		#show_all_news {
			@extend #send_request;
			width: 230px;

			float: left;

			left: 50%;
			margin-left: -115px;
			margin-bottom: 70px;
			margin-top: 0;

			text-transform: uppercase;

			clear: both;
		}	
}

@media screen and (max-width: 1169px) {
	main#cp_news {

		.cp_news__newsContainer {
			width: 854px;
			margin-left: -427px;
		}
	}
}

@media screen and (max-width: 992px) {
	main#cp_news {

		.cp_news__newsContainer {
			width: 626px;
			margin-left: -313px;
		}
	}
}

@media screen and (max-width: 767px) {
	main#cp_news {

		.cp_news__newsContainer {
			margin-left: 0px;
			margin-top: 35px;
			left: 0;
			width: 100%;
			padding: 0 5%;
		}
	}
}