main#cp_payment {

    float: left;
    position: relative;

    width: 100%;

  .payment__header {
    margin-top: 50px;
    margin-bottom: 25px;

    h1 {
      margin: 0;

      font-size: 43px;
      text-transform: uppercase;
    }
  }

  .payment__content {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .payment__content--column {
    width: 300px;

    h2 {
      @include text($robotoR, 24px, $black40);
      text-transform: uppercase;
      line-height: 30px;
      width: 350px;
    }

    h3 {
      @include text($robotoR, 14px, #333741);
      line-height: 22px;
    }

  }

  .modal__inner-part {

    .modal__input-container {
      float: left;
      position: relative;
      width: 100%;
      margin-bottom: 13px;

      span {
        float: left;
        width: 100%;

        @include text($robotoR, 16px, $black40);
        text-align: left;
      }

      input {
        float: left;
        width: 100%;

        height: 50px;
        margin-top: 13px;
        padding-left: 10px;
        border: 1px solid #bababa;
        border-radius: 2px;
        transition: border-color .3s linear;
        will-change: border-color;
      }

      .modal__label-warning {
        margin-top: 3px;
        opacity: 0;
        visibility: hidden;

        transition: opacity .3s linear,visibility .3s;
        will-change: opacity;

        @include text($robotoR, 13px, #bb141a);
      }

      &.incorrect {

        input {
          border-color: #bb141a!important;
        }

        .modal__label-warning {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .modal__action {
      @include modal_button();
    }

    .modal__links {
      margin-top: 20px;

      @include text($robotoR, 16px, $purple);
      text-align: center;
      text-decoration: underline;
    }
  }

  #payment__pay {
    @include modal_button();

    margin-top: 32px;
    border-radius: 5px;
  }

  #payment__login {
    border-radius: 5px;
  }

  @media screen and (max-width: 992px) {
    .payment__content {
      width: 630px;
    }
  }

  @media screen and (max-width: 759px) {
    .payment__content {
      width: 90%;
      margin-left: 5%;
    }

    .payment__header {
      margin-top: 30px;
      margin-bottom: 10px;

      h1 {
        font-size: 30px;
      }
    }

    .payment__content--column {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      h2 {
        width: 100%;
      }
    }

    #payment__pay {
      margin-top: 10px;
    }
  }
}