footer
	.footer_center
		.footer_logo
		.footer_other_pages.
			<a href="/cashpoint/www/main.html">Главная</a>
			<a href="/cashpoint/www/credits.html">Кредиты</a>
			<a href="/cashpoint/www/address.html">Адреса</a>
			<a href="/cashpoint/www/about_press.html">О компании</a>
			<a href="/cashpoint/www/news.html">Новости</a>
		.footer_copyright © 2011-2016 Cash Point
		.footer_contacts.
			<a href="tel:0800303032">Гарячая линия &nbsp 0 (800) 30 30 32</a>
			<hr>
			<a href="http://cashpoint.ua">cashpoint.ua</a>
			<hr>
			<a href="mailto:info@cashpoint.ua">info@cashpoint.ua</a>
		.footer_info
			|Воспользуйтесь соответствующей кнопкой в личном кабинете и оплатите кредит со своей банковской платёжной карты;  Перечисляйте неоходимую сумму на наш счёт через любой банк в Украине. В назначении платежа обязательно укажите № договора кредита и ФИО.
			|Перечисляйте неоходимую сумму на наш счёт через любой банк в Украине. В назначении платежа обязательно укажите № договора кредита и ФИО.Воспользуйтесь соответствующей кнопкой в личном кабинетеи оплатите кредит со своей банковской платёжной карты; Перечисляйте неоходимую сумму на наш счёт через любой банк в Украине. В назначении платежа обязательно укажите № договора кредита и ФИО.