script.
	document.createElement("picture");
	var baseUrl = location.origin;
include ./svg.pug
// header
header
	.header_menu_icon
		span
		span
		span
	.black_bg
	.side_menu.overflow-y-scroll
		.side_menu_header
			.side_menu__logo_number
				img.side_menu__logo-header(src="img/logo_header.png", alt="Cash Point - Кредиты без залога")
				span
					img(src="img/mobile_header_call.png") 
					a(href="tel:0 (800) 30 30 32") 0 (800) 30 30 32
			.side_menu_close
				span
				span
		.side_menu_nav
			.side_personal_cabinet
				span Личный кабинет
				.triangle
				a.modal__auth Авторизироваться
				a.modal__registration Зарегистрироваться
				a.modal__passwordRecovery Восстановить пароль
				.logged.side_menu_greetings
					div Здравствуйте,&nbsp
						span.userName Владимир
				a.logged(href='/cashpoint/www/cabinet_firstStep.html') Новая заявка
				a.logged(href='/cashpoint/www/cabinet_currentCredits_1.html') Текущие кредиты
				a.logged(href='/cashpoint/www/cabinet_zayavki.html') Мои заявки
				a.logged(href='/cashpoint/www/cabinet_firstStep_confirm.html') Персональные данные
				a.logged(href='/cashpoint/www/cabinet_settings.html') Настройки кабинета
				a.logged(href='/cashpoint/www/main.html') Выйти из кабинета
			a(href="/cashpoint/www/how_it_works.html"): span Как это работает
			a(href="/cashpoint/www/address.html"): span Адреса
			a.modal__openCalculator: span Получить кредит
			a(href="/cashpoint/www/payment.html"): span Оплата
			a(class="modal__askQuestion"): span Задайте вопрос
		.side_menu_footer
			a.side_language.current Ru
			a.side_language Ua
			a.side_callback(href="tel: 0800303032"): img(src="img/side_callback.png", alt="Cash Point - Кредиты без залога")
	.header_logo_call
		picture.
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source srcset="img/logo_header.png" media="(max-width: 1920px)">
			<source srcset="img/logo_header@2x.png" media="(min-width: 1921px)">
			<!--[if IE 9]></video><![endif]-->
			<a href="/cashpoint/www/main.html"><img src="img/logo_header@2x.png" class="header_logo" alt="Cash Point - Кредиты без залога"></a>
		.header_call
			img(src="img/ic_main_call@2x.png", alt="Cash Point - всегда рады Вашему звонку.")
			a(href="tel: 0800303032") Горячая линия 0 (800) 30 30 32
	.header_help_languages
		nav
			a(href="/cashpoint/www/how_it_works.html"): span Как это работает
			| 
			a(href="/cashpoint/www/address.html"): span Адреса
			| 
			a.modal__openCalculator: span Получить кредит
			|&nbsp
			a(href="/cashpoint/www/payment.html"): span Оплата
			#personal_cabinet
				span Личный кабинет
				.personal_cabinet_menu
					div Личный кабинет
					a.modal__auth Авторизироваться
					a.modal__registration Зарегистрироваться
					a.modal__passwordRecovery Восстановить пароль
					.logged Привет, 
						span.userName %verylongusernamethatdoesntfit%
					a.logged(href='/cashpoint/www/cabinet_firstStep.html') Новая заявка
					a.logged(href='/cashpoint/www/cabinet_currentCredits_1.html') Текущие кредиты
					a.logged(href='/cashpoint/www/cabinet_zayavki.html') Мои заявки
					a.logged(href='/cashpoint/www/cabinet_firstStep_confirm.html') Персональные данные
					a.logged(href='/cashpoint/www/cabinet_settings.html') Настройки кабинета
					a.logged(href='/cashpoint/www/main.html') Выйти из кабинета
		a.header_help.modal__askQuestion ?
		.header_languages
			a#ua Ua
			a#ru.current Ru