head
	meta(charset="UTF-8")
	title= title
	meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
	link(rel="stylesheet", href=`css/styles.min.css?v=${styles_version}`)
	| <!--[if lt IE 9]>
	|     <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	| <![endif]-->