// svg
svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
        symbol#icon-c__check(viewbox='0 0 1097 1024')
            path.path1(d='M1030.583 0c-81.189 51.931-187.246 160.914-257.463 229.669-140.434 137.509-275.017 281.6-407.406 427.154l-265.509-254.537-100.206 108.983c145.554 160.183 303.543 333.531 432.274 512.731 164.571-298.423 433.737-725.577 664.869-950.857-7.314-16.823-39.497-75.337-66.56-73.143z')
        symbol#warning-icon
            path(d="M1027.98 306C1027.6200000000001 306 1027.28 306.19 1027.09 306.51L1012.1399999999999 332.38C1011.9499999999998 332.71 1011.9499999999998 333.08 1012.1399999999999 333.40999999999997C1012.3299999999999 333.72999999999996 1012.6699999999998 333.91999999999996 1013.0299999999999 333.91999999999996L1042.9299999999998 333.91999999999996C1043.4999999999998 333.91999999999996 1043.9599999999998 333.46 1043.9599999999998 332.89C1043.9599999999998 332.66999999999996 1043.8899999999999 332.47999999999996 1043.7899999999997 332.31L1028.8699999999997 306.51C1028.6799999999996 306.19 1028.3399999999997 306 1027.9799999999996 306ZM1027.98 309.08L1041.15 331.87L1014.8100000000001 331.87Z", fill="#fe891f", transform="matrix(1,0,0,1,-1011,-306)")
            path(d="M1027 316.03L1027 323.89C1027 324.46 1027.46 324.91999999999996 1028.03 324.91999999999996C1028.59 324.91999999999996 1029.05 324.46 1029.05 323.89L1029.05 316.03C1029.05 315.46 1028.59 315 1028.03 315C1027.46 315 1027 315.46 1027 316.03Z", fill="#fe891f", transform="matrix(1,0,0,1,-1011,-306)")
            path(d="M1028.03 326C1027.46 326 1027 326.46 1027 327.03L1027 327.71C1027 328.27 1027.46 328.73999999999995 1028.03 328.73999999999995C1028.59 328.73999999999995 1029.05 328.2699999999999 1029.05 327.71L1029.05 327.03C1029.05 326.46 1028.59 326 1028.03 326Z", fill="#fe891f", transform="matrix(1,0,0,1,-1011,-306)")
        symbol#calendar-icon
            path(d="M888.85 686.3L888.85 685.01C888.85 684.46 888.39 684 887.84 684L886.38 684C885.83 684 885.37 684.46 885.37 685.01L885.37 686.3L876.75 686.3L876.75 685.01C876.75 684.46 876.28 684 875.73 684L874.28 684C873.73 684 873.27 684.46 873.27 685.01L873.27 686.3L870.8 686.3C869.81 686.3 869 687.1099999999999 869 688.0899999999999L869 704.16C869 705.14 869.81 705.9499999999999 870.8 705.9499999999999L891.1999999999999 705.9499999999999C892.1899999999999 705.9499999999999 892.9999999999999 705.14 892.9999999999999 704.16L892.9999999999999 688.0899999999999C892.9999999999999 687.1099999999999 892.1899999999999 686.3 891.1999999999999 686.3ZM870.83 704.88C870.4200000000001 704.88 870.1 704.57 870.1 704.16L870.1 692.02L891.9300000000001 692.02L891.9300000000001 704.16C891.9300000000001 704.5699999999999 891.61 704.88 891.2 704.88ZM873.3 687.37L873.3 688.3100000000001C873.3 688.86 873.76 689.32 874.31 689.32L875.76 689.32C876.31 689.32 876.78 688.86 876.78 688.3100000000001L876.78 687.37L885.37 687.37L885.37 688.3100000000001C885.37 688.86 885.83 689.32 886.38 689.32L887.84 689.32C888.39 689.32 888.85 688.86 888.85 688.3100000000001L888.85 687.37L891.23 687.37C891.64 687.37 891.96 687.68 891.96 688.09L891.96 690.96L870.1 690.96L870.1 688.09C870.1 687.6800000000001 870.4200000000001 687.37 870.83 687.37ZM887.78 685.09L887.78 688.26L886.4399999999999 688.26L886.4399999999999 685.09ZM875.68 685.09L875.68 688.26L874.3399999999999 688.26L874.3399999999999 685.09ZM874.84 694.93C874.84 694.64 874.6 694.38 874.3100000000001 694.41L872.57 694.41C872.2800000000001 694.41 872.0500000000001 694.64 872.0500000000001 694.93C872.0500000000001 695.2199999999999 872.2800000000001 695.4499999999999 872.57 695.4499999999999L874.3100000000001 695.4499999999999C874.6 695.4499999999999 874.84 695.2199999999999 874.84 694.93ZM884.85 694.93C884.85 694.64 884.61 694.38 884.33 694.41L882.59 694.41C882.3000000000001 694.41 882.0600000000001 694.64 882.0600000000001 694.93C882.0600000000001 695.2199999999999 882.3000000000001 695.4499999999999 882.59 695.4499999999999L884.33 695.4499999999999C884.62 695.4499999999999 884.85 695.2199999999999 884.85 694.93ZM879.86 694.93C879.86 694.64 879.59 694.38 879.33 694.41L877.59 694.41C877.3000000000001 694.41 877.07 694.64 877.07 694.93C877.07 695.2199999999999 877.3000000000001 695.4499999999999 877.59 695.4499999999999L879.33 695.4499999999999C879.62 695.4499999999999 879.86 695.2199999999999 879.86 694.93ZM889.87 694.93C889.87 694.64 889.64 694.38 889.35 694.41L887.6 694.41C887.3100000000001 694.41 887.08 694.64 887.08 694.93C887.08 695.2199999999999 887.3100000000001 695.4499999999999 887.6 695.4499999999999L889.35 695.4499999999999C889.64 695.4499999999999 889.87 695.2199999999999 889.87 694.93ZM874.84 702.04C874.84 701.7199999999999 874.6 701.49 874.3100000000001 701.52L872.57 701.52C872.2800000000001 701.52 872.0500000000001 701.75 872.0500000000001 702.04C872.0500000000001 702.3199999999999 872.2800000000001 702.55 872.57 702.55L874.3100000000001 702.55C874.6 702.55 874.84 702.3199999999999 874.84 702.04ZM879.86 702.04C879.86 701.7199999999999 879.59 701.49 879.33 701.52L877.59 701.52C877.3000000000001 701.52 877.07 701.75 877.07 702.04C877.07 702.3199999999999 877.3000000000001 702.55 877.59 702.55L879.33 702.55C879.62 702.55 879.86 702.3199999999999 879.86 702.04ZM884.85 702.04C884.85 701.7199999999999 884.61 701.49 884.33 701.52L882.59 701.52C882.3000000000001 701.52 882.0600000000001 701.75 882.0600000000001 702.04C882.0600000000001 702.3199999999999 882.3000000000001 702.55 882.59 702.55L884.33 702.55C884.62 702.55 884.85 702.3199999999999 884.85 702.04ZM874.84 698.47C874.84 698.1800000000001 874.6 697.95 874.3100000000001 697.95L872.57 697.95C872.2800000000001 697.95 872.0500000000001 698.1800000000001 872.0500000000001 698.47C872.0500000000001 698.75 872.2800000000001 698.98 872.57 698.98L874.3100000000001 698.98C874.6 698.98 874.84 698.75 874.84 698.47ZM884.85 698.47C884.85 698.1800000000001 884.61 697.95 884.33 697.95L882.59 697.95C882.3000000000001 697.95 882.0600000000001 698.1800000000001 882.0600000000001 698.47C882.0600000000001 698.75 882.3000000000001 698.98 882.59 698.98L884.33 698.98C884.62 698.98 884.85 698.75 884.85 698.47ZM879.86 698.47C879.86 698.1800000000001 879.59 697.95 879.33 697.95L877.59 697.95C877.3000000000001 697.95 877.07 698.1800000000001 877.07 698.47C877.07 698.75 877.3000000000001 698.98 877.59 698.98L879.33 698.98C879.62 698.98 879.86 698.75 879.86 698.47ZM889.87 698.47C889.87 698.1800000000001 889.64 697.95 889.35 697.95L887.6 697.95C887.3100000000001 697.95 887.08 698.1800000000001 887.08 698.47C887.08 698.75 887.3100000000001 698.98 887.6 698.98L889.35 698.98C889.64 698.98 889.87 698.75 889.87 698.47ZM889.35 702.55L887.6 702.55C887.3100000000001 702.55 887.08 702.3199999999999 887.08 702.04C887.08 701.75 887.3100000000001 701.52 887.6 701.52L889.35 701.52C889.64 701.49 889.87 701.72 889.87 702.04C889.87 702.3199999999999 889.64 702.55 889.35 702.55Z", fill="#4e2582", transform="matrix(1,0,0,1,-869,-684)")
        symbol#person-icon
            path(fill="none", fill-rule="evenodd", d="M 7.17 0 L 0 0 L 0 16.8 L 14.34 16.8 L 14.34 0 L 7.17 0 L 7.17 0 Z M 7.17 0")
            path(fill="#4e2582", fill-rule="evenodd", d="M 12.8 0 L 1.6 0 C 0.72 0 0 0.72 0 1.6 L 0 12.8 C 0 13.68 0.72 14.4 1.6 14.4 L 4.8 14.4 L 7.2 16.8 L 9.6 14.4 L 12.8 14.4 C 13.68 14.4 14.4 13.68 14.4 12.8 L 14.4 1.6 C 14.4 0.72 13.68 0 12.8 0 L 12.8 0 Z M 7.2 2.64 C 8.4 2.64 9.36 3.6 9.36 4.8 C 9.36 6 8.4 6.96 7.2 6.96 C 6 6.96 5.04 6 5.04 4.8 C 5.04 3.6 6 2.64 7.2 2.64 L 7.2 2.64 Z M 12 11.2 L 2.4 11.2 L 2.4 10.48 C 2.4 8.88 5.6 8 7.2 8 C 8.8 8 12 8.88 12 10.48 L 12 11.2 Z M 12 11.2")
        symbol#picture-icon
            path(d="M940.64 693C940.29 693 940 693.29 940 693.65L940 721.35C940 721.71 940.29 722 940.64 722L978.36 722C978.71 722 979 721.71 979 721.35L979 693.65C979 693.29 978.71 693 978.36 693ZM941.29 720.7L941.29 694.3000000000001L977.7099999999999 694.3000000000001L977.7099999999999 720.7Z ", fill="#eb8912", fill-opacity="1", transform="matrix(1,0,0,1,-940,-693)")
            path(d="M943.64 718.07L974.5 718.07C974.86 718.07 975.14 717.7800000000001 975.14 717.4300000000001L975.14 696.6500000000001C975.14 696.2900000000001 974.86 696.0000000000001 974.5 696.0000000000001L943.64 696.0000000000001C943.29 696.0000000000001 943 696.2900000000001 943 696.6500000000001L943 700.1100000000001C943 700.4700000000001 943.29 700.7600000000001 943.64 700.7600000000001C944 700.7600000000001 944.29 700.4700000000001 944.29 700.1100000000001L944.29 697.3000000000002L973.86 697.3000000000002L973.86 716.7800000000002L944.29 716.7800000000002L944.29 702.7100000000002C944.29 702.3500000000001 944 702.0600000000002 943.64 702.0600000000002C943.29 702.0600000000002 943 702.3500000000001 943 702.7100000000002L943 717.4300000000002C943 717.7800000000002 943.29 718.0700000000002 943.64 718.0700000000002Z ", fill="#eb8912", fill-opacity="1", transform="matrix(1,0,0,1,-940,-693)")
            path(d="M954.6 704C954.4300000000001 704 954.26 704.07 954.14 704.2L946.18 712.69C945.93 712.95 945.9399999999999 713.36 946.1999999999999 713.6C946.3299999999999 713.72 946.4799999999999 713.78 946.64 713.78C946.81 713.78 946.98 713.7099999999999 947.11 713.5799999999999L954.6 705.5899999999999L961.46 712.8999999999999C961.58 713.0299999999999 961.75 713.0999999999999 961.9300000000001 713.0999999999999C962.1 713.0999999999999 962.2700000000001 713.0299999999999 962.3900000000001 712.8999999999999L967.19 707.7799999999999L971.8900000000001 712.7899999999998C972.1300000000001 713.0499999999998 972.5400000000001 713.0599999999998 972.8000000000001 712.8099999999998C973.0600000000001 712.5699999999998 973.07 712.1599999999999 972.82 711.8999999999999L967.6600000000001 706.3899999999999C967.5400000000001 706.2599999999999 967.3700000000001 706.1899999999998 967.19 706.1899999999998C967.0200000000001 706.1899999999998 966.85 706.2599999999999 966.73 706.3899999999999L961.9300000000001 711.5099999999999L955.07 704.1999999999999C954.95 704.0699999999999 954.7800000000001 703.9999999999999 954.6 703.9999999999999Z ", fill="#eb8912", fill-opacity="1", transform="matrix(1,0,0,1,-940,-693)")
            path(d="M962.21 701C960.44 701 959 702.46 959 704.25C959 706.04 960.44 707.49 962.21 707.49C963.99 707.49 965.4300000000001 706.04 965.4300000000001 704.25C965.4300000000001 702.46 963.99 701 962.21 701ZM962.21 702.3C963.2800000000001 702.3 964.14 703.17 964.14 704.25C964.14 705.32 963.28 706.19 962.21 706.19C961.1500000000001 706.19 960.2900000000001 705.32 960.2900000000001 704.25C960.2900000000001 703.17 961.1500000000001 702.3 962.21 702.3Z ", fill="#eb8912", fill-opacity="1", transform="matrix(1,0,0,1,-940,-693)")
        symbol#person2-icon
            path(d="M702.18 616.91C702.14 616.5 701.91 616.11 701.54 615.86L701.12 615.59C702.57 614.0600000000001 703.49 611.82 703.49 609.33C703.49 608.87 703.45 608.4200000000001 703.39 607.98C703.46 607.47 703.99 603.28 703.99 599.45C703.99 599.25 703.85 599.07 703.66 599.01C703.53 598.97 700.4399999999999 598 696.5 598C695.59 598 693.35 598.15 691.81 599.48L691.63 599.48C690.81 599.48 690.01 599.82 689.45 600.4200000000001C688.8900000000001 601.0100000000001 688.61 601.8100000000001 688.6600000000001 602.6200000000001C688.8100000000001 604.6100000000001 689.1500000000001 607.0400000000001 689.5300000000001 608.8300000000002C689.5200000000001 608.9900000000001 689.5200000000001 609.1600000000002 689.5200000000001 609.3300000000002C689.5200000000001 611.8200000000002 690.4300000000001 614.0600000000002 691.8800000000001 615.5900000000001L691.4600000000002 615.8600000000001C691.0900000000001 616.1100000000001 690.8600000000001 616.5000000000001 690.8200000000002 616.9100000000001L686.0100000000002 618.1000000000001C684.2400000000002 618.5300000000001 683.0000000000002 620.1000000000001 683.0000000000002 621.9000000000001L683.0000000000002 625.1300000000001C683.0000000000002 625.9200000000001 683.6600000000002 626.5800000000002 684.4700000000003 626.5800000000002L708.5300000000002 626.5800000000002C709.3400000000001 626.5800000000002 710.0000000000002 625.9200000000002 710.0000000000002 625.1300000000001L710.0000000000002 621.9000000000001C710.0000000000002 620.1000000000001 708.7600000000002 618.5300000000001 706.9900000000002 618.1000000000001ZM702.54 609.29C702.54 609.3 702.54 609.3199999999999 702.54 609.3299999999999C702.54 613.43 699.8299999999999 616.7599999999999 696.5 616.7599999999999C693.17 616.7599999999999 690.46 613.4299999999998 690.46 609.3299999999999C690.46 609.3199999999999 690.46 609.3 690.46 609.29L690.5 608.37C690.64 607.09 691.04 605.89 691.68 604.85C696.7399999999999 604.83 700.3599999999999 605.26 701.93 606.0600000000001C702.2199999999999 606.8000000000001 702.41 607.57 702.4899999999999 608.37ZM690.14 601.05C690.53 600.63 691.06 600.41 691.63 600.41L691.99 600.41C692.11 600.41 692.23 600.36 692.3100000000001 600.28C693.62 599.06 695.6800000000001 598.93 696.5000000000001 598.93C699.5700000000002 598.93 702.1600000000001 599.55 703.0400000000001 599.8C703.0300000000001 601.8499999999999 702.8700000000001 603.9699999999999 702.72 605.53C702.6800000000001 605.4499999999999 702.61 605.38 702.53 605.3299999999999C701.37 604.67 698.49 603.8799999999999 691.42 603.92C691.26 603.92 691.11 604 691.03 604.13C690.6 604.77 690.26 605.47 690.02 606.21C689.8299999999999 604.99 689.68 603.7 689.6 602.5500000000001C689.5600000000001 601.9900000000001 689.75 601.46 690.14 601.0500000000001ZM683.94 621.9C683.94 620.52 684.8900000000001 619.3299999999999 686.24 618.99L689.35 618.23L688.53 621.0500000000001C688.5 621.1700000000001 688.51 621.3000000000001 688.5799999999999 621.4100000000001C688.6399999999999 621.5200000000001 688.7499999999999 621.59 688.8699999999999 621.6200000000001L690.31 621.9800000000001L689.56 623.4400000000002C689.51 623.5600000000002 689.5 623.6900000000002 689.55 623.8200000000002L690.29 625.6500000000002L684.4699999999999 625.6500000000002C684.18 625.6500000000002 683.9399999999999 625.4100000000002 683.9399999999999 625.1300000000002ZM691.3 625.65L690.5 623.67L691.41 621.88C691.4699999999999 621.75 691.4699999999999 621.6 691.41 621.48C691.35 621.35 691.24 621.25 691.1 621.22L689.57 620.84L690.4000000000001 617.97L691.0100000000001 617.82L693.0100000000001 621.75C693.1000000000001 621.93 693.1800000000001 622.09 693.4200000000001 622.13C693.44 622.13 693.47 622.13 693.4900000000001 622.13C693.6200000000001 622.13 693.7300000000001 622.08 693.8200000000002 622C694.0600000000002 621.77 694.3000000000002 621.56 694.5300000000002 621.38L694.5300000000002 621.67C694.5300000000002 622.0899999999999 694.7100000000002 622.4799999999999 695.0100000000002 622.74L694.5800000000003 625.65ZM703.43 620.84L701.9 621.22C701.76 621.25 701.65 621.35 701.59 621.48C701.5300000000001 621.6 701.5300000000001 621.75 701.59 621.88L702.5 623.67L701.7 625.65L698.4200000000001 625.65L697.9900000000001 622.74C698.2900000000001 622.48 698.4700000000001 622.09 698.4700000000001 621.67L698.4700000000001 621.38C698.7000000000002 621.56 698.9400000000002 621.77 699.1800000000002 622C699.2700000000002 622.08 699.3800000000002 622.13 699.5100000000002 622.13C699.5300000000002 622.13 699.5600000000002 622.13 699.5800000000003 622.13C699.8200000000003 622.09 699.9000000000003 621.93 699.9900000000002 621.75L701.9900000000002 617.82L702.6000000000003 617.97ZM692.43 616.34L695.68 619.5400000000001C695.17 619.7800000000001 694.4399999999999 620.21 693.63 620.9100000000001C693.35 620.3500000000001 692.8 619.2800000000001 691.8 617.3000000000001C691.68 617.07 691.76 616.7800000000001 691.9799999999999 616.6300000000001ZM699.37 620.91C698.5600000000001 620.2099999999999 697.83 619.78 697.32 619.54L700.57 616.3399999999999L701.0200000000001 616.6299999999999C701.2400000000001 616.7799999999999 701.32 617.0699999999999 701.2 617.2999999999998C700.2 619.2799999999999 699.6500000000001 620.3499999999998 699.37 620.9099999999999ZM696.5 619.04L694.9 617.4699999999999C695.42 617.6099999999999 695.9499999999999 617.6899999999999 696.5 617.6899999999999C697.05 617.6899999999999 697.58 617.6099999999999 698.1 617.4699999999999ZM695.9 623.12C695.9399999999999 623.12 695.97 623.12 696 623.12C696.03 623.12 697.06 623.12 697.1 623.12L697.47 625.65L695.53 625.65ZM697.53 620.71L697.53 621.6700000000001C697.53 621.96 697.29 622.19 697 622.19L696 622.19C695.71 622.19 695.47 621.96 695.47 621.6700000000001L695.47 620.71C695.94 620.4200000000001 696.3100000000001 620.26 696.5 620.19C696.69 620.2600000000001 697.06 620.4200000000001 697.53 620.71ZM708.53 625.65L702.7099999999999 625.65L703.4499999999999 623.8199999999999C703.4999999999999 623.6899999999999 703.4999999999999 623.56 703.4399999999999 623.4399999999999L702.6899999999999 621.9799999999999L704.13 621.6199999999999C704.25 621.5899999999999 704.36 621.5199999999999 704.42 621.4099999999999C704.49 621.2999999999998 704.5 621.1699999999998 704.4699999999999 621.0499999999998L703.6499999999999 618.2299999999998L706.7599999999999 618.9899999999998C708.1099999999999 619.3299999999998 709.0599999999998 620.5199999999998 709.0599999999998 621.8999999999997L709.0599999999998 625.1299999999998C709.0599999999998 625.4099999999997 708.8199999999998 625.6499999999997 708.5299999999999 625.6499999999997Z ", fill="#ffffff", fill-opacity="1", transform="matrix(1,0,0,1,-683,-598)")
        symbol#passport-icon
            path(d="M1095.71 620L1082.45 620C1082.2 620 1082 620.21 1082 620.46C1082 620.72 1082.2 620.9300000000001 1082.45 620.9300000000001L1095.71 620.9300000000001C1095.96 620.9300000000001 1096.16 620.72 1096.16 620.46C1096.16 620.21 1095.96 620 1095.71 620Z ", fill="#ffffff", fill-opacity="1", transform="matrix(1,0,0,1,-1079,-598)")
            path(d="M1088.74 616.89C1091.03 616.89 1093.02 615.48 1093.94 613.4499999999999C1093.95 613.43 1093.95 613.41 1093.96 613.39C1094.29 612.65 1094.47 611.8199999999999 1094.47 610.9399999999999C1094.47 609.92 1094.22 608.9599999999999 1093.78 608.1199999999999C1093.77 608.0899999999999 1093.76 608.0699999999999 1093.75 608.0499999999998C1092.76 606.2299999999998 1090.89 604.9999999999999 1088.74 604.9999999999999C1086.59 604.9999999999999 1084.71 606.2299999999999 1083.73 608.0499999999998C1083.71 608.0699999999998 1083.7 608.0899999999998 1083.69 608.1199999999999C1083.29 608.8899999999999 1083.05 609.7499999999999 1083.01 610.6799999999998L1083.01 610.6899999999998C1083 610.7799999999999 1083 610.8599999999998 1083 610.9399999999998C1083 611.8199999999998 1083.18 612.6499999999999 1083.51 613.3899999999999C1083.52 613.4099999999999 1083.52 613.4299999999998 1083.54 613.4499999999998C1084.45 615.4799999999998 1086.44 616.8899999999999 1088.74 616.8899999999999ZM1091.19 613.6C1091.03 614.33 1090.8 615.08 1090.51 615.87C1090.5 615.9 1090.49 615.92 1090.49 615.95C1090.03 616.12 1089.54 616.23 1089.03 616.26L1089.03 613.6ZM1086.98 615.95C1086.98 615.9200000000001 1086.97 615.9000000000001 1086.96 615.87C1086.67 615.08 1086.44 614.33 1086.28 613.6L1088.44 613.6L1088.44 616.26C1087.93 616.23 1087.44 616.12 1086.98 615.95ZM1091.52 611.01C1091.51 611.66 1091.44 612.31 1091.32 612.98L1089.03 612.98L1089.03 611.01ZM1086.15 612.98C1086.0300000000002 612.3100000000001 1085.96 611.66 1085.95 611.01L1088.44 611.01L1088.44 612.98ZM1090.49 605.94C1090.49 605.97 1090.5 606 1090.51 606.0200000000001C1090.76 606.6800000000001 1090.97 607.3100000000001 1091.1299999999999 607.9200000000001L1089.03 607.9200000000001L1089.03 605.6300000000001C1089.54 605.6600000000001 1090.03 605.7600000000001 1090.49 605.94ZM1086.34 607.92C1086.5 607.31 1086.7099999999998 606.68 1086.9599999999998 606.02C1086.9699999999998 606 1086.9799999999998 605.97 1086.9799999999998 605.9399999999999C1087.4399999999998 605.77 1087.9299999999998 605.66 1088.4399999999998 605.63L1088.4399999999998 607.92ZM1085.96 610.39C1085.99 609.78 1086.07 609.17 1086.2 608.54L1088.44 608.54L1088.44 610.39ZM1091.27 608.54C1091.4 609.17 1091.48 609.78 1091.51 610.39L1089.03 610.39L1089.03 608.54ZM1091.8 613.6L1093.19 613.6C1092.72 614.4300000000001 1092.05 615.12 1091.24 615.59C1091.48 614.9 1091.66 614.24 1091.8 613.6ZM1085.67 613.6C1085.8100000000002 614.24 1086 614.9 1086.23 615.59C1085.42 615.12 1084.75 614.4300000000001 1084.28 613.6ZM1091.92 612.98C1092.04 612.3100000000001 1092.1000000000001 611.66 1092.1100000000001 611.01L1093.8700000000001 611.01C1093.8700000000001 611.71 1093.73 612.37 1093.48 612.98ZM1085.59 608.54C1085.47 609.16 1085.3999999999999 609.78 1085.37 610.39L1083.62 610.39C1083.6899999999998 609.73 1083.87 609.11 1084.1499999999999 608.54ZM1092.1 610.39C1092.07 609.78 1092 609.16 1091.8799999999999 608.54L1093.32 608.54C1093.6 609.11 1093.78 609.73 1093.85 610.39ZM1091.74 607.92C1091.61 607.39 1091.45 606.86 1091.25 606.3C1091.93 606.6999999999999 1092.52 607.26 1092.97 607.92ZM1085.73 607.92L1084.51 607.92C1084.95 607.26 1085.54 606.6999999999999 1086.22 606.3C1086.02 606.8599999999999 1085.8600000000001 607.39 1085.73 607.92ZM1085.55 612.98L1083.99 612.98C1083.74 612.37 1083.6 611.71 1083.6 611.01L1085.36 611.01C1085.37 611.66 1085.4299999999998 612.31 1085.55 612.98Z ", fill="#ffffff", fill-opacity="1", transform="matrix(1,0,0,1,-1079,-598)")
            path(d="M1093.46 598.39C1089.28 598.68 1084.55 599 1081 599.41C1079.89 599.48 1079 600.43 1079 601.6L1079 624.77C1079 625.99 1079.95 626.98 1081.12 626.98L1096.9899999999998 626.98C1097.9999999999998 626.98 1098.8399999999997 626.24 1099.0599999999997 625.26C1100.1199999999997 625.22 1100.9699999999998 624.3199999999999 1100.9699999999998 623.22L1100.9699999999998 600.0500000000001C1100.9699999999998 598.9200000000001 1100.0799999999997 598.0000000000001 1098.9899999999998 598.0000000000001C1097.3499999999997 598.1300000000001 1095.4599999999998 598.2600000000001 1093.4599999999998 598.3900000000001ZM1096.99 626.05L1081.1200000000001 626.05C1080.45 626.05 1079.89 625.4799999999999 1079.89 624.78L1079.89 601.6C1079.89 600.9 1080.45 600.33 1081.1200000000001 600.33L1096.99 600.33C1097.67 600.33 1098.22 600.9000000000001 1098.22 601.6L1098.22 624.78C1098.22 625.48 1097.67 626.05 1096.99 626.05ZM1099.11 624.64L1099.11 601.6C1099.11 600.39 1098.1599999999999 599.4 1096.99 599.4L1087.94 599.4C1089.8 599.26 1091.7 599.13 1093.5 599.01C1095.5 598.87 1097.39 598.75 1099 598.62C1099.76 598.62 1100.37 599.26 1100.37 600.05L1100.37 623.2199999999999C1100.37 623.9599999999999 1099.82 624.5799999999999 1099.11 624.6399999999999Z ", fill="#ffffff", fill-opacity="1", transform="matrix(1,0,0,1,-1079,-598)")
        symbol#camera-icon
            path(fill="none", fill-rule="evenodd", d="M 33.5 0 L 0 0 L 0 28.43 L 33.5 28.43 L 33.5 0 L 33.5 0 Z M 33.5 0")
            path(fill="#ffffff", fill-rule="evenodd", d="M 32.14 5.72 L 32.14 7.78 L 1.35 7.78 L 1.35 5.72 C 1.35 4.88 2.02 4.2 2.84 4.2 L 30.65 4.2 C 31.48 4.2 32.14 4.88 32.14 5.72 L 32.14 5.72 Z M 4.88 2.83 L 4.88 1.55 C 4.88 1.45 4.95 1.38 5.05 1.38 L 17.06 1.38 C 17.15 1.38 17.23 1.45 17.23 1.55 L 17.23 2.83 L 4.88 2.83 Z M 32.14 9.16 L 32.14 25.54 C 32.14 26.37 31.48 27.05 30.65 27.05 L 2.84 27.05 C 2.02 27.05 1.35 26.37 1.35 25.54 L 1.35 9.16 L 32.14 9.16 Z M 30.65 2.83 L 18.58 2.83 L 18.58 1.55 C 18.58 0.7 17.9 0 17.06 0 L 5.05 0 C 4.21 0 3.52 0.7 3.52 1.55 L 3.52 2.83 L 2.84 2.83 C 1.27 2.83 0 4.13 0 5.72 L 0 25.54 C 0 27.13 1.27 28.43 2.84 28.43 L 30.65 28.43 C 32.22 28.43 33.5 27.13 33.5 25.54 L 33.5 5.72 C 33.5 4.13 32.22 2.83 30.65 2.83 L 30.65 2.83 Z M 30.65 2.83")
            path(fill="#ffffff", fill-rule="evenodd", d="M 16.02 6.49 L 16.98 6.49 L 16.98 6.04 L 16.02 6.04 L 16.02 6.49 Z M 17.36 5 L 15.64 5 C 15.29 5 15 5.29 15 5.65 L 15 6.87 C 15 7.24 15.29 7.53 15.64 7.53 L 17.36 7.53 C 17.71 7.53 18 7.24 18 6.87 L 18 5.65 C 18 5.29 17.71 5 17.36 5 L 17.36 5 Z M 17.36 5")
            path(fill="#ffffff", fill-rule="evenodd", d="M 16.81 11.38 C 20.38 11.38 23.27 14.32 23.27 17.95 C 23.27 21.57 20.38 24.52 16.81 24.52 C 13.25 24.52 10.35 21.57 10.35 17.95 C 10.35 14.32 13.25 11.38 16.81 11.38 M 16.81 25.89 C 21.12 25.89 24.63 22.33 24.63 17.95 C 24.63 13.56 21.12 10 16.81 10 C 12.5 10 9 13.56 9 17.95 C 9 22.33 12.5 25.89 16.81 25.89")
            path(fill="#ffffff", fill-rule="evenodd", d="M 16.92 14.27 C 18.94 14.27 20.59 15.94 20.59 18 C 20.59 20.06 18.94 21.73 16.92 21.73 C 14.89 21.73 13.25 20.06 13.25 18 C 13.25 15.94 14.89 14.27 16.92 14.27 M 16.92 23 C 19.63 23 21.83 20.76 21.83 18 C 21.83 15.24 19.63 13 16.92 13 C 14.21 13 12 15.24 12 18 C 12 20.76 14.21 23 16.92 23")
        symbol#download-icon(viewBox="0 0 32 32")
            path(d="M16 18l8-8h-6v-8h-4v8h-6zM23.273 14.727l-2.242 2.242 8.128 3.031-13.158 4.907-13.158-4.907 8.127-3.031-2.242-2.242-8.727 3.273v8l16 6 16-6v-8z")
        symbol#icon-triangle(viewBox="0 0 32 32")
            path(class="path1", d="M6 4l20 12-20 12z")