//desktop (>=1170px)
footer {
	float: left;
	position: relative;

	width: 100%;
	height: 275px;

	background-color: $purple;
}

	.footer_center {	
		margin: 0 auto;
		margin-top: 33px;

		width: 1170px;
	}

		.footer_other_pages {
			float: left;

			margin-top: 6.5px;
			margin-left: 70px;

			> a {
				@include text($robotoR, 18px, white);

				&:not(:last-child) {
					margin-right: 127px;
				}
			}
		}

		.footer_copyright {
			float: left;

			margin-top: 40px;
			
			@include text($robotoR, 18px, white);

			clear: both;
		}

		.footer_contacts {
			float: left;

			margin-top: 40px;
			margin-left: 67px;

			> a {
				float: left;

				@include text($robotoB, 18px, white);
			}

			> hr {
				float: left;

				margin: 3.5px 20px 0 20px;

			    width: 1px;
			    height: 13px;

			    background: white;
			}
		}

		.footer_info {
			float: left;

			margin-top: 42px;

			width: 100%;

			@include text($robotoR, 12px, white);
			text-align: left;
			line-height: 16px;
		}
			.footer_logo {
				float: left;
				height: 35px;
				width: 191px;
				
				background-image: url('../img/logo_footer_white@2x.png');
				background-size: cover;
			}

// tablet album ( < 1170px)
@media screen and (max-width: 1169px) {
	.footer_other_pages > a:not(:last-child) {
		margin-right: 75px;
	}
	.footer_center {
		width: 980px;
	}
}

// tablet portrait ( < 991px)
@media screen and (max-width: 991px) {
	.footer_logo {
		height: 70px;
		width: 73px;

		background-image: url('../img/logo_footer_white_single.png');
	}
	.footer_other_pages {
		display: none;
	}
	.footer_center {
		width: 750px;
	}
	.footer_contacts {
	    margin-top: -62px;
    	margin-left: 104px;	
	}
	.footer_copyright {
	    margin-left: 104px;
    	margin-top: -24px;
	}
	.footer_info {
		margin-left: 104px;
		width: 85%;
		margin-top: 5px;
	}
	.footer_logo {
		margin-left: 9px;
	}
}

// mobile phones ( < 768px) 
@media screen and (max-width: 767px) {
	footer {
		height: auto;
	}

	.footer_center {
		width: 90%;

		margin: 0;
		margin-left: 5%;

		.footer_logo {
			margin: 30px 0 0 0;
		}

		.footer_contacts {
			margin-left: 95px;
			margin-top: -132px;

			hr {
				display: none;
			}

			a {
				float: left;
				width: 100%;

				&:first-of-type {
					width: 145px;
				}
			}
		}
		

		.footer_copyright {
			width: 100%;
			margin: 0;
			margin-top: 30px;
		}
		.footer_info {
			width: 100%;
			margin: 10px 0 30px 0;
		}
	}

}

