//desktop (>=1170px)
header {
	position: relative;
	float: left;

	width: 100%;
	height: 115px;

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

	text-align: center;
}

.header_menu_icon,
.side_menu,
.black_bg {
	display: none;
}

.header_logo_call {
	display: inline-block;

	margin-right: 32px;

	width: 271px;

	> picture {
		width: 100%;
	}
}
	
	.header_logo {
		width: 100%;

		margin-top: 26px;
	}

	.header_call {
		float: left;

		width: 100%;

		margin-top: 8.5px;

		white-space: nowrap;

			img {
				display: inline-block;
				float: none;

				vertical-align: middle;

				width: 22px;
				height: 22px;
			}

			a {
				display: inline-block;

				vertical-align: middle;

				margin-left: 8px;

				@include text($robotoR, 16.5px, $purple);
			}
	}

.header_help_languages {
	display: inline-block;

	vertical-align: top;
	padding-top: 33px;

	> * {
		float: left;
	}
}

	nav a {
		margin-right: 28.8px;

		@include text($robotoR, 17.7px, $black40)
	}
	nav > div {
		display: inline-block;
		position: relative;
		
		margin: 0;
		padding: 7px;

		@include text($robotoR, 17.7px, $purple);

		border: 1px solid $purple;
		border-radius: 4px;

		transition: all 0.2s linear;

		cursor: pointer;
		
		span {
			cursor: pointer;
		}
			&:hover,
			&:active,
			&:focus	{
				color: white;
				background-color: $purple;
			}		
	}
			

	.header_help {
		margin-left: 29px;
		margin-right: 19px;
		padding: 2px 12.36px 2px 10.36px;

		@include text($robotoR, 25.99px, $purple);

		border: 1px solid $purple;
		border-radius: 50%;

		cursor: pointer;

		transition: all 0.2s linear;

			&:hover,
			&:active,
			&:focus	{
				color: white;
				background-color: $purple;
			}
	}

	.header_languages {
		width: 74px;
		height: 37px;

		border: 1px solid $purple;
		border-radius: 4px;

		a {
			float: left;

			padding: 10px 0;

			width: 50%;
			height: 100%;

			@include text($robotoB, 15px, $purple);
			text-align: center;

			cursor: pointer;
			box-sizing: border-box;

			transition: all 0.2s linear;

			&:hover,
			&:active,
			&:focus,
			&.current {
				color: white;
				background-color: $purple;
			}
		}
	}

.personal_cabinet_menu {
	position: absolute;

	left: -23px;
	top: -10px;

	width: 200px;

	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

	background: white;
	
	z-index: 10;

	transition: all 0.15s ease-in;

	//hide
	opacity: 0;
	visibility: hidden;

	&.opened {
		opacity: 1;
		visibility: visible;
		top: -3px;
	}

	div {
		&.logged {
			display: none;
		}

		float: left;

		width: 100%;

		padding: 14px 0 14px 29px;

		@include text($robotoB, 14px, $purple);
		text-align: left;
	}

	a {
		&.logged {
			display: none;
		}

		position: relative;
		float: left;

		width: 100%;

		padding: 14px 0 14px 29px;

		@include text($robotoR, 14px, $black40);
		text-align: left;

		transition: background-color 0.1s ease-in;

		&:not(:last-of-type):after {
			content: '';

			position: absolute;
			
			bottom: -0.5px;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: #d8d8d8;
		}

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}
	}
}

body.logged {

	.personal_cabinet_menu {
		
		div {
			display: none;

			&.logged {
				display: block;
			}
		}

		a {
			display: none;

			&.logged {
				display: block;
			}
		}
	}
}

// tablet album ( < 1170px)
@media screen and (max-width: 1169px) {

	.header_call a {
		font-size: 14.5px;
	    margin-left: 9px;
	    margin-top: 4px;
	}

	header {
		text-align: left;
	}

	.header_menu_icon {
		display: block;
		float: left;

		margin-left: 3%;
    	margin-right: 3%;
    	margin-top: 38px;
		
		width: 24px;

		span {
			float: left;

			width: 100%;
			height: 2px;

			background-color: $purple;

			&:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}
	}

	.black_bg {
		display: block;
		position: fixed;

		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		background: rgba(0,0,0,0.2);

		visibility: hidden;

		opacity: 0;

		z-index: 8;

		transition: all 0.15s linear;

		will-change: opacity;

		backface-visibility: hidden;

		body.side_menu_active & {
			visibility: visible;
			opacity: 1;
		}
	}

	.side_menu {
		display: block;
		position: fixed;

		height: 100%;
		width: 300px;

		left: 0;
		top: 0;
	
		background: white;

		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
		
		z-index: 8;

		transform: translate3d(-320px, 0, 0);

		transition: transform 0.15s linear;

		will-change: transform;
		
		visibility: hidden; /* removes with scripts - on first menu call */

		backface-visibility: hidden;

		body.side_menu_active & {
			transform: translate3d(0, 0, 0);
		}
		
		&.overflow-y-scroll {
			overflow-y: auto;
		}
		.side_menu_header {
			float: left;

			width: 100%;
			height: 65px;
			
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			
			.side_menu__logo_number {
				float: left;

				margin-top: 11.5px;
				margin-left: 15px;

				width: 120px;

				.side_menu__logo-header,
				span {
					width: 100%;
					float: left;
					height: auto;
				}

				span {
					display: block;

					margin-top: 5px;
					margin-left: -1px;

					img {
						float: left;
						width: 18px;
					}

					a {
						float: left;

						margin-left: 5px;
						margin-top: 1px;

						@include text($robotoM, 13px, #4f1985);
						line-height: 15px;

						-webkit-user-select: text;
						-moz-user-select: text;
						-ms-user-select: text;
						user-select: text; 
					}
				}
			}

			.side_menu_close {
				height: 16px;
				width: 16px;
				
				margin-top: 25.5px;
				margin-right: 15px;

				float: right;

				span {
					float: left;

					height: 2px;
					width: 100%;

					background-color: $purple;

					&:first-child {
					    transform: rotate(45deg) translateY(7px);
					}
					&:last-child {
					    transform: rotate(-45deg) translateY(-2px) translateX(-6px);	
					}
				}
			}
		}
		
		.side_menu_greetings {
			display: none;
			float: left;

			margin-top: 15px;

			width: 100%;

			@include text($robotoM, 16px, $purple);
			text-align: center;
		}

		.side_menu_nav {
			float: left;

			margin-top: 10px;

			width: 100%;
			
			> a:first-of-type {
				display: none;
			}
			
			a,
			.side_personal_cabinet {
				float: left;

				padding: 15px 0 15px 20px;

				width: 100%;

				@include text($robotoR, 16px, $black40);
				text-align: left;

			}

			.side_personal_cabinet {
				display: none;

				height: 45px;

				overflow: hidden;

				transition: height 0.2s linear;

				will-change: height;
				
				&.opened {
					height: 200px;

					.triangle {
						transform: rotate(180deg) !important;
					}
				}

				> a {
					position: relative;

					padding-left: 0;
					margin-left: -20px;

					width: 300px;

					font-size: 14px;
					text-align: center;

					&:first-of-type {
						margin-top: 15px;
					}

					&:after {
						content:'';

						position: absolute;

						left: 5%;
						bottom: -0.5px;

						width: 90%;
						height: 1px;

						background-color: #d8d8d8;
					}
				}
				
				body & {
					.triangle {
					    float: right;

					    margin-right: 25px;
    					margin-top: 6px;

					    width: 0;
					    height: 0;

					    border-width: 7px 7px 0;
						border-style: solid;
					    border-color: $black40 transparent transparent;

					    opacity: 0.8;

					    transform: rotate(0deg);
					    transition: transform .2s linear;
					    will-change: transform;	
					}
				}
			}

		}

		.side_menu_footer {
		    float: left;

		    padding-top: 15px;

		    width: 300px;
		    height: 60px;

			.side_language {
				float: left;
				
				padding: 5px;
				margin-left: 20px;

				border: 1px solid $purple;
				border-radius: 50%;

				@include text($robotoB, 16px, $purple);

				&.current,
				&:hover,
				&:active,
				&:focus {
					color: white;
					background-color: $purple;
				}
			}

			.side_callback {
				float: right;

				margin-right: 25px;
				margin-top: 1px;

				img {
					width: 30px;
				}
			}
		}
	}

	.header_logo_call {
		display: block;
		float: left;

		margin: 0;
	}

	.header_help_languages {
		display: block;
		float: right;

		.header_languages {
			margin: 0 40px 0 40px;
		}
	}

		nav > a {
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				display: none;
			}
		}

		.header_help {
			display: none;
		}

	body {
		.side_personal_cabinet {

			.logged {
				display: none;
			}
		}

		&.logged {

			.side_personal_cabinet {

				&.opened {
					height: 360px !important;
				}

				a {
					&.first {
						margin-top: 23px;
					}
					display: none;

					&.logged {
						display: block;
					}
				}
			}
		}

	}

}

// tablet portrait ( < 992px)
@media screen and (max-width: 991px) {
	.header_help_languages .header_languages {
		margin: 0 10px;
	}
	nav a {
		margin-right: 5px;
	}
}

// mobile phones ( < 768px) 
@media screen and (max-width: 767px) {
	header {
		height: 60px;
		text-align: center;
	}
	.header_menu_icon {
		margin-left: 5%;
		margin-top: 22px;
	}
	.header_logo_call {
		display: inline-block;
		float: none;
		width: 216px;
		margin-left: -40px;
	}
	.header_logo {
		margin-top: 12px;
	}
	.header_help_languages,
	.header_call {
		display: none;
	}
	.side_menu .side_menu_nav>a:first-of-type,
	.side_menu .side_menu_nav .side_personal_cabinet {
		display: block;
	}
	.side_menu .side_menu_footer {
		padding-top: 22px;
	    margin-bottom: 50px;
	}
	.side_menu .side_menu_greetings {
		body.logged & {
			display: block;
		}
	}
}
@media screen and (max-width: 767px) and (orientation: landscape) {
	.side_menu {
		overflow-y: auto;
	}
}

span.userName {
	display: inline-block;
	max-width: 100px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
	max-width: 150px;
}

@media screen and (max-width: 1024px) {
	body {
		cursor: pointer;
	}
}