/* hide modals */
.modal__container_all {
	display: block;

	left: 0;
	top: 0;

	opacity: 0;
	visibility: hidden;

	z-index: 10;

	backface-visibility: hidden;

	transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.1s;

	@media screen and (max-width: 767px) {
		transition: opacity 0.5s ease, transform 0.5s ease;
	}

	.modal-window {
		position: absolute !important;

		transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.1s;
		transform: translate3d(0,-100px,0);
		will-change: transform, opacity, visibility;
		z-index: 10;

		@media screen and (max-width: 767px) {
			transition: opacity 0.3s ease, transform 0.3s ease;
		}
	}
}

body {
	
	&.modal {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

		.modal__container_all {
			display: block;
			position: fixed;

			width: 100%;
			height: 100%;

			background: rgba(0,0,0,0.4);

			/* COMMON MODAL STYLES */
			.modal__close {
				height: 22px;
				width: 22px;

				position: absolute;

				top: 20px;
				right: 20px;

				cursor: pointer;

				span {
					display: block;

				    height: 2px;
				    width: 100%;

				   	background-color: #6e6e6f;

				   	&:first-of-type {
				   		transform: rotate(45deg) translate3d(7px, 7.5px, 0);
				   	}
				   	&:last-of-type {
				   	    transform: rotate(-45deg) translate3d(-6px,5px,0)	
				   	}
				}
			}

			.modal__title,
			.modal__subtitle {
				float: left;

				width: 100%;

				font-family: $robotoR;
				text-align: center;
			}

			.modal__title {
				margin-top: 40px;

				color: $purple;
				text-transform: uppercase;
				font-size: 24px;
			}

			.modal__subtitle {
				margin-top: 10px;

				color: #262626;
				font-size: 14px;
			}

			.modal__footer-text {
				float: left;

				width: 70%;

				margin-left: 15%;
				margin-top: 25px;
				
				@include text($robotoR, 12px, #262626);
				line-height: 14px;
				text-align: center;
			}

			.modal__inner-container {
				position: relative;
				float: left;

				width: 290px;

				left: 50%;
				margin-left: -145px;
				margin-top: 40px;
					
				.modal__input-container {
					float: left;
					position: relative;

					width: 100%;

					margin-bottom: 13px;

					span,
					input {
						float: left;
						width: 100%;
					}

					span {
						text-align: left;
						@include text($robotoR, 16px, $black40);
					}

					input {
						height: 50px;

						margin-top: 13px;
						padding-left: 10px;

						border: 1px solid #bababa;
						border-radius: 2px;

						transition: border-color 0.3s linear;
						will-change: border-color;
					}

					.modal__label-warning {
						margin-top: 3px;
						
						opacity: 0;
						visibility: hidden;

						transition: opacity 0.3s linear, visibility 0.3s;
						will-change: opacity;

						@include text($robotoR, 13px, #bb141a);
					}

					&.incorrect {

						input,
						select,
						textarea {
							border-color: #bb141a !important;
						}
						
						.modal__label-warning {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				.modal__action {
					@include modal_button();
				}

				.modal__links {
					margin-top: 20px;

					@include text($robotoR, 16px, $purple);
					text-align: center;
						
					a {
						text-decoration: underline;

						&:active {
							color: $purple;
						}
					}
					b {
						text-decoration: none;
						   margin: 0px 15px;
					}
				}
			}

			.modal-window {
				position: relative;	

				background-color: #fafafa;

				border-radius: 5px;
				box-shadow: 0 5.5px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
			}

			/* LOGIN MODAL WINDOW */
			.modal__login {
				left: 50%;
				margin-left: -280px;
				top: 52%;
				margin-top: -259px;

				width: 560px;
				height: 535px;

				opacity: 0;
				visibility: hidden;
			}

			/* PASSWORD MODAL WINDOW */
			.modal__password {
				left: 50%;
				margin-left: -280px;
				top: 52%;
				margin-top: -185px;

				width: 560px;
				height: 370px;

				opacity: 0;
				visibility: hidden;
			}

			/* REGISTRATION MODAL WINDOW */
			.modal__register {
				left: 50%;
				margin-left: -340px;
				top: 52%;
				margin-top: -300px;

				width: 680px;
				height: 600px;

				opacity: 0;
				visibility: hidden;

				.modal__inner-container {
				    position: relative;
				    float: left;
				    width: 90%;
				    left: 5%;
				    margin-left: 0;
				    margin-top: 40px;

				    text-align: center;

				    .modal__input-container {
				    	width: 47%;

				    	&:not(:nth-child(even)) {
				    		margin-right: 5%;
				    	}
				    }

				    .modal__action {
				    	width: 47%;

				    	margin-top: 30px;
				    }

				    .modal__links {
				    	margin-top: 35px;
				    }
				}

				.modal__footer-text {
					margin-top: 35px;
				}
			}

			/* REGISTRATION AND LOGIN MODAL WINDOW */
			.modal__register-login {
				left: 50%;
				top: 52%;
				margin-left: -500px;
				margin-top: -350px;
				margin-bottom: 25px;

				width: 1000px;
				height: 700px;

				opacity: 0;
				visibility: hidden;

				.modal__divider {
					position: absolute;

					width: 1px;
					height: 520px;

					top: 90px;
					left: 50%;

					background-color: #d8d8d8;
					border: none;
				}

				.modal__footer-text {
					width: 80%;

					margin-left: 10%;
					margin-top: -30px;
				}

				.modal__single-modal {
					float: left;

					height: 100%;
					width: 50%;
				}
			}

			/* OFFICE MODAL WINDOW */
			.modal__office {

				left: 50%;
				margin-left: -225px;
				top: 50%;
				margin-top: -125px;

				width: 450px;
				height: 250px;

				opacity: 0;
				visibility: hidden;

				.modal__title {
					margin-top: 35px;
				}

				.modal__inner-container {
					width: 90%;

					left: 5%;
					margin-left: 0;
					margin-top: 20px;

					.modal__text-container {

						&:not(:last-child) {
							margin-bottom: 15px;
						}

						> span {
							
							@include text($robotoR, 16px, #343434);
							line-height: 18px;

							&.text-container_title {
								@include text($robotoR, 12px, #343434);
								line-height: 14px;
							}

						}
					}
				}
			}

			/* CREDIT CALCULATOR MODAL WINDOW */
			.modal__calculator {
				width: 1140px;
				height: 500px;
				
				left: 50%;
				top: 52%;
				margin-left: -570px;
				margin-top: -250px;

				background-color: transparent;

				opacity: 0;
				visibility: hidden;	

				.modal__close {
					top: 10px;
					right: 12px;

					z-index: 10;

					span {
						background-color: white;
					}
				}

				.price_box {
					width: 100% !important;
					height: 100% !important;

					margin: 0;
					left: 0;
					top: 0;
				}
			}

			/* ASK QUESTION MODAL WINDOW */
			.modal__question {
				width: 750px;
				height: 550px;
				
				left: 50%;
				top: 52%;
				margin-left: -375px;
				margin-top: -275px;

				opacity: 0;
				visibility: hidden;

				.modal__inner-container {
					width: 100%;

					margin-left: 0;
					left: 0;

					.modal__input-container {
						width: 290px;

						margin-left: 55px;

						select,
						textarea {
							width: 100%;
						    height: 50px;
						    margin-top: 13px;
						    padding-left: 10px;
						    border: 1px solid #bababa;
						    border-radius: 2px;
						    transition: border-color .3s linear;
						    will-change: border-color;	
						}

						textarea {
							resize: none;
							height: 100px;
							padding-top: 10px;
							padding-right: 10px;
						}
					}

					.modal__action {
						width: 290px;

						margin-top: 32px;
						margin-left: 55px;
					}
				}	
			}

			/* GET CREDIT IN CASH MODAL WINDOW */
			.modal__credit-cash {
				width: 1080px;
				height: 510px;
				
				left: 50%;
				top: 52%;
				margin-left: -540px;
				margin-top: -255px;

				opacity: 0;
				visibility: hidden;	

				.modal__footer-text {
					margin-top: 10px;
				}

				.credits_calculator {
					width: 100%;

				    left: 0;
				    margin: 0;
				    margin-top: 25px;
				    padding: 13px 0px 27px 55px;

				    background: transparent;
				}
			}

			/* CREDIT REQUEST REWORK MODAL */
			.modal__request-rework {
				width: 680px;
				height: 395px;

				left: 50%;
				top: 52%;
				margin-left: -340px;
				margin-top: -197.5px;

				opacity: 0;
				visibility: hidden;

				.modal__title {
					margin-top: 60px;

					text-align:center;

					img {
						float: none;
					}
				}

				.modal__subtitle {
					margin-top: 30px;

					@include text($robotoR, 24px, $black40);
				}

				.modal__errorType {
					float: left;
					width: 100%;

					margin-top: 15px;

					@include text($robotoR, 20px, $purple);
					text-align: center;
					line-height: 28px;
				}

				.modal__rework {
					float: left;
					width: 100%;

					margin-top: 30px;

					@include text($robotoR, 18px, $purple);
					line-height: 28px;
					text-decoration: underline;
					text-align: center;

					cursor: pointer;
				}
			}

			/* CANNOT MODIFY DATA MODAL (PERSONAL DATA CONFIRMED PAGE) */
			.modal__cannot_modify_data {
				width: 600px;
				height: 395px;

				left: 50%;
				top: 52%;
				margin-left: -300px;
				margin-top: -197.5px;

				opacity: 0;
				visibility: hidden;

				@media screen and (max-width: 767px) {
					width: 90%;
					left: 5%;
					margin-left: 0;
				}

				.modal__center_wrap {
					width: 360px;
					height: 100%;

					margin: 0 auto;
					padding-top: 60px;

					text-align: center;

					@media screen and (max-width: 767px) {
						width: 100%;
					}
				}

				.modal__x_icon {
					display: inline-block;

					width: 44px;
					height: 44px;

					padding-top: 10px;
					padding-left: 11px;

					border-radius: 50%;
					background-color: #eb8912;

					span {
						display: block;
						height: 2px;
						width: 70%;
						background-color: white;

						&:first-child {
							transform: rotate(45deg) translate3d(7px,7.5px,0);
						}

						&:last-child {
							transform: rotate(-45deg) translate3d(-6px,5px,0);
						}
					}
				}

				.modal__inner-text {
					width: 100%;

					margin-top: 36px;
					margin-bottom: 47px;

					@include text($robotoR, 24px, $black40);
					line-height: 34px;

					a {
						color: $purple;
					}
				}

				.modal__button {
					@include modal_button();

					width: 98px;
					height: 32px;

					border-radius: 5px;

					line-height: 32px;
				}
			}

			/* AGREEMENT DOCUMENT MODAL */
			.modal__agreement {
				width: 980px;
				height: 740px;

				left: 50%;
				top: 52%;
				margin-left: -490px;
				margin-top: -350px;

				opacity: 0;
				visibility: hidden;

				padding: 20px;

				@media screen and (max-width: 992px) {
					width: 90%;
					height: 90%;

					top: 5%;
					left: 5%;

					margin: 0;
				}

				@media screen and (max-width: 767px) {

					.modal__document {
						@media screen and (orientation: landscape) {
							height: 80% !important;
						}
						.modal__document-title {
							font-size: 18px !important;
						}
						.modal__document-text {
							font-size: 11px !important;
						}
					}
				}

				.modal__close {
					top: 15px;
					right: 17px;
				}

				.modal__document {
					width: 100%;
					height: 90%;

					margin-top: 30px;

					font-family: $robotoR;
					color: #404040;

					overflow: auto;

					.modal__document-title {
						padding-bottom: 10px;
						text-align: center;

						font-size: 30px;
					}

					.modal__document-text {
						font-size: 16px;
					}
				}

				.modal__download {
					float: left;
					margin-top: -5px;

					> svg,
					> a {
						display: inline-block;
						vertical-align: middle;
					}

					svg {
						width: 17px;
						height: 17px;

						margin-right: 5px;

						fill: $purple;
					}

					a {
						@include text($robotoR, 16px, $purple);
						text-decoration: underline;

						cursor: pointer;
					}
				}
			}
		}
}

/* MODAL ANIMATION */
body.modal {

	// hide menu when modal is opened
	.personal_cabinet_menu {
		opacity: 0;
		visibility: hidden;
		top: 10px;
	}

	.modal__container_all {
		opacity: 1;
		visibility: visible;
	}

	&.modal_login {

		.modal__container_all {

			.modal__login {
				@include showModal();
			}

			.modal-window:not(.modal__login) {
				height: 0;
				overflow: hidden;
			}	
		}
	}

	&.modal_password {

		.modal__container_all {

			.modal__password {
				@include showModal();
			}

			.modal-window:not(.modal__password) {
				height: 0;
				overflow: hidden;
			}			
		}
	}

	&.modal_register {

		.modal__container_all {

			.modal__register {
				@include showModal();
			}

			.modal-window:not(.modal__register) {
				height: 0;
				overflow: hidden;
			}			
		}	
	}

	&.modal_register-login {

		.modal__container_all {

			.modal__register-login {
				@include showModal();
			}

			.modal-window:not(.modal__register-login) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_office {

		.modal__container_all {

			.modal__office {
				@include showModal();
			}	

			.modal-window:not(.modal__office) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_calculator {

		.modal__container_all {

			.modal__calculator {
				@include showModal();
			}	

			.modal-window:not(.modal__calculator) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_question {

		.modal__container_all {

			.modal__question {
				@include showModal();
			}	

			.modal-window:not(.modal__question) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_credit-cash {

		.modal__container_all {

			.modal__credit-cash {
				@include showModal();
			}	

			.modal-window:not(.modal__credit-cash) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_request-rework {

		.modal__container_all {

			.modal__request-rework {
				@include showModal();
			}	

			.modal-window:not(.modal__request-rework) {
				height: 0;
				overflow: hidden;
			}
		}	
	}

	&.modal_cannot_modify_data {

		.modal__container_all {

			.modal__cannot_modify_data {
				@include showModal();
			}

			.modal-window:not(.modal__cannot_modify_data) {
				height: 0;
				overflow: hidden;
			}
		}
	}

	&.modal_agreement {

		.modal__container_all {

			.modal__agreement {
				@include showModal();
			}

			.modal-window:not(.modal__agreement) {
				height: 0;
				overflow: hidden;
			}
		}
	}

}

@media screen and (max-width: 1169px) {

	body.modal {
		overflow: hidden;
	}

	body {
		.modal__container_all {

			overflow-y: auto;

			.modal__register-login {
				width: 890px;

				margin-left: -445px;
			}

			.modal__calculator {
			    width: 980px;
			    margin-left: -490px;
			}

			.modal__credit-cash {
				width: 960px;

				margin-left: -480px;

				.credits_calculator {
					padding-left: 30px;
				}
			}
		}	
	}
}

@media screen and (max-width: 991px) {

	body {

		.modal__container_all {

			.modal__register-login {
				width: 740px;

				margin-left: -370px;

				.modal__footer-text {
					width: 90%;
					margin-left: 5%;
				}
			}

			.modal__calculator {
			    width: 750px;
			    margin-left: -375px;
			}

			.modal__credit-cash {
				height: 615px;
				margin-top: -307px;
				width: 750px;
				margin-left: -375px;

				.credits_calculator {
					padding-left: 16px !important;
					padding-right: 0px !important;
				}
			}

			.modal__question {
				width: 700px;
				margin-left: -350px;

				.modal__inner-container {

					.modal__input-container,
					.modal__action {
						margin-left: 40px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {

	body {

		.modal__container_all {

			.modal__close {
				height: 23px;
				width: 23px;
				top: 13px;
				right: 11px;
			}

			.modal__footer-text {
				display: none;
			}

			.modal__inner-container {
				   width: 90%;
				   left: 5%;
				   margin-left: 0;
				   margin-top: 25px;
			}

			.modal__login {
				width: 90%;
				height: 470px;

				top: 0;
				margin-bottom: 75px !important;
				margin-top: 10px!important;
				margin-left: 5%;

				left: 0;
			}

			.modal__password {
				width: 90%;
				height: 315px;

				top: 0;
				margin-top: 45px;
				margin-bottom: 45px;
				margin-left: 5%;

				left: 0;
			}

			.modal__register {
				width: 90%;
				height: 785px;

				top: 0;
				margin-bottom: 90px!important;
				margin-top: 15px!important;
				margin-left: 5%;

				left: 0;

				.modal__inner-container {

					.modal__input-container {
						width: 100%;
						
						&:not(:nth-child(even)) {
							margin-left: 0;
						}
					}

					.modal__action {
						width: 100%;

						margin-top: 20px;
					}

					.modal__links {
						margin-top: 20px;
					}
				}

				.modal__footer-text {
					display: block;
					width: 90%;

					margin-top: 20px;
					margin-left: 5%;
				}
			}

			.modal__register-login {
				width: 90% !important;
				height: 1170px;

				top: 0;
				margin-bottom: 75px !important;
				margin-top: 75px!important;
				margin-left: 5% !important;

				left: 0;

				.modal__divider {
					width: 100%;
					height: 1px;

					left: 0;
					top: 645px;
				}

				.modal__footer-text {
					display: block;

					width: 90%;

					margin-left: 5%;
					margin-top: 25px;
				}

				.modal__single-modal {
					width: 100%;
					height: auto;
				}
			}

			.modal__office {
				width: 90%;
				left: 5%;
				top: 20%;
				margin-left: 0;
				margin-bottom: 0;
				margin-top: 0;
			}

			.modal__calculator {
			    width: 90%;
			    height: auto;

			    margin-left: 0;
			    left: 5%;
			    top: 0;
				margin-bottom: 75px !important;
				margin-top: 75px!important;

			    padding-top: 25px;

			    border-radius: 10px;
			    background: white;

			    .modal__close {
			    	span {
			    		background-color: $purple;
			    	}
			    }

			    #credit_get {
			    	width: 270px;
    				margin: 30px 0 0 -135px;
			    }
			}

			.modal__question {
				width: 90%;
				height: auto;

				margin-left: 0;
				margin-bottom: 75px !important;
				margin-top: 75px!important;
				left: 5%;
				top: 0;

				.modal__inner-container {

					.modal__input-container {
						width: 90%;
						
						margin-left: 5%;
					}

					.modal__action {
						width: 260px;

						left: 50%;
						margin-left: -130px;

					    margin-top: 0px;
    					margin-bottom: 25px;
					}
				}
			}

			.modal__credit-cash {
				width: 90%;
				height: auto;

				margin-left: 0;
				margin-bottom: 75px !important;
				margin-top: 75px!important;
				left: 5%;
				top: 0;

				.modal__footer-text {
					display: block;

				    margin-top: -10px;
				    margin-bottom: 15px;
				    margin-left: 10%;

				    width: 80%;
				    
				    font-size: 15px;	
				    line-height: 18px;
				}

				.credits_calculator {
					text-align: center;

					.calculator__input-container {
						width: 95%;
					}

					#calculator__send {
						display: inline-block;

					    width: 260px;
					    
					    margin: 0;
					    margin-left: -16px;
					    margin-top: 30px;
					    left: 0;
					}
				}
			}
			.modal__request-rework {
				width: 90%;
				left: 5%;
				top: 20%;
				margin-left: 0;
				margin-bottom: 0;
				margin-top: 0;

				.modal__rework {
					padding: 0 20px;
				}
			}
		}
	}
}

@media screen and (max-height: 750px) {
	body {
		.modal__container_all {
			overflow-y: auto;
		}
	}
}

@media screen and (max-width: 1170px) and (max-height: 600px) {
	body {
		.modal__container_all {
			.modal__login,
			.modal__register,
			.modal__register-login {
				top: 10%;
				margin-top: 0;
				margin-bottom: 5%;
			}
		}
	}
}