// set font, color and font size
@mixin text($family, $size, $color) {
	font-family: $family;
	font-size: $size;
	color: $color;
}

//visible state for modal windows
@mixin showModal() {
	display: block;
	opacity: 1;
	visibility: visible;
	transform: translate3d(0,0,0);
}

@mixin modal_button() {
	display: inline-block;

	width: 100%;
	height: 50px;

	margin: 0px;
	margin-top: 5px;

	border-radius: 2px;
	text-transform: uppercase;

	background-color: $purple;

	@include text($robotoM, 16px, white);
	text-align: center;
	line-height: 50px;

	cursor: pointer;

	transition: box-shadow 0.1s linear;
	will-change: box-shadow;

	&:hover {
		box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
	}
}

@mixin button_with_icon() {
	@include modal_button();

	svg {
		vertical-align: middle;
		margin-right: 15px;
	}
}