//fonts
$robotoR: 'Roboto-Regular', sans-serif;
$robotoM: 'Roboto-Medium', sans-serif;
$robotoB: 'Roboto-Bold', sans-serif;

//colors
$purple: #4e2582;
$orange: #eb8912;
$grey: grey;
$white: white;
$black40: #404040;
$black21: #212121;

// media
$mobile: "(max-width: 767px)";
