include ../partials/variables.pug
include ../partials/mixins.pug
.modal__container_all
    include ./agreement.pug
    include ./cannot_modify_data.pug
    include ./login.pug
    include ./password.pug
    include ./register.pug
    include ./register-login.pug
    include ./calculator.pug
    include ./credit-cash.pug
    include ./question.pug
    include ./office.pug
    include ./request-rework.pug