.modal-window.modal__calculator(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.price_box
		.price_input
			.input_sliders.loading
				h2 КРЕДИТЫ ДЛЯ ЛЮБОЙ СИТУАЦИИ
				.slider_summ
					span Выберите сумму
					input(type="range", value="3000", style="visibility: hidden;")
					input#number_summ.input_number.number_summ_input(type="number", value="3000", min="200", data-input-type="sum")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
					span.forNumber гр.
					span.range-number.range-min 200
					span.range-number.range-max 7000
				.slider_date
					span Выберите срок
					input(type="range", value="10", style="visibility: hidden;")
					input#number_date.input_number(type="number", value="10", min="1", data-input-type="time")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
					span.forDate дней
					span.range-number.range-min 1
					span.range-number.range-max 15
			.input_pros
				div
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
					span до 7 000 грн
				div
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
					span до 15 дней
				div
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
					span без справки о доходах
		.price_output.cash
			.credit_final#credit_final_mobile
				div
					span Сумма кредита:
					div
						span#credit_final_summ
						span &nbsp&nbspгр.
				div
					span Срок возврата:
					div: span#credit_final_date
				div
					span За пользование:
					div
						span#credit_final_using
						span &nbsp&nbspгр.
			span Выберите способ получения
			.credit_type
				span#cash Наличными
				span#card На карту
				div
				hr
			.credit_type_mobile на карту
			.credit_final#credit_final_desktop
				div
					span Сумма кредита:
					div
						span#credit_final_summ
						span &nbsp&nbspгр.
				div
					span Срок возврата:
					div: span#credit_final_date
				div
					span За пользование:
					div
						span#credit_final_using
						span &nbsp&nbspгр.
			#credit_get.ripple-button ОТПРАВИТЬ ЗАЯВКУ