.modal-window.modal__cannot_modify_data(tabindex="-1", role="dialog")
    .modal__close
        span
        span
    .modal__center_wrap
        .modal__x_icon
            span
            span
        .modal__inner-text
            |Чтобы изменить персональные данные обратитесь по номеру <br />
            a(href="tel:093 123 45 67") 093 123 45 67
        .modal__button.ripple-button OK
