include ../partials/mixins.pug
.modal-window.modal__credit-cash(tabindex="-1", role="dialog")
	svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
		defs
			symbol#icon-triangle(viewBox="0 0 32 32")
				path(class="path1", d="M6 4l20 12-20 12z")
	.modal__close
		span
		span
	.modal__title Получить наличными
	.credits_calculator
		.calculator__form-container.summ_time
			.calculator__input-container.summ
				span.calculator__input-title Сумма
				input#calculator__summ-input-modal(type="number")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
				span.calculator__input-label грн.
				span.calculator__input-incorrect Необходимо указать сумму
			.calculator__input-container.time
				span.calculator__input-title Срок
				input#calculator__time-input-modal(type="number")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
				span.calculator__input-label дней
				span.calculator__input-incorrect Необходимо указать срок
		.calculator__form-container.name_city
			.calculator__input-container.name
				span.calculator__input-title Ф.И.О.
				input(type="text")
				span.calculator__input-incorrect Необходимо указать ФИО
			.calculator__input-container.city
				span.calculator__input-title Город
				div.selectStyler
					+svg('icon-triangle')
					select#guestcredit-city_id-modal(name="GuestCredit[city_id]").
						<option value="0" selected disabled>Укажите город</option>
						<option value="3">Авдеевка</option>
						<option value="11">Александрия</option>
						<option value="51">Артемовск</option>
						<option value="56">Ахтырка</option>
						<option value="101">Белая Церковь</option>
						<option value="128">Бердичев</option>
						<option value="129">Бердянск</option>
						<option value="131">Берегово</option>
						<option value="190">Борисполь</option>
						<option value="218">Бровары</option>
						<option value="220">Броды</option>
						<option value="269">Васильков</option>
						<option value="367">Винница</option>
						<option value="378">Вишневое</option>
						<option value="381">Владимир-Волынский</option>
						<option value="391">Вознесенск</option>
						<option value="400">Волноваха</option>
						<option value="448">Гадяч</option>
						<option value="577">Дебальцево</option>
						<option value="600">Дзержинск</option>
						<option value="608">Димитров</option>
						<option value="615">Днепродзержинск</option>
						<option value="616">Днепропетровск</option>
						<option value="654">Дрогобыч</option>
						<option value="659">Дружковка</option>
						<option value="666">Дубно</option>
						<option value="681">Евпатория</option>
						<option value="703">Житомир</option>
						<option value="704">Жмеринка</option>
						<option value="742">Запорожье</option>
						<option value="783">Золотоноша</option>
						<option value="798">Ивано-Франковск</option>
						<option value="815">Измаил</option>
						<option value="824">Ильичевск</option>
						<option value="862">Калуш</option>
						<option value="864">Каменец-Подольский</option>
						<option value="897">Каховка</option>
						<option value="906">Керчь</option>
						<option value="908">Киев</option>
						<option value="917">Кировоград</option>
						<option value="974">Коломыя</option>
						<option value="988">Комсомольск</option>
						<option value="996">Конотоп</option>
						<option value="1000">Константиновка</option>
						<option value="1025">Коростень</option>
						<option value="1027">Коростышев</option>
						<option value="1055">Краматорск</option>
						<option value="1062">Красноармейск</option>
						<option value="1097">Кременчуг</option>
						<option value="1104">Кривой Рог</option>
						<option value="1127">Купянск</option>
						<option value="1185">Лисичанск</option>
						<option value="1199">Лубны</option>
						<option value="1213">Луцк</option>
						<option value="1217">Львов</option>
						<option value="1277">Мариуполь</option>
						<option value="1308">Мелитополь</option>
						<option value="1322">Миргород</option>
						<option value="1349">Могилев-Подольский</option>
						<option value="1372">Мукачево</option>
						<option value="1398">Нежин</option>
						<option value="1403">Немиров</option>
						<option value="1427">Николаев</option>
						<option value="1439">Никополь</option>
						<option value="1470">Нововолынск</option>
						<option value="1472">Новоград-Волынский</option>
						<option value="1491">Новомосковск</option>
						<option value="1546">Обухов</option>
						<option value="1551">Одесса</option>
						<option value="1621">Павлоград</option>
						<option value="1653">Переяслав-Хмельницкий</option>
						<option value="1752">Полтава</option>
						<option value="1788">Прилуки</option>
						<option value="1851">Ровно</option>
						<option value="1880">Ромны</option>
						<option value="1890">Рубежное</option>
						<option value="1918">Самбор</option>
						<option value="1925">Сарны</option>
						<option value="1943">Севастополь</option>
						<option value="1945">Северодонецк</option>
						<option value="1970">Симферополь</option>
						<option value="1990">Славянск</option>
						<option value="2001">Смела</option>
						<option value="2065">Староконстантинов</option>
						<option value="2104">Стрый</option>
						<option value="2113">Сумы</option>
						<option value="2157">Тернополь</option>
						<option value="2203">Тячев</option>
						<option value="2214">Ужгород</option>
						<option value="2223">Умань</option>
						<option value="2235">Фастов</option>
						<option value="2238">Феодосия</option>
						<option value="2249">Харьков</option>
						<option value="2252">Херсон</option>
						<option value="2260">Хмельницкий</option>
						<option value="2280">Хуст</option>
						<option value="2311">Червоноград</option>
						<option value="2324">Черкассы</option>
						<option value="2327">Чернигов</option>
						<option value="2331">Черновцы</option>
						<option value="2361">Чортков</option>
						<option value="2363">Чугуев</option>
						<option value="2391">Шепетовка</option>
						<option value="2408">Шостка</option>
						<option value="2429">Южный</option>
						<option value="2467">Шостка</option>
				span.calculator__input-incorrect Необходимо указать город
		.calculator__form-container.tel_office
			.calculator__input-container.tel
				span.calculator__input-title Телефон
				input(type="tel")
				span.calculator__input-incorrect Необходимо указать телефон
			.calculator__input-container.office
				span.calculator__input-title Отделение
				div.selectStyler
					+svg('icon-triangle')
					select#guestcredit-department_id.form-control(name="GuestCredit[department_id]").
									<option value="0" selected disabled>Отделение</option>
									<option value="188"> Салтовское шоссе,147</option>
									<option value="118"> ул. Воскресенская,5</option>
									<option value="108"> ул. Городецькая,88</option>
									<option value="342">5-й Зарічний мікрорайон, 11, Кривий Ріг, Дніпропетровська область, Украина</option>
									<option value="89">Базарна вулиця, 4,</option>
									<option value="146">Богдана Хмельницького вулиця, 137</option>
									<option value="339">Богоявленський проспект, 340/8, Миколаїв, Миколаївська область, Украина</option>
									<option value="223">бул. Комарова, 10 А</option>
									<option value="299">бул. Чоколовский, 1</option>
									<option value="234">бул. Шевченко (проспект Ленина), 1</option>
									<option value="259">бул. Шевченко, 295а</option>
									<option value="210">бул. Шевченко, 345/10</option>
									<option value="27">бульвар Будівельників, 3</option>
									<option value="28">бульвар Будівельників, 5</option>
									<option value="124">вул. Генерала Карпенко, 20</option>
									<option value="290">вул. Горького  (приміщення універмагу Красноармійськ)</option>
									<option value="85">вулиця 50-річчя Радяньської Армії, 27</option>
									<option value="44">вулиця 8-го Березня, 2</option>
									<option value="6">вулиця Європейська, 101</option>
									<option value="336">вулиця Академіка Корольова, 70/Глушко,16, Одеса, Одеська область, Украина</option>
									<option value="310">вулиця Анголенко, 11, Запоріжжя, Запорізька область, Украина</option>
									<option value="313">вулиця Бєлінського, 11, Херсон, Херсонська область, Украина</option>
									<option value="334">вулиця Базарна, 11, Запоріжжя, Запорізька область, Украина</option>
									<option value="329">вулиця Белінського, 11, Херсон, Херсонська область, Украина</option>
									<option value="52">вулиця Богдана Хмельницького, 19</option>
									<option value="31">вулиця Братів Трофімових, 40</option>
									<option value="245">вулиця Будівельників, 43 /12, Київ, Украина</option>
									<option value="251">вулиця Вадима Гетьмана, 40А</option>
									<option value="250">вулиця Василя Липківського, 8</option>
									<option value="69">вулиця Василя Липківського, 8, Київ, Украина</option>
									<option value="86">вулиця Василя Стуса, 2</option>
									<option value="335">вулиця Ватутіна, 70/106, Кривий Ріг, Дніпропетровська область, Украина</option>
									<option value="84">вулиця Вокзальна, 24</option>
									<option value="11">вулиця Гагаріна, 14</option>
									<option value="49">вулиця Галицька, 99, Івано-Франківськ, Івано-Франківська область, Украина, 76000</option>
									<option value="238">вулиця Героїв Дніпра, 43</option>
									<option value="225">вулиця Героїв Небесної Сотні, 23, Шепетівка, Хмельницька область, Украина, 30400</option>
									<option value="35">вулиця Героїв Сталінграду, 119</option>
									<option value="314">вулиця Героїв Сталінграду, 123, Дніпропетровськ, Дніпропетровська область, Украина</option>
									<option value="253">вулиця Гетьмана Мазепи, 5</option>
									<option value="47">вулиця Гудименка, 30</option>
									<option value="20">вулиця Данила Галицького 12</option>
									<option value="22">вулиця Данила Галицького, 7</option>
									<option value="62">вулиця Декабристів, 12/37</option>
									<option value="13">вулиця Декабристів, 4</option>
									<option value="41">вулиця Домбровського, 38</option>
									<option value="128">вулиця Електрометалургів, 5</option>
									<option value="64">вулиця Електротехнічна, 1, Київ, Украина</option>
									<option value="316">вулиця Жилянська, 107,корпус 26, Київ, Украина</option>
									<option value="19">вулиця Жовтнева, 16</option>
									<option value="21">вулиця Жовтневої Революції, 5</option>
									<option value="12">вулиця Залізнична, Броди</option>
									<option value="240">вулиця Кіото, 8, Київ</option>
									<option value="117">вулиця Кірова, 53</option>
									<option value="341">вулиця Карла Лібкнехта, 15  Лозова, Харківська область, Украина</option>
									<option value="318">вулиця Карла Маркса, 16, Шостка, Сумська область, Украина</option>
									<option value="244">вулиця Карпатської Січі, Хуст 43</option>
									<option value="132">вулиця Каштанова, 2</option>
									<option value="15">вулиця Київська, 45</option>
									<option value="10">вулиця Київський шлях, 70</option>
									<option value="75">вулиця Кирилівська 166</option>
									<option value="166">вулиця Корятовича, 15</option>
									<option value="120">вулиця Космонавта Беляєва, 1/2, пом. 13 Мукачево, Закарпатська область, Украина</option>
									<option value="3">вулиця Леваневського, 59</option>
									<option value="5">вулиця Леніна, 15, Бердичів</option>
									<option value="26">вулиця Леніна, 57</option>
									<option value="95">вулиця Лермонтова, 24, Кривий Ріг, Дніпропетровська область, Украина, 50000</option>
									<option value="106">вулиця Личаківська, 50</option>
									<option value="309">вулиця Магнітогорська, 5, Київ, Украина</option>
									<option value="285">вулиця Менделєєва, 29</option>
									<option value="246">вулиця Миколи Кибальчича, 11А</option>
									<option value="90">вулиця Михайла Грушевського, 28</option>
									<option value="321">вулиця Небесної Сотні, 14, Житомир, Житомирська область, Украина</option>
									<option value="312">вулиця Овдіївська 1, прим.21, Ніжин, Чернігівська область, Украина</option>
									<option value="9">вулиця Павлика Морозова, 15</option>
									<option value="286">вулиця Паркова, 79, Краматорськ, Донецька область, Украина</option>
									<option value="96">вулиця Погребняка, 18</option>
									<option value="320">вулиця Попудренка, 61, Київ, Украина</option>
									<option value="77">вулиця Попудренка, 9А, Київ</option>
									<option value="337">вулиця Поштова, 155/Запорізька 12, Запоріжжя, Запорізька область, Украина</option>
									<option value="229">вулиця Радянська, 33</option>
									<option value="102">вулиця Радянська, 34, Лубни, Полтавська область, Украина</option>
									<option value="288">вулиця Радянська, 69</option>
									<option value="34">вулиця Робоча, 77</option>
									<option value="50">вулиця Січових стрільців, 52</option>
									<option value="116">вулиця Свердлова, 3</option>
									<option value="18">вулиця Соборна, 53</option>
									<option value="65">вулиця Сормовська, 15, Київ, Украина</option>
									<option value="70">вулиця Старовокзальна, 24, Київ, Украина</option>
									<option value="57">вулиця Теодора Драйзера, 8, Київ, Украина</option>
									<option value="98">вулиця Тухачевського, 44</option>
									<option value="257">вулиця Ушинського, 1</option>
									<option value="340">вулиця Центральна, 84, Павлоград, Дніпропетровська область, Украина, 51400</option>
									<option value="311">вулиця Червоноармійська, 1, Бориспіль, Київська область, Украина</option>
									<option value="79">вулиця Червоногвардійська, 2</option>
									<option value="319">вулиця Шевченка, 2\1, Новоград-Волинський, Житомирська область, Украина, 11702</option>
									<option value="30">вулиця Шолохова, 1</option>
									<option value="317">вулиця Шолохова, 1, Дніпропетровськ, Дніпропетровська область, Украина</option>
									<option value="255">вулиця Щербакова, 56/7</option>
									<option value="72">вулиця Щербакова, 63</option>
									<option value="4">вулиця Ярослава Мудрого, 29, Біла Церква, Київська область, Украина</option>
									<option value="218">Головна вулиця, 16, Чернівці, Чернівецька область, Украина</option>
									<option value="324">Головна вулиця, 16а, Чернівці, Чернівецька область, Украина</option>
									<option value="220">Головна вулиця, 200, Чернівці, Чернівецька область, Украина</option>
									<option value="235">Донецкое шоссе,2б</option>
									<option value="46">Запорізька вулиця, 155/12</option>
									<option value="184">Золочевская,20а</option>
									<option value="58">Лісовий проспект, 25, Київ, Украина</option>
									<option value="277">м-н Светлый (район рынка 811-07-10)</option>
									<option value="330">м-н Шахтерский 1, кв. 32, Красноармейск, Донецкая область, Украина, 85300</option>
									<option value="74">майдан Независимости</option>
									<option value="42">майдан Согласия, 3/75/ оф.23</option>
									<option value="37">Новокримська вулиця, 1</option>
									<option value="68">Оболонський проспект, 20, Київ, Украина</option>
									<option value="82">Оболонський проспект, 28, Київ, Украина</option>
									<option value="294">Південний проспект, 29</option>
									<option value="300">Північно-Кільцева вулиця, 10</option>
									<option value="2">пер. Харьковский 3</option>
									<option value="25">пл. 50-летия Октября, 3-Б</option>
									<option value="141">пл. Бориса Деревянко, 2, Одеса, Одеська область, Украина</option>
									<option value="174">пл. Восстания, 3</option>
									<option value="81">пл. Дружбы Народов, 6,</option>
									<option value="236">пл. Конотопских девизий, 196</option>
									<option value="252">пл. Кошута, 8</option>
									<option value="101">пл. Ленина, 31/2</option>
									<option value="32">площа Петровського, 1</option>
									<option value="38">площа Ринок, 31</option>
									<option value="73">Політехнічний провулок, 3</option>
									<option value="88">пр-т Мира,9</option>
									<option value="219">пр-т Независимости, 113</option>
									<option value="215">пр-т Победы, 9-Б</option>
									<option value="104">пр-т. Воли, 5/1</option>
									<option value="53">пр-т. Грушевского, 25/4</option>
									<option value="216">пр-т. Мира, 126-а</option>
									<option value="231">пр-т. Юности, 20/73</option>
									<option value="100">пр. 200 лет Кривого Рога, 7в</option>
									<option value="187">пр. Героев Сталинграда, 136</option>
									<option value="137">пр. Добровольского, 114/2</option>
									<option value="140">пр. Добровольского, 73 А</option>
									<option value="143">пр. Добровольского, 98</option>
									<option value="264">пр. Ильича, 141</option>
									<option value="177">пр. Косиора, 99</option>
									<option value="114">пр. Красной Калины,51</option>
									<option value="258">пр. Металлургов, 62/90</option>
									<option value="125">пр. Мира угол пл.Победы</option>
									<option value="269">пр. Мира, 102</option>
									<option value="126">пр. Мира, 2</option>
									<option value="307">пр. Мира, 69/1 а</option>
									<option value="185">пр. Московский, 274з</option>
									<option value="190">пр. Московский, 5</option>
									<option value="262">пр. Победы, 113</option>
									<option value="176">пр. Победы, 61</option>
									<option value="217">пр. Победы,92</option>
									<option value="266">пр. Строителей, 125</option>
									<option value="260">пр. Строителей, 60</option>
									<option value="175">пр. Тракторостроителей, 160</option>
									<option value="315">пр. Труда 33-Г 6</option>
									<option value="301">пр.-т Гвардейский,46</option>
									<option value="296">пр.-т Московский, 15-а</option>
									<option value="180">провулок Розторгуевський,2, Харьков, Харьковская область</option>
									<option value="183">проезд Шарикова, 29</option>
									<option value="214">просп. Мира, 53</option>
									<option value="115">проспект 50-річчя Перемоги, 49</option>
									<option value="107">проспект В'ячеслава Чорновола, 13</option>
									<option value="333">проспект Володимира Маяковського, 75 б, Киев, Украина</option>
									<option value="94">проспект Гагаріна, 37</option>
									<option value="33">проспект Газети «Правда», 1</option>
									<option value="36">проспект Героїв, 3</option>
									<option value="78">проспект Голосіївський, 8</option>
									<option value="323">проспект Добровольського, 98, Одеса, Одеська область, Украина</option>
									<option value="293">проспект Кірова, 104А</option>
									<option value="16">проспект Коцюбинського, 11</option>
									<option value="14">проспект Коцюбинського, 31</option>
									<option value="295">проспект Леніна 96</option>
									<option value="7">проспект Леніна, 47</option>
									<option value="48">проспект Леніна, 51</option>
									<option value="66">проспект Леся Курбаса, 20, Київ, Украина</option>
									<option value="182">проспект Людвига свободы,35</option>
									<option value="338">проспект Мазепи, 1А, Вишгород, Київська область, Украина, 07301</option>
									<option value="308">проспект Маршала Жукова, 5, Харків, Харківська область, Украина</option>
									<option value="99">проспект Металургів, 22</option>
									<option value="247">проспект Миколи Бажана, 3</option>
									<option value="71">проспект Науки, 4, Київ, Украина</option>
									<option value="67">проспект Перемоги, 100, Київ, Украина</option>
									<option value="63">проспект Перемоги, 86</option>
									<option value="61">проспект Петра Григоренка, 32, Київ, Украина</option>
									<option value="56">проспект Свободи, 13,</option>
									<option value="167">проспект Свободи, 32</option>
									<option value="332">проспект Центральний, 29/3, Миколаїв, Миколаївська область, Украина</option>
									<option value="112">проспект Червоної Калини, 109, Львів, Львівська область, Украина</option>
									<option value="191">Сидельниковский переулок,10 б</option>
									<option value="171">Соборна вулиця, 33, Фастів</option>
									<option value="170">Соборна вулиця, 45</option>
									<option value="139">Торгова (вул.Червоної Гвардії), буд.49</option>
									<option value="196">угол пр. 200 лет Херсона и ул. Некрасова</option>
									<option value="29">ул. 20 лет Победы, 29</option>
									<option value="172">ул. 23-го Августа, 30</option>
									<option value="93">ул. 50 лет Октября, 18Б</option>
									<option value="213">ул. 50 лет СССР, 2</option>
									<option value="265">ул. 50-лет Октября, 21</option>
									<option value="261">ул. 50-летия СССР,75</option>
									<option value="207">ул. А.Шептицкого,18, пом.3</option>
									<option value="133">ул. Ак.Королева,114, корп. Киоск №6</option>
									<option value="136">ул. Академика Заболотного, 54-А</option>
									<option value="189">ул. Академика Проскуры, 5</option>
									<option value="173">ул. Блюхера, 21</option>
									<option value="230">ул. Блюхера, 37/128</option>
									<option value="127">ул. Большая Морская, 65/4</option>
									<option value="237">ул. В. Чорновола,12а</option>
									<option value="254">ул. Валовая, 50</option>
									<option value="209">ул. Вернигоры, 4</option>
									<option value="105">ул. Винниченко,16</option>
									<option value="227">ул. Гагарина, 12</option>
									<option value="263">ул. Гагарина, 2</option>
									<option value="178">ул. Гвардейцев Широнинцев, 45</option>
									<option value="142">ул. Ген. Бочарова, 47 кут Дніпропетровська дор., 118</option>
									<option value="306">ул. Героев Днепра, 41 (пав.4)</option>
									<option value="192">ул. Героев Сталинграда, 134ж</option>
									<option value="271">ул. Гетьмана И. Мазепы,д 28</option>
									<option value="109">ул. Гетьмана И.Мазепы, 11</option>
									<option value="248">ул. Гоголя 91/46</option>
									<option value="228">ул. Горького, 145а</option>
									<option value="122">ул. Горького, 88</option>
									<option value="157">ул. Грушевского, 1</option>
									<option value="278">ул. Дворцовая, 23</option>
									<option value="298">ул. Довженко Александра, д. 1-а/48</option>
									<option value="304">ул. Жилянская,107</option>
									<option value="151">ул. Зиньковская, 4а</option>
									<option value="202">ул. Институтская, 11</option>
									<option value="162">ул. Интернационалистов.21/1</option>
									<option value="24">ул. К. Острозкого,11</option>
									<option value="267">ул. Казанцева, 17</option>
									<option value="150">ул. Калинина,37</option>
									<option value="200">ул. Камянецкая,82</option>
									<option value="292">ул. Карла Маркса,59</option>
									<option value="181">ул. Касиора, 93/16</option>
									<option value="156">ул. Киевская, 40-М</option>
									<option value="273">ул. Киевский шлях,10</option>
									<option value="54">ул. Князей Кориатовичей, 13/13</option>
									<option value="275">ул. Комяхова, 4</option>
									<option value="163">ул. Кооперативная, 1</option>
									<option value="55">ул. Кооперативная, 8</option>
									<option value="282">ул. Космонавтов, 53</option>
									<option value="39">ул. Кочерги, 13/1</option>
									<option value="123">ул. Красных Маевщиков, возле д.11</option>
									<option value="289">ул. Курчатова, 22</option>
									<option value="203">ул. Курчатова, 4</option>
									<option value="195">ул. Лавренева, 12</option>
									<option value="131">ул. Леваневского, 4а</option>
									<option value="51">ул. Ленина 18</option>
									<option value="113">ул. Любинская, 89</option>
									<option value="60">ул. М. Расковой, 1Г</option>
									<option value="197">ул. Маяковского,4</option>
									<option value="303">ул. Межигорская, д 56, магазин № 80</option>
									<option value="164">ул. Метрополита  Шептицкого 7/1</option>
									<option value="194">ул. Мира, 18</option>
									<option value="40">ул. Московская, 14</option>
									<option value="121">ул. Московская,4</option>
									<option value="165">ул. Независимости, 37</option>
									<option value="152">ул. Независимости, 65 (магазин2)</option>
									<option value="302">ул. О. Телиги, д.17</option>
									<option value="256">ул. Октябрьская, 79</option>
									<option value="270">ул. Олимпийская, 157/1</option>
									<option value="204">ул. П. Мирного, 30</option>
									<option value="138">ул. Пантелеймоновская, 95</option>
									<option value="206">ул. Проскуровского подполья (ул. Котовского),16</option>
									<option value="291">ул. Пушкина, 45-47</option>
									<option value="272">ул. Пушкинская, д 50/52 а-5</option>
									<option value="232">ул. Пушкинская,9/4</option>
									<option value="92">ул. Республиканская, 61а</option>
									<option value="198">ул. Розы Люксембург, 28а(угол ул. Комкова)</option>
									<option value="23">ул. Руденко, д. 12-А</option>
									<option value="249">ул. Русская,24</option>
									<option value="159">ул. Свердлова, 102а</option>
									<option value="283">ул. Свердлова, 247а</option>
									<option value="103">ул. Сенаторки Левчанивськой, 4</option>
									<option value="111">ул. Сиховская,28</option>
									<option value="208">ул. Смелянская,42/3</option>
									<option value="201">ул. Соборная, 19</option>
									<option value="305">ул. Соборная, 264</option>
									<option value="154">ул. Соборная, 264</option>
									<option value="153">ул. Соборная,57</option>
									<option value="168">ул. Советская, 5</option>
									<option value="119">ул. Ставиская, 5</option>
									<option value="221">ул. Стасюка,1а</option>
									<option value="241">ул. Сумгаитская, д. 24</option>
									<option value="160">ул. Тараса Шевченко,83</option>
									<option value="169">ул. Тищика, 29</option>
									<option value="284">ул. Тургенева, 4 (приміщення магазину "Злата")</option>
									<option value="268">ул. Урицкого, 83</option>
									<option value="279">ул. Циолковского, 72е</option>
									<option value="147">ул. Чапаева,1</option>
									<option value="129">ул. Шевченка 37/2</option>
									<option value="155">ул. Шевченко, 18</option>
									<option value="274">ул. Шевченко, 5</option>
									<option value="199">ул. Шевченко, 89</option>
									<option value="222">ул. Шевченко,30</option>
									<option value="158">ул. Широкая, 35</option>
									<option value="281">ул. Шота, 183</option>
									<option value="239">ул. Шпытальная, 21 пом.36</option>
									<option value="179">ул. Энгельса, 29-А</option>
									<option value="322">ул. Юбилейная, 20/22, Бахмут, Донецька область, Украина, 84501</option>
									<option value="148">ул.Великотырновская,35/2</option>
									<option value="91">ул.Воровского,27 корпус А</option>
									<option value="144">ул.Генерала Бочарова,угол Добровольского,112</option>
									<option value="186">ул.Грицевца,37</option>
									<option value="161">ул.Засумская,1</option>
									<option value="280">ул.Краснодарская 3д</option>
									<option value="87">ул.Ленина,37</option>
									<option value="243">ул.Новоселовская,2г</option>
									<option value="134">ул.Садовая,2 пом.503</option>
									<option value="226">ул.Химиков,27</option>
									<option value="149">ул.Шевченко,54</option>
									<option value="287">Химиков просп., 34</option>
									<option value="45">Чарівна вулиця, 129</option>
				span.calculator__input-incorrect Необходимо указать отделение
		.calculator__form-container.promo_send
			.calculator__input-container.promo
				span.calculator__input-title Промокод
				input(type="text")
			#calculator__send.ripple-button ОТПРАВИТЬ
	.modal__footer-text Согласен на проверку данных в информационных базах, в т.ч. в базе УБКИ