.modal-window.modal__login(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.modal__title вход
	.modal__subtitle Для зарегистрированных клиентов
	.modal__inner-container
		.modal__input-container.phone
			span Телефон
			input(type="tel", placeholder="Укажите телефон")
			span.modal__label-warning Необходимо указать телефон
		.modal__input-container.password
			span Пароль
			input(type="password", placeholder="Введите пароль")
			span.modal__label-warning Необходимо указать пароль
		.modal__action.ripple-button#modal__login вход
		.modal__links
			a.modal__registration Регистрация
			b |
			a.modal__passwordRecovery Забыли пароль?
	.modal__footer-text * Обращаем Ваше внимание что заявки на кредит принимаются с 8 до 21 в будни и с 8 до 19 в выходные