.modal-window.modal__office(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.modal__title Отделение №322
	.modal__inner-container
		.modal__text-container
			span.text-container_title Адрес:
			br
			span#modal__address-output пл. Дружбы Народов, 6
		.modal__text-container
			span.text-container_title Время работы:
			br
			span#modal__workTime-output 09:00 - 21:00
		.modal__text-container
			span.text-container_title Как найти:
			br
			span#modal__findUs-output Между метро и супермаркетом