.modal-window.modal__password(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.modal__title забыли пароль?
	.modal__inner-container
		.modal__input-container.email
			span Email
			input(type="email", placeholder="Введите email")
			span.modal__label-warning Необходимо указать email
		.modal__action.ripple-button#modal__password отправить