include ../partials/mixins.pug
.modal-window.modal__question(tabindex="-1", role="dialog")
	svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
		defs
			symbol#icon-triangle(viewBox="0 0 32 32")
				path(class="path1", d="M6 4l20 12-20 12z")
	.modal__close
		span
		span
	.modal__title задайте вопрос
	.modal__inner-container
		.modal__input-container.honorific
			span Вид обращения
			div.selectStyler
				+svg('icon-triangle')
				select#honorific.
					<option value="0" selected disabled>Выберите вариант</option>
					<option value="1">Вариант 1</option>
					<option value="2">Вариант 2</option>
					<option value="3">Вариант 3</option>
					<option value="4">Вариант 4</option>
			span.modal__label-warning Выберите вид обращения
		.modal__input-container.name
			span Ф.И.О.
			input(type="text", placeholder="Укажите Ваше имя")
			span.modal__label-warning Необходимо указать имя
		.modal__input-container.email
			span Email
			input(type="email", placeholder="Укажите Ваш email")
			span.modal__label-warning Необходимо указать email
		.modal__input-container.phone
			span Телефон
			input(type="tel", placeholder="Укажите Ваш телефон")
			span.modal__label-warning Необходимо указать телефон
		.modal__input-container.message
			span Сообщение
			textarea(resize="none", placeholder="Введите сообщение")
			span.modal__label-warning Введите сообщение
		.modal__action.ripple-button#modal__askQuestion отправить запрос