.modal-window.modal__register(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.modal__title регистрация
	.modal__subtitle Для новых клиентов
	.modal__inner-container
		.modal__input-container.phone
			span Телефон
			input(type="tel", placeholder="Укажите телефон")
			span.modal__label-warning Необходимо указать телефон
		.modal__input-container.email
			span Email
			input(type="email", placeholder="Введите email")
			span.modal__label-warning Необходимо указать email
		.modal__input-container.password
			span Пароль
			input(type="password", placeholder="Введите пароль")
			span.modal__label-warning Необходимо указать пароль
		.modal__input-container.password_confirm
			span Повторить пароль
			input(type="password", placeholder="Повторите пароль")
			span.modal__label-warning Пароли не совпадают
		.modal__action.ripple-button#modal__register зарегистрироваться
		.modal__links: a.modal__passwordRecovery Забыли пароль?
	.modal__footer-text * Обращаем Ваше внимание что заявки на кредит принимаются с 8 до 21 в будни и с 8 до 19 в выходные