.modal-window.modal__request-rework(tabindex="-1", role="dialog")
	.modal__close
		span
		span
	.modal__title: img(src="img/warning.png")
	.modal__subtitle В Вашей заявке<br/>обнаружена ошибка
	.modal__errorType Некорректный номер карты
	.modal__rework Исправить ошибку, чтобы отправить заявку повторно