body {

  main#cp_personal.getCredit_steps.step_1 {

    .step_1 {
      .step_label{
        color: #fe891f;
      }
    }

    .step_fieldset {
      &.userRegistrationAddress {
        margin-top: 20px;

        height: 0;
        opacity: 0;

        transition: height 0.3s ease, opacity 0.3s ease;
        will-change: height, opacity;

        overflow: hidden;

        &.active {
          opacity: 1;
          height: 260px;
        }
      }

      &.userContact {
        .step_radioset-title {
          display: inline-block;

          width: 100%;

          font-family: $robotoR;
          color: $black40;
          text-align: left;
        }
      }
    }

    label.step_fieldset-field {

      &.userPassportSeries {
        float: left;

        width: 35%;
      }

      &.userPassportNumber {
        float: right;

        width: 55%;
      }

      &.userSex {
        clear: both;
        margin-right: 50%;

        @media #{$mobile} {
          margin-right: 0;
        }
      }

      &.userPassportGivenBy,
      &.userPassportSurname,
      &.userPassportBirthdayDate,
      &.userContactEmail{
        float: right;
      }

      &.userPassportGivenBy {
        textarea {
          height: 85px !important;
          resize: none;
        }
      }

      &.userPassportBirthdayDate,
      &.userPassportGivenDate {

        input {
          width: 80% !important;
        }

        svg {
          float: right;

          width: 25px;
          height: 24px;

          margin-top: 25px;
          margin-right: 10px;

          cursor: pointer;
        }
      }

      &.userAddressCity,
      &.userRegistrationAddressCity {
        float: right;
      }

      &.userAddressHouse,
      &.userRegistrationAddressHouse,
      &.userAddressApartment,
      &.userRegistrationAddressApartment {
        width: 47%;
      }

      &.userAddressApartment,
      &.userRegistrationAddressApartment {
        float: right;
      }

      &.userContactPhone {
        margin-bottom: 40px;
      }
    }

    .double-fieldset {

      &.userPassport,
      &.userAddress {
        float: right;
      }
    }

    .step_fieldset-text-left {
      float: left;

      width: 100%;

      margin-top: 10px;

      @include text($robotoR, 14px, $purple);
      line-height: 16px;
      text-align: left;
    }

    #get_user_data {
      float: left;

      width: 290px;
      height: 50px;

      margin-top: 33px;

      background-color: $purple;
      border-radius: 5px;

      @include text($robotoR, 16px, white);
      line-height: 50px;
      text-align: center;

      cursor: pointer;

      transition: box-shadow 0.1s linear;
      will-change: box-shadow;

      &:hover {
        box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
      }

      @media #{$mobile} {
        width: 100%;
      }
    }

    #confirm-continue {
      float: left;
      position: relative;

      margin-top: 20px;
      left: 50%;
      margin-left: -145px;

      width: 290px;
      height: 50px;

      background-color: $purple;
      border-radius: 5px;

      @include text($robotoR, 16px, white);
      line-height: 50px;
      text-align: center;

      cursor: pointer;

      transition: box-shadow 0.1s linear;
      will-change: box-shadow;

      &:hover {
        box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
      }

      @media #{$mobile} {
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5px;
      }
    }

    &.confirm {

      .step_1 {
        .step_circle {
          color: white;
          background-color: #fe891f;
          border: none;
        }
      }

      .double-fieldset.userPassport {
        clear: both;
        float: left;
        margin-top: 10px;
      }

      input:disabled,
      select:disabled,
      textarea:disabled {
        border: none !important;
      }

      select:disabled {
        color: #000 !important;
      }

      .step_radioset-container label:not(.active) .checkbox-control,
      .step_radioset-container label:not(.active) .radio-control,
      .step_radioset-container label:not(.active) span{
        opacity: 0.4;
        border-color: #bababa;
      }

      .disabled-overflow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;

        cursor: not-allowed;
      }

      label {
        position: relative;
      }

    }
  }
}

.step_radioset.address {
  margin-top: 0px !important;
}

// radioset wrong label
.step_radioset-container {
  position: relative;
  .err {
    margin-top: 10px !important;
  }
}
.step_radioset.wrong {
  .err {
    opacity: 1 !important;
    visibility: visible !important;
  }
}