body {

  main#cp_personal.getCredit_steps.step_3 {

    .step_1,
    .step_2 {
      .step_circle {
        color: white;
        background-color: #fe891f;
        border: none;
      }
    }

    .step_3 {
      .step_label{
        color: #fe891f;
      }
    }

    .step_fieldset-text-left {
      float: left;

      width: 100%;

      margin-top: 0;
      margin-bottom: 20px;

      @include text($robotoR, 16px, $purple);
      line-height: 16px;
      text-align: left;
    }

    .step_fieldset-title {
      margin-bottom: 10px;

      font-family: $robotoR;
      color: $purple;

      svg {
        width: 15px;
        height: 17px;

        margin-right: 10px;

        vertical-align: middle;
      }

      @media #{$mobile} {
        margin-bottom: 23px;
      }
    }

    #confirm-continue {
      float: right;
      position: relative;

      margin-top: 20px;

      width: 290px;
      height: 50px;

      background-color: $purple;
      border-radius: 5px;

      @include text($robotoR, 16px, white);
      line-height: 50px;
      text-align: center;

      cursor: pointer;

      transition: box-shadow 0.1s linear;
      will-change: box-shadow;

      &:hover {
        box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
      }

      @media #{$mobile} {
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5px;
      }
    }

    #step-back {
      float: left;
      position: relative;

      margin-top: 20px;

      width: 290px;
      height: 50px;

      background-color: white;

      border: 1px solid $purple;
      border-radius: 5px;

      @include text($robotoR, 16px, $purple);
      line-height: 50px;
      text-align: center;

      cursor: pointer;

      transition: all 0.1s linear;

      &:hover {
        background-color: $purple;
        color: white;
      }

      @media #{$mobile} {
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}