body {

  main#cp_personal.getCredit_steps.step_4 {

    #confirm-continue {
      float: right;
      position: relative;

      margin-top: 65px;

      width: 290px;
      height: 50px;

      background-color: $purple;
      border-radius: 5px;

      @include text($robotoR, 16px, white);
      line-height: 50px;
      text-align: center;

      cursor: pointer;

      transition: box-shadow 0.1s linear;
      will-change: box-shadow;

      &:hover {
        box-shadow:  0 4px 5px rgba(0, 0, 0, 0.3);
      }

      @media #{$mobile} {
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 5px;
      }
    }

    &.documents {

      #main_steps_form {
        position: relative;

        text-align: center;

        &.error {
          .common_warning_label {
            opacity: 1;
          }

          @media #{$mobile} {
            padding-bottom: 10px;
          }
        }
      }

      .common_warning_label {
        position: absolute;

        width: 285px;

        right: 0;
        bottom: -50px;

        opacity: 0;

        @include text($robotoR, 13px, #bb141a);
        line-height: 18px;
        text-align: left;

        transition: opacity .3s ease;

        @media #{$mobile} {
          bottom: 0;
          width: 100%;
        }
      }

      .step_1,
      .step_2,
      .step_3 {
        .step_circle {
          color: white;
          background-color: #fe891f;
          border: none;
        }
      }

      .step_4 {
        .step_label{
          color: #fe891f;
        }
      }

      #step-back {
        float: left;
        position: relative;

        margin-top:65px;

        width: 290px;
        height: 50px;

        background-color: white;

        border: 1px solid $purple;
        border-radius: 5px;

        @include text($robotoR, 16px, $purple);
        line-height: 50px;
        text-align: center;

        cursor: pointer;

        transition: all 0.1s linear;

        &:hover {
          background-color: $purple;
          color: white;
        }

        @media #{$mobile} {
          width: 100%;
          left: 0;
          margin-left: 0;
          margin-top: 20px;
        }
      }

      .step_document_warning {
        float: left;
        margin-top: 13px;

        svg {
          height: 29px;
          width: 35px;
          float: left;
          margin-top: 15px;
          margin-right: 15px;
        }

        span {
          width: 90%;
          float: left;

          @include text($robotoM, 16px, $purple);
          line-height: 19px;
        }

        @media #{$mobile} {
          span {
            width: 80%;
          }
        }
      }

      .step_fieldset {
        float: left;

        text-align: center;

        &.centeredText {
          float: none;

          max-width: 560px;
          margin: 35px auto;
          display: inline-block;

          @include text($robotoR, 16px, $purple);
          line-height: 19px;
          text-decoration: underline;

          cursor: pointer;
        }

        &.correctPhotoExample {
          height: 65px;

          margin-top: 25px;

          overflow: hidden;

          &.active {
            height: auto;

            .document_examples {
              opacity: 1;
            }
          }

          svg {
            width: 40px;
            height: 30px;
          }

          .document_example-toggle {
            display: inline-block;
            width: 100%;

            margin-top: 10px;
            margin-bottom: 35px;

            @include text($robotoM, 16px, #eb8912);
            letter-spacing: 0.57px;
            line-height: 19px;
            text-decoration: underline;
            text-align: center;

            cursor: pointer;
          }

          @media #{$mobile} {
            height: 80px;
            margin-top: 40px;
          }

          .document_examples {
            opacity: 0;

            transition: opacity 0.3s ease;
            will-change: opacity;

            .document_examples__example {
              width: 320px;

              text-align: center;

              span {
                display: inline-block;

                @include text($robotoM, 16px, $purple);
                line-height: 19px;
              }

              img {
                width: 100%;

                margin-top: 20px;
              }

              @media #{$mobile} {
                float: left !important;

                position: relative;

                left: 50%;
                margin-left: -142.5px;

                width: 285px;

                &:last-child {
                  margin-top: 20px;
                  clear: both;
                }
              }
            }
          }
        }

        &.newPhotoUpload {
          height: 0;
          opacity: 0;

          transition: opacity 0.3s ease;
          will-change: opacity, height;

          overflow: hidden;

          &.active {
            height: auto;
            opacity: 1;
          }

          @media #{$mobile} {
            &.active {
              padding-bottom: 50px;
            }
          }
        }
      }

      .new_content {
        width: 300px;

        &.activeWebCam {
          .new_close {
            display: block !important;
          }

          .new_previewContainer {
            height: 220px !important;
          }
        }

        &.activeImage {
          .new_close {
            display: block !important;
          }
        }

        .new_previewContainer {
          height: 0 !important;
        }

        input {
          position: absolute;
          left: 0;
          height: 50px;
          bottom: -60px;
          z-index: 5;
          opacity: 0;
          display: none;
        }

        img,
        .new_previewContainer {
          width: 100% !important;
        }

        .new_uploadedPhotoContainer {
          position: relative;

          img {
            display: none;
          }

          .new_close {
            display: none;
            position: absolute;

            right: 0;
            top: 0;

            padding-top: 6px;
            padding-left: 9px;

            width: 36px;
            height: 36px;

            background-color: rgba(0,0,0,.3);

            cursor: pointer;

            @media #{$mobile} {

            }

            > span {
              display: block;
              height: 2px;
              width: 70%;
              background-color: #fff;

              &:first-child {
                transform: rotate(45deg) translate3d(7px,7.5px,0);
              }
              &:last-child {
                transform: rotate(-45deg) translate3d(-6px,5px,0);
              }
            }
          }
        }

        @media #{$mobile} {
          float: left !important;
          position: relative;

          width: 285px;

          left: 50%;
          margin-left: -142.5px;

          clear: both;

          &:last-child {
            margin-top: 30px;
          }
        }
      }

      .existing_content {
        position: relative;

        width: 300px;
        height: 200px;

        border: 1px dashed #979797;

        cursor: pointer;

        &#userExistingPassportPhoto {
          svg {
            width: 22px;
            height: 29px;
          }
        }

        &#userExistingFacePhoto {
          svg {
            width: 27px;
            height: 29px;
          }
        }

        input[type="file"] {
          position: absolute;

          width: 100%;
          height: 100%;

          left: 0;
          top: 0;

          opacity: 0;

          z-index: 5;

          cursor:pointer;
        }

        .warning {
          position: absolute;

          left: 0;
          bottom: -25px;

          opacity: 0;

          transition: opacity .3s ease;

          @include text($robotoR, 13px, #bb141a);
          line-height: 18px;
        }

        &.error {
          .warning {
            opacity: 1;
          }
        }

        .preview_img {
          position: absolute;

          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          margin: 0 auto;

          max-width: 100%;
          max-height: 100%;

          opacity: 0;
          visibility: hidden;

          z-index: 4;
        }

        &.file_uploaded {
          .preview_img {
            opacity: 1;
            visibility: visible;
          }
        }

        .drag-over-upload,
        .file_uploading {
          display: none;

          position: absolute;

          color: #eb8912;
          font-family: Roboto-Regular,sans-serif;
          font-size: 16px;
          top: 43%;
          left: 17%;
        }

        .file_uploading {
          left: 35%;
        }

        &.file_uploading {
          border-color: #eb8912;

          > *:not(.file_uploading):not(input) {
            display: none !important;
          }

          .file_uploading {
            display: block;
          }
        }

        &.drag_over {
          border-color: #eb8912;

          > *:not(.drag-over-upload):not(input) {
            display: none !important;
          }

          .drag-over-upload {
            display: block;
          }
        }

        .existing_close {
          display: none;
          position: absolute;

          right: 0;
          top: 0;

          padding-top: 6px;
          padding-left: 9px;

          width: 36px;
          height: 36px;

          background-color: rgba(0,0,0,.3);

          cursor: pointer;

          z-index: 6;

          > span {
            display: block;
            height: 2px;
            width: 70%;
            background-color: #fff;

            &:first-child {
              transform: rotate(45deg) translate3d(7px,7.5px,0);
            }
            &:last-child {
              transform: rotate(-45deg) translate3d(-6px,5px,0);
            }
          }
        }

        &.file_uploaded {
          .existing_close {
            display: block;
          }

          .existing_button,
          .existing_label {
            display: none;
          }
        }

        .existing_button,
        .existing_label {
         position: absolute;
        }

        .existing_button {
          bottom: 20px;
          width: 80%;
          left: 10%;
        }

        .existing_label {
          width: 80%;
          left: 10%;
          top: 50px;

          @include text($robotoR, 16px, #787878);
          line-height: 19px;
        }

        @media #{$mobile} {
          width: 285px;

          margin: 0 auto;

          float: none !important;

          &:last-child {
            margin-top: 40px;
          }
        }
      }

      .orange-button {
        @include button_with_icon();
        width: 100%;

        margin-top: 10px;

        border-radius: 5px;

        background-color: #eb8912;

        &:hover {
          box-shadow: none;
        }

        svg {
          width: 33px;
          height: 28px;

          margin-top: -3px;
        }
      }
    }

    &.card_check,
    &.credit_agreement {
      .steps__calculator_info {
        .calculator_info_toggle {
          display: none;

          @media screen and (max-width: 767px) {
            display: block;

            &:before {
              content: "посмотреть данные о кредите";
            }
          }
        }

        .price_box {
          display: none;
        }
      }
    }

    &.card_check {

      .step_circle {
        transition: all .3s linear;
      }

      .step_1,
      .step_2,
      .step_3 {
        .step_circle {
          color: white;
          background-color: #fe891f;
          border: none;
        }
      }

      &.pb_finished {
        .step_4 {
          .step_circle {
            color: white;
            background-color: #fe891f;
            border: none;
          }
        }
      }

      .step_container_subtitle {
        span {
          @media #{$mobile} {
            width: 80% !important;
          }
        }
      }

      .step_fieldset-field.checkSumm {
        @media #{$mobile} {
          margin-top: 25px;
        }
      }

      #confirm-continue {
        width: 220px;
        margin-right: 70px;
        margin-top: 51px;

        @media #{$mobile} {
          width: 100%;
          margin-right: 0;
          margin-top: 5px;
        }
      }

      .text-fieldset {
        margin-top: 20px;

        text-align: center;

        .text-fieldset-title {
          width: 100%;

          @include text($robotoR, 36px, $purple);
          line-height: 42px;

          @media #{$mobile} {
            font-size: 24px;
          }
        }

        .text-fieldset-subtitle {
          width: 140%;

          margin-top: 15px;
          margin-bottom: 10px;
          margin-left: -20%;

          @include text($robotoR, 18px, #565a64);
          line-height: 21px;

          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-left: 0;
          }

          @media #{$mobile} {
            font-size: 15px;
          }
        }

        .text-fieldset-text {
          width: 100%;

          @include text($robotoR, 16px, #565a64);
          line-height: 19px;

          @media #{$mobile} {
            font-size: 16px;
          }
        }

        .bank-phone-numbers {
          display: inline-block;

          min-width: 200px;

          margin-top: 10px;

          @media #{$mobile} {
            margin-top: 20px;
          }

          @include text($robotoR, 14px, #696d77);
          line-height: 16px;

          .bank-phone-numbers__row {
            margin-bottom: 10px;

            .bankname {
              float: left;

              margin-right: 15px;
            }

            .bankTel {
              float: right;

              color: #696d77;
            }
          }
        }
      }
    }

    &.credit_agreement {

      @media screen and (max-width: 767px) {
        body, html {
          cursor: pointer;
        }
        .modal__showAgreement {
          display: inline-block;
        }
      }

      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        .step_circle {
          color: white;
          background-color: #fe891f;
          border: none;
        }
      }

      .steps__step_content {
        text-align: center;
      }

      #confirm-continue {
        float: none;
        display: inline-block;

        margin-top: 50px;
        margin-bottom: 15px;
      }

      .text-fieldset {
        margin-top: 20px;

        text-align: center;

        .text-fieldset-title {
          width: 100%;

          @include text($robotoR, 24px, #696d77);
          line-height: 28px;

          @media #{$mobile} {
            font-size: 24px;
          }
        }

        .text-fieldset-subtitle {
          width: 100%;

          margin-top: 13px;
          margin-bottom: 50px;

          @include text($robotoR, 20px, #696d77);
          line-height: 21px;

          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-left: 0;
          }

          @media #{$mobile} {
            font-size: 15px;
          }
        }

        .text-fieldset-link {
          @include text($robotoR, 16px, $purple);
          line-height: 19px;
          text-decoration: underline;

          cursor: pointer;
        }
      }
    }
  }
}