include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - О компании - Пресс-центр';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_about.press
			.cp_about__title: h1 о компании
			.cp_about__types
				a(href="#") о компании
				| 
				a(href="/cashpoint/about_press.html") пресс-центр
				| 
				a(href="/cashpoint/about_vacancies.html") вакансии
			.cp_about__text
				p Информационная открытость и прозрачность являются основными принципами деятельности CashPoint.<br>Уважаемые журналисты, представители СМИ!
				p Мы понимаем особенности Вашей работы и готовы максимально оперативно предоставлять актуальные комментарии по нашей деятельности, оценки и прогнозы наших экспертов, организовывать пресс-конференции и интервью.
				p Не секрет, что мы заинтересованы в адекватном и объективном освещении деятельности нашей сети, популяризации инструментов микрокредитования среди населения Украины.
				p Мы всегда на связи! Звоните, пишите, приезжайте!
				p
					b Прямые контакты пресс-службы:
					|&nbspТел. 
					a(href="tel:8 (044) 281 01 12") 8 (044) 281 01 12
					|&nbsp| E-mail: 
					a(href="mailto:info@cashpoint.ua") info@cashpoint.ua
				hr
				p.central_office_info
					b Центральный офис ТМ Cash Point:
					|  г. Киев, ул. Жилянская, 101, офис 601   |   Тел.: 
					a(href="tel:0 (800) 30 30 32") 0 (800) 30 30 32
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug