include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - О компании - Вакансии';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_about.vacancies
			.cp_about__title: h1 о компании
			.cp_about__types
				a(href="#") о компании
				| 
				a(href="/cashpoint/about_press.html") пресс-центр
				| 
				a(href="/cashpoint/about_vacancies.html") вакансии
			.cp_about__placeholder
			.cp_about__vacanciesContainer
				.cp_about__vacancy
					.vacancy_arrow
					.vacancy_title СПЕЦИАЛИСТ ПО РАБОТЕ С ПРОБЛЕМНОЙ ЗАДОЛЖЕННОСТЬЮ
					.vacancy_cities Киев
					.vacancy_descr
						p.
							<b>Требования:</b><br />
							Высшее образование;<br/>
							ОР на аналогичной должности от 1-го года (банковская, финансовая сферы);<br />
							Ответственность, нацеленность на результат, высокие коммуникативные навыки, грамотная речь;<br />
							Оперативность, динамичность, настойчивость.<br />
						p.
							<b>Обязанности:</b><br />
							Прозвон заемщиков с целью возврата задолженности;<br />
							Контроль оплаты задолженности;<br />
							Ведение базы данных;<br />
							Подготовка отчетов для руководства.<br />
						p.
							<b>Контактное лицо:</b> Екатерина<br />
							тел. <a href="tel:0 (067) 54 42 134">0 (067) 54 42 134</a><br />
							<b>Резме отправлять по адресу:</b> <a href="mailto:Podviianiuk.EL@blago.ua">Podviianiuk.EL@blago.ua</a><br />
				.cp_about__vacancy
					.vacancy_arrow
					.vacancy_title кредитный эксперт
					.vacancy_cities Г. КИЕВ, ПОЛТАВА, ХМЕЛЬНИЦКИЙ, КАМЕНЕЦ-ПОДОЛЬСКИЙ, ЛУЦК, НОВОВОЛЫНСК, ЧЕРВОНОГРАД, ТЕРНОПОЛЬ, САМБОР, ОДЕССА, ХАРЬКОВ, КИРОВОГРАД
					.vacancy_descr
						p.
							<b>Требования:</b><br />
							Высшее образование;<br />
							ОР на аналогичной должности от 1-го года (банковская, финансовая сферы);<br />
							Ответственность, нацеленность на результат, высокие коммуникативные навыки, грамотная речь;<br />
							Оперативность, динамичность, настойчивость.<br />
						p.
							<b>Обязанности:</b><br />
							Прозвон заемщиков с целью возврата задолженности;<br />
							Контроль оплаты задолженности;<br />
							Ведение базы данных;<br />
							Подготовка отчетов для руководства.<br />
						p.
							<b>Контактное лицо:</b> Екатерина<br />
							тел. <a href="tel:0 (067) 54 42 134">0 (067) 54 42 134</a><br />
							<b>Резме отправлять по адресу:</b> <a href="mailto:Podviianiuk.EL@blago.ua">Podviianiuk.EL@blago.ua</a><br />
				hr
				p.central_office_info
					b Центральный офис ТМ Cash Point:
					|&nbspг. Киев, ул. Жилянская, 101, офис 601 Тел.: 
					a(href="tel:0 (800) 30 30 32") 0 (800) 30 30 32
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug