include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Адреса отделений';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_address.address_all.address-address
			.address__header: h1 адреса отделений
			.address_options
				.address__office-search Поиск отделений
				.select-wrapper.region
					select#region_id(name="region_id").
						<option value="0" disabled selected>Область</option>
						<option value="1">Винницкая</option>
						<option value="2">Волынская</option>
						<option value="3">Днепропетровская</option>
						<option value="4">Донецкая</option>
						<option value="5">Житомирская</option>
						<option value="6">Закарпатская</option>
						<option value="7">Запорожская</option>
						<option value="8">Ивано-Франковская</option>
						<option value="9">Киевская</option>
						<option value="10">Кировоградская</option>
						<option value="11">Луганская</option>
						<option value="12">Львовская</option>
						<option value="13">Николаевская</option>
						<option value="14">Одесская</option>
						<option value="15">Полтавская</option>
						<option value="16">Ровенская</option>
						<option value="17">Сумская</option>
						<option value="18">Тернопольская</option>
						<option value="19">Харьковская</option>
						<option value="20">Херсонская</option>
						<option value="21">Хмельницкая</option>
						<option value="22">Черкасская</option>
						<option value="23">Черниговская</option>
						<option value="24">Черновицкая</option>
				.select-wrapper.city
					select#city_id(name="city_id", disabled).
						<option value="" disabled selected>Город</option>
				#find_nearest_office.ripple-button НАЙТИ БЛИЖАЙШЕЕ ОТДЕЛЕНИЕ
			.address__current-selected-region
				span#selected-region Укажите область
				span#selected-city
			.address__tabs
				span.address__tabs-tab1.ripple-button список адресов
				span.address__tabs-tab2.ripple-button на карте
			#offices
				- var values = ['Пушкина ул, 45', 'Гаврилова ул, 99', 'Ереванская ул, 45', 'Деснянская ул, 45', 'Пушкина ул, 45', 'Лопушкина ул, 45']
				each val in values
					.offices-office
						span.office-number Отделение №: 167<br>
						span.office-address= val
						| 
						span.office-workHours Пн-Вс 8:00-20:00<br>
						span.office-accepts Золото, серебро, техника
			#map
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug