include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Ближайшие отделения';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_address.address_nearest.address-address
			.address__header: h1 ближайшие отделения
			.address_options
				.address__office-search Еще отделения
				#offices
					- var values = ['Пушкина ул, 45', 'Гаврилова ул, 99', 'Ереванская ул, 45', 'Деснянская ул, 45']
					each val in values
						.offices-office
							span.office-number Отделение №: 167<br>
							span.office-address= val
							| 
							span.office-workHours Пн-Вс 8:00-20:00<br>
							span.office-accepts Золото, серебро, техника
			#address__main-nearest-office.offices-office
				span.office-number Отделение №: 167<br>
				span.office-address Пушкина ул, 45
				| 
				span.office-workHours Пн-Вс 8:00-20:00<br>
				span.office-accepts Золото, серебро, техника
			#map
			a#address_button.ripple-button(href="/address.html") АДРЕСА ОТДЕЛЕНИЙ
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug