include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Личный кабинет - Текущий кредит';
	include ./_includes/head.pug
	body.logged
		include ./_includes/header.pug
		// main
		main#cp_personal.current_credits.form
			.my_requests__table
				h1 Текущий кредит
				.current_credits__total
					.total__row.clearfix
						span Сумма к погашению:
						span
							span.total__summ 953
							|  гр.
					.total__row.clearfix
						span Итого к оплате*
						span
							span.total__payment 1132
							|  грн
					.total__label Дополнительно с вас будет удержана Коммисия платежной системы.
				br
				a#current_credits_payment_2.ripple-button(href="./main.html") Погасить
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug