include ./_includes/partials/variables.pug
doctype html
html
    - var title = 'Cash Point - Личный кабинет - Текущий кредит';
    include ./_includes/head.pug
    body.logged
        include ./_includes/header.pug
        // main
        main#cp_personal.request_accepted
            .request_accepted__table
                h1
                    |Уважаемый&nbsp
                    span#userName Иван Иванович
                    |&nbsp- заявка принята к рассмотрению.
                span.subtitle
                    |Обычно это занимает не более 20 минут. Ожидайте сообщение на номер&nbsp
                    span#userPhoneNumber +380 666 66 66
                    |&nbspили письмо на электронный адрес&nbsp
                    span#userEmail testT@gmail.com
                    |&nbspс информацией о решении
                br
                .request_accepted__total
                    .total__row.clearfix
                        span Сумма кредита
                        span
                            span.request__summ 3200
                            |  гр.
                    .total__row.clearfix
                        span Дата погашения
                        span
                            span.request__date 09.09.2016
                    .total__row.clearfix
                        span Срок
                        span
                            span.request__time 10
                            |  дней
                    .total__row.clearfix
                        span За пользование*
                        span
                            span.request__payment 480
                            |  грн
                    .total__label при оплате кредита банковской картой учтена комиссия 2,6% от суммы погашения.
                br
                span.subtitle Решение также будет доступно в разделе “
                    a(href="/cashpoint/www/cabinet_zayavki.html") Мои зявки
                    |”
        // modals
        include ./_includes/modals/all.modals.pug
        // footer
        include ./_includes/footer.pug
        // scripts
        include ./_includes/scripts.pug