include ./_includes/partials/variables.pug
include ./_includes/partials/mixins.pug
doctype html
html
    - var title = 'Cash Point - Настройки кабинета';
    include ./_includes/head.pug
    body.logged
        include ./_includes/header.pug
        // main
        main#cp_personal.cabinet_settings
            svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                defs
                    symbol#icon-c__check(viewbox='0 0 1097 1024')
                        title c__check
                        path.path1(d='M1030.583 0c-81.189 51.931-187.246 160.914-257.463 229.669-140.434 137.509-275.017 281.6-407.406 427.154l-265.509-254.537-100.206 108.983c145.554 160.183 303.543 333.531 432.274 512.731 164.571-298.423 433.737-725.577 664.869-950.857-7.314-16.823-39.497-75.337-66.56-73.143z')
            .settings__header: h1 Настройки кабинета
            .settings__content.clearfix
                .settings__content--column.pull-left.modal__inner-part.change_pass
                    .title Сменить пароль
                    .modal__input-container.oldPass
                        span Старый пароль
                        input(type="password", placeholder="Введите старый пароль")
                        span.modal__label-warning
                    .modal__input-container.newPass
                        span Новый пароль
                        input(type="password", placeholder="Введите новый пароль")
                        span.modal__label-warning
                    .modal__input-container.repNewPass
                        span Повторите новый пароль
                        input(type="password", placeholder="Повторите новый пароль")
                        span.modal__label-warning
                    #save_password.ripple-button СОХРАНИТЬ ПАРОЛЬ
                .settings__content--column.pull-right.modal__inner-part.change_email
                    .title Сменить E-mail
                    .modal__input-container.oldEmail
                        span Текущий Email
                        input(type="email", placeholder="Введите старый email")
                        span.modal__label-warning
                    .modal__input-container.newEmail
                        span Новый Email
                        input(type="email", placeholder="Введите новый email")
                        span.modal__label-warning
                    .modal__input-container.newEmailPass
                        span Пароль
                        input(type="password", placeholder="Подтвердите изменение паролем")
                        span.modal__label-warning
                    #save_email.ripple-button СОХРАНИТЬ EMAIL
            .success_message
                span Ваши изменения успешно сохранены
                .check_icon
                    +svg('icon-c__check')
        // modals
        include ./_includes/modals/all.modals.pug
        // footer
        include ./_includes/footer.pug
        // scripts
        include ./_includes/scripts.pug