extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Социальная информация';
    - var bottomBar_percent = '25';
    - var indicator_initial_width = '32';
    - var step = 'step_3';
block step_content
    .steps__step_content.clearfix
        .step_content_title Социальная информация
        form.step_content_form#main_steps_form
            .step_fieldset
                label.step_fieldset-field.userFamilyStatus Семейное положение
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userFamilyStatus")
                            option(value="0", disabled, selected) Выберите семейное положение
                            option(value="1") В браке
                            option(value="2") Вдовец/Вдова
                            option(value="3") Не в браке
                    span.err Выберите Ваше семейное положение
                label.pull-right.step_fieldset-field.userChildrenAmount Количество детей
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userChildrenAmount")
                            option(value="0", disabled, selected) Выберите количество
                            option(value="1") 0
                            option(value="2") 1
                            option(value="3") 2
                            option(value="4") 3
                            option(value="5") 4
                            option(value="6") 5
                            option(value="7") 6
                            option(value="8") 7
                            option(value="9") 8 и более
                    span.err Выберите количество детей
                label.step_fieldset-field.userRealEstate Наличие недвижимости
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userRealEstate")
                            option(value="0", disabled, selected) Выберите вариант
                            option(value="1") Другое
                            option(value="2") Проживание с родителями
                            option(value="3") Собственник
                            option(value="4") Совместное владение
                    span.err Укажите недвижимость, которой Вы владеете
                label.pull-right.step_fieldset-field.userFindOut Как Вы узнали о cashpoint.ua?
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userFindOut")
                            option(value="0", disabled, selected) Выберите вариант
                            option(value="1") Наружная реклама
                            option(value="2") Реклама в периодическом издании
                            option(value="3") В Интернете
                            option(value="4") Посоветовали
                    span.err Укажите, как Вы узнали о cashpoint.ua
                .step_fieldset-text-left Укажите контактные телефоны, имена и статусы лиц, которые могут подтвердить, что Вы это Вы.
            .step_fieldset.clear-both
                .step_fieldset-title
                    +svg('person-icon')
                    | Дополнительный контакт 1
                label.step_fieldset-field.userAddContactTel1 Телефон
                    input(type="tel", placeholder="Введите номер", name="userAddContactTel1")
                    span.err Укажите телефонный номер
                label.pull-right.step_fieldset-field.userAddContactName1 Ф.И.О
                    input.alphachars(type="text", maxlength="200", placeholder="Введите информацию", name="userAddContactName1")
                    span.err Укажите ФИО контакта
                label.step_fieldset-field.userAddContactRelationDegree1 Степень родства
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userRelationDegree1")
                            option(value="0", disabled, selected) Выберите степень родства
                            option(value="1") Родственник
                            option(value="2") Коллега
                            option(value="3") Знакомый
                    span.err Выберите степень родства
            .step_fieldset.clear-both
                .step_fieldset-title
                    +svg('person-icon')
                    |Дополнительный контакт 2
                label.step_fieldset-field.userAddContactTel2 Телефон
                    input(type="tel", placeholder="Введите номер", name="userAddContactTel2")
                    span.err Укажите телефонный номер
                label.pull-right.step_fieldset-field.userAddContactName2 Ф.И.О
                    input.alphachars(type="text", maxlength="200", placeholder="Введите информацию", name="userAddContactName2")
                    span.err Укажите ФИО контакта
                label.step_fieldset-field.userAddContactRelationDegree2 Степень родства
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userRelationDegree2")
                            option(value="0", disabled, selected) Выберите степень родства
                            option(value="1") Родственник
                            option(value="2") Коллега
                            option(value="3") Знакомый
                    span.err Выберите степень родства
        #confirm-continue.ripple-button ПРОДОЛЖИТЬ
        a#step-back.ripple-button(href="./cabinet_secondStep.html") НАЗАД