extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Кредитный договор';
    - var bottomBar_percent = '100';
    - var indicator_initial_width = '97';
    - var step = 'step_4 credit_agreement';
block step_content
    .steps__step_content.clearfix
        .step_fieldset.text-fieldset
            .text-fieldset-title Осталось всего несколько мгновений
            .text-fieldset-subtitle Пожалуйста, ознакомьтесь с договором и подтвердите согласие с его условиями
            a.text-fieldset-link.modal__showAgreement Прочитать договор
        a#confirm-continue.ripple-button(href="./main.html") ПРИНЯТЬ УСЛОВИЯ