include ./_includes/partials/variables.pug
include ./_includes/partials/mixins.pug
doctype html
html
    - var title = 'Cash Point - Нет текущих заявок';
    include ./_includes/head.pug
    body.logged
        // header
        include ./_includes/header.pug
        // main
        main#cp_personal.cabinet_empty
            svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                defs
                    symbol#not-found-icon
                        title Not found icon
                        path(d="M973.6 287.36L973.6 299.19L931 299.19L931 243L965.68 243L973.5999999999999 250.8L973.5999999999999 258.64C972.4399999999999 257.91999999999996 971.2099999999999 257.34999999999997 969.92 256.95L969.92 252.67999999999998L963.79 252.67999999999998L963.79 246.73999999999998L934.68 246.73999999999998L934.68 295.45L969.92 295.45L969.92 289.08C971.2199999999999 288.66999999999996 972.4499999999999 288.08 973.5999999999999 287.35999999999996ZM980.23 273.25C980.12 278.42 977.51 282.94 973.6 285.65L973.6 285.75C972.47 286.53 971.23 287.16 969.9200000000001 287.62L969.9200000000001 287.52C968.2800000000001 288.09 966.5400000000001 288.39 964.71 288.35999999999996C964.52 288.34999999999997 964.33 288.33 964.13 288.30999999999995C964.13 288.3399999999999 964.14 288.37999999999994 964.13 288.3999999999999C961.97 288.2799999999999 959.93 287.68999999999994 958.1 286.7299999999999C958.16 286.7299999999999 958.22 286.7299999999999 958.28 286.7299999999999C955.99 285.5699999999999 954.03 283.8399999999999 952.5699999999999 281.7299999999999C952.55 281.7299999999999 952.53 281.7299999999999 952.51 281.7299999999999C951.86 280.7599999999999 951.3 279.7199999999999 950.87 278.6099999999999C950.88 278.6099999999999 950.89 278.6099999999999 950.9 278.6099999999999C950.59 277.8099999999999 950.36 276.9799999999999 950.18 276.1299999999999C950.17 276.1299999999999 950.16 276.1299999999999 950.16 276.1299999999999C950.14 276.0499999999999 950.13 275.95999999999987 950.12 275.8699999999999C950.07 275.6299999999999 950.04 275.3799999999999 950 275.1299999999999C949.97 274.89999999999986 949.94 274.6799999999999 949.92 274.4499999999999C949.88 274.01999999999987 949.86 273.57999999999987 949.8499999999999 273.14999999999986C949.8499999999999 273.09999999999985 949.8499999999999 273.0599999999999 949.8499999999999 273.01999999999987C949.8499999999999 272.8699999999999 949.8299999999999 272.7399999999999 949.8399999999999 272.59999999999985C950.0099999999999 264.08999999999986 956.9699999999999 257.30999999999983 965.3499999999999 257.48999999999984C973.7299999999999 257.66999999999985 980.4099999999999 264.73999999999984 980.2299999999999 273.24999999999983ZM964.79 284.48C971.06 284.62 976.28 279.54 976.41 273.17C976.4699999999999 270.18 975.4 267.43 973.6 265.34000000000003L973.6 265.43C972.58 264.24 971.33 263.27 969.91 262.58L969.91 262.49C968.5 261.81 966.93 261.40000000000003 965.27 261.36C960.65 261.26 956.62 263.99 954.75 267.98C954.77 267.98 954.78 267.98 954.8 267.98C954.3299999999999 268.95000000000005 954 269.99 953.8199999999999 271.09000000000003C953.81 271.09000000000003 953.81 271.09000000000003 953.8 271.09000000000003C953.7199999999999 271.61 953.66 272.14000000000004 953.65 272.68C953.65 272.82 953.66 272.95 953.66 273.08C953.66 273.5 953.6999999999999 273.9 953.74 274.31C953.76 274.49 953.78 274.68 953.8100000000001 274.87C953.84 275.04 953.8800000000001 275.21 953.9200000000001 275.39C955.0200000000001 280.47999999999996 959.4300000000001 284.37 964.7900000000001 284.47999999999996ZM986.39 299.73L974.97 287.62L978.4 284.28000000000003L989.8199999999999 296.39000000000004ZM973.6 278.25C972.7 279.76 971.4300000000001 281.01 969.9200000000001 281.88L969.9200000000001 264.14C971.4300000000001 265 972.7 266.26 973.6 267.76ZM949.42 278.61C949.8 279.7 950.28 280.74 950.88 281.73C946.04 281.73 941.33 281.73 940.05 281.73C938.14 281.73 938.14 278.61 940.05 278.61C941.1999999999999 278.61 945.13 278.61 949.42 278.61ZM940.46 258.05C938.5600000000001 258.05 938.5600000000001 254.93 940.46 254.93C943.11 254.93 945.75 254.93 948.4000000000001 254.93C950.3100000000001 254.93 950.3100000000001 258.05 948.4000000000001 258.05C945.7500000000001 258.05 943.1100000000001 258.05 940.46 258.05ZM940.46 259.97C943.11 259.97 945.75 259.97 948.4000000000001 259.97C950.3100000000001 259.97 950.3100000000001 263.09000000000003 948.4000000000001 263.09000000000003C945.7500000000001 263.09000000000003 943.1100000000001 263.09000000000003 940.46 263.09000000000003C938.5600000000001 263.09000000000003 938.5600000000001 259.97 940.46 259.97ZM948.48 273.01C948.48 274.07 948.57 275.11 948.76 276.13C944.73 276.13 941.14 276.13 940.05 276.13C938.14 276.13 938.14 273.01 940.05 273.01C941.1099999999999 273.01 944.56 273.01 948.4799999999999 273.01ZM940.05 267.98C938.14 267.98 938.14 271.1 940.05 271.1C941.12 271.1 944.62 271.1 948.5799999999999 271.1C948.6999999999999 270.02000000000004 948.93 268.98 949.2499999999999 267.98C945.0199999999999 267.98 941.1799999999998 267.98 940.0499999999998 267.98Z ", fill="#4e2582", fill-opacity="1", transform="matrix(1,0,0,1,-931,-243)")
            +svg('not-found-icon')
            span У вас нет текущих заявок
        // modals
        include ./_includes/modals/all.modals.pug
        // footer
        include ./_includes/footer.pug
        // scripts
        include ./_includes/scripts.pug