extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Ввод персональных данных - Подтверждение';
    - var bottomBar_percent = '3';
    - var indicator_initial_width = '5.5';
    - var step = 'step_1 confirm';
block step_content
    .steps__step_content.clearfix
        .step_content_title Персональные данные
        .step_container_subtitle
            +svg('warning-icon')
            span Чтобы изменить персональные данные <br /> обратитесь по номеру 093 123 45 67
        form.step_content_form#main_steps_form
            .step_fieldset
                label.step_fieldset-field.userInn Ваш ИНН
                    input(type="text", maxlength="10", placeholder="Ваш ИНН", name="userInn", disabled)&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                    span.err
                .double-fieldset.userPassport.clearfix
                    span.double-fieldset-title Паспорт
                    label.step_fieldset-field.userPassportSeries
                        input.alphachars(type="text", maxlength="2", placeholder="Серия", name="userPassportSeries", disabled)
                        span.err Заполните
                    label.step_fieldset-field.userPassportNumber
                        input(type="text", maxlength="6", placeholder="Номер", name="userPassportNumber", disabled)&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                        span.err Заполните
            .step_fieldset(style="margin-top: 10px;")
                label.step_fieldset-field.userPassportGivenDate Дата выдачи паспорта
                    input(type="text", placeholder="Введите дату выдачи", name="userPassportGivenDate", disabled)
                    +svg('calendar-icon')
                    span.err Укажите дату выдачи
                label.step_fieldset-field.userPassportGivenBy Кем выдан
                    textarea(placeholder="Посмотрите на вторую страницу паспорта", name="userPassportGivenBy", disabled)
                    span.err Укажите, кем выдан
                label.step_fieldset-field.userSex Пол
                    select(name="userSex", disabled)
                        option(selected, disabled, value="0") Выберите пол
                        option(value="1") Мужской
                        option(value="2") Женский
                    span.err Укажите пол
                    span.disabled-overflow
                label.step_fieldset-field.userPassportName Имя
                    input.alphachars(type="text", placeholder="Введите имя", name="userPassportName", disabled)
                    span.err Укажите имя
                label.step_fieldset-field.userPassportSurname Фамилия
                    input.alphachars(type="text", placeholder="Введите фамилию", name="userPassportSurname", disabled)
                    span.err Укажите фамилию
                label.step_fieldset-field.userPassportSecondName Отчество
                    input.alphachars(type="text", placeholder="Введите отчество", name="userPassportSecondName", disabled)
                    span.err Укажите отчество
                label.step_fieldset-field.userPassportBirthdayDate Дата рождения
                    input(placeholder="Выберите дату рождения", name="userPassportBirthdayDate", disabled)
                    +svg('calendar-icon')
                    span.secondary_label
                        span Ваш возраст:&nbsp
                        span.years_old 0
                        span &nbspлет
                    span.err Укажите дату рождения
            .step_fieldset(style="margin-top: 10px;")
                .step_fieldset-title Адрес проживания
                label.step_fieldset-field.userAddressRegion Область
                    select(name="userAddressRegion", disabled)
                        option(selected, disabled, value="0") Выберите область
                        option(value="2") Киевская
                        option(value="3") Черниговская
                        option(value="4") Одесская
                        option(value="5") Львовская
                        option(value="6") Волынская
                        option(value="7") Черкасская
                    span.err Выберите область
                    span.disabled-overflow
                label.step_fieldset-field.userAddressCity Город
                    input(type="text", placeholder="Введите город", name="userAddressCity", disabled)
                    span.err Укажите город
                label.step_fieldset-field.userAddressStreet Улица / Бульвар / Проспект
                    input(type="text", placeholder="Введите название улицы", name="userAddressStreet", disabled)
                    span.err Введите название улицы
                .double-fieldset.userAddress.clearfix
                    label.step_fieldset-field.userAddressHouse Дом
                        input(type="text", placeholder="Введите номер", name="userAddressHouse", disabled)
                        span.err Введите номер дома
                    label.step_fieldset-field.userAddressApartment Квартира
                        input(type="text", placeholder="Введите номер", name="userAddressApartment", disabled)&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                        span.err Введите номер квартиры
            .step_radioset.address(style="margin-top: 15px;")
                .step_radioset-title Совпадает ли адрес проживания с Вашим адресом регистрации?
                .step_radioset-container
                    label
                        input(type="radio", name="userAddressMatch", value="true", disabled)
                        .radio-control
                        span Да
                        span.disabled-overflow
                    label
                        input(type="radio", name="userAddressMatch", value="false", disabled)
                        .radio-control
                        span Нет
                        span.disabled-overflow
            .step_fieldset.userRegistrationAddress
                .step_fieldset-title Адрес регистрации
                label.step_fieldset-field.userRegistrationAddressRegion Область
                    select(name="userRegistrationAddressRegion", disabled)
                        option(selected, disabled, value="0") Выберите область
                        option(value="2") Киевская
                        option(value="3") Черниговская
                        option(value="4") Одесская
                        option(value="5") Львовская
                        option(value="6") Волынская
                        option(value="7") Черкасская
                    span.err Выберите область
                    span.disabled-overflow
                label.step_fieldset-field.userRegistrationAddressCity Город
                    input(type="text", placeholder="Введите город", name="userRegistrationAddressCity", disabled)
                    span.err Укажите город
                label.step_fieldset-field.userRegistrationAddressStreet Улица / Бульвар / Проспект
                    input(type="text", placeholder="Введите название улицы", name="userRegistrationAddressStreet", disabled)
                    span.err Введите название улицы
                .double-fieldset.userAddress.clearfix
                    label.step_fieldset-field.userRegistrationAddressHouse Дом
                        input(type="text", placeholder="Введите номер", name="userRegistrationAddressHouse", disabled)
                        span.err Введите номер дома
                    label.step_fieldset-field.userRegistrationAddressApartment Квартира
                        input(type="text", placeholder="Введите номер", name="userRegistrationAddressApartment", disabled)&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                        span.err Введите номер квартиры
            .step_fieldset.userContact(style="margin-top: 20px;")
                .step_fieldset-title Контактные данные
                label.step_fieldset-field.userContactPhone Мобильный телефон
                    input(type="tel", name="userContactPhone", disabled)
                    .step_radioset.notify(style="margin-top: 25px;")
                        .step_radioset-title Уведомляйте меня с помощью
                        .step_radioset-container
                            label
                                input(type="checkbox", name="notifySms",  disabled)
                                .checkbox-control
                                    +svg('icon-c__check')
                                span Sms
                                span.disabled-overflow
                            label
                                input(type="checkbox", name="notifyEmail", disabled)
                                .checkbox-control
                                    +svg('icon-c__check')
                                span E-mail
                                span.disabled-overflow
                label.step_fieldset-field.userContactEmail Ваш e-mail
                    input(type="email", name="userContactEmail", disabled)
                    .step_radioset.personalDataProcessin(style="margin-top: 25px;")
                        .step_radioset-title Обработку личных данных разрешаю
                        .step_radioset-container
                            label.active
                                input(type="radio", name="personalDataProcessing", value="true", checked, disabled)
                                .radio-control
                                span Да
                                span.disabled-overflow
                            label
                                input(type="radio", name="personalDataProcessing", value="false", disabled)
                                .radio-control
                                span Нет
                                span.disabled-overflow
        #confirm-continue.ripple-button ПРОДОЛЖИТЬ