extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Документы';
    - var bottomBar_percent = '50';
    - var indicator_initial_width = '65';
    - var step = 'step_4 documents';
block step_content
    .steps__step_content.clearfix
        .step_content_title Документы
        .step_document_warning.clear
            +svg('warning-icon')
            span Вам необходимо загрузить 2 фото: Вашего лица и Вашего паспорта (страница с актуальной фотографией). Пожалуйста, проверьте, чтобы информация на фотографии паспорта была хорошо читаема. Ознакомьтесь с примерами корректных фотографий
        form.step_content_form#main_steps_form
            .step_fieldset.clearfix.existingPhotoUpload
                .existing_content.pull-left#userExistingFacePhoto(data-image-type="uploadedFacePhoto")
                    input(type="file", accept="image/*")
                    span.warning Неверный формат фотографии
                    img.preview_img(src="")
                    div.existing_close
                        span
                        span
                    span.existing_label Загрузить фото Вашего лица
                    div.ripple-button.orange-button.existing_button
                        +svg('person2-icon')
                        span Загрузить
                    span.drag-over-upload Переместите файлы сюда
                    span.file_uploading Загрузка...
                .existing_content.pull-right#userExistingPassportPhoto(data-image-type="uploadedPassportPhoto")
                    input(type="file", accept="image/*")
                    span.warning Неверный формат фотографии
                    img.preview_img(src="")
                    div.existing_close
                        span
                        span
                    span.existing_label Загрузить фото Вашего паспорта
                    div.ripple-button.orange-button.existing_button
                        +svg('passport-icon')
                        span Загрузить
                    span.drag-over-upload Переместите файлы сюда
                    span.file_uploading Загрузка...
            .step_fieldset.clearfix.correctPhotoExample
                +svg('picture-icon')
                span.document_example-toggle ПОСМОТРЕТЬ ПРИМЕР КОРРЕКТНОГО ФОТО
                .document_examples.clearfix
                    .document_examples__example.pull-left
                        span Фото лица
                        img(id="userFacePhotoExample", src="./pic/userFacePhotoExample.png", alt="Cashpoint - кредиты без залога онлайн.")
                    .document_examples__example.pull-right
                        span Фото первой страницы паспорта
                        img(id="userPassportPhotoExample", src="./pic/userPassportPhotoExample.png",  alt="Cashpoint - кредиты без залога онлайн.")
            .step_fieldset.centeredText.new_photoUpload-toggle Если на Вашем устройстве нет подходящих фотографий для загрузки, Вы можете сделать фото прямо сейчас.
            .step_fieldset.clearfix.newPhotoUpload
                .new_content.facePhoto.pull-left(data-image-type="newmadeFacePhoto")
                    .new_uploadedPhotoContainer.clearfix
                        input(type="file", accept="image/*", capture="camera")
                        .new_previewContainer
                        img(src="")
                        div.new_close
                            span
                            span
                    div.ripple-button.orange-button.new_button
                        +svg('camera-icon')
                        span Сделать фото лица
                .new_content.passportPhoto.pull-right(data-image-type="newmadePassportPhoto")
                    .new_uploadedPhotoContainer.clearfix
                        input(type="file", accept="image/*", capture="camera")
                        .new_previewContainer
                        img(src="")
                        div.new_close
                            span
                            span
                    div.ripple-button.orange-button.new_button
                        +svg('camera-icon')
                        span Сделать фото паспорта
            .common_warning_label Чтобы продолжить добавьте фото Вашего лица и Вашего паспорта
        #confirm-continue.ripple-button ПРОДОЛЖИТЬ
        a#step-back.ripple-button(href="./cabinet_thirdStep.html") НАЗАД