include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Личный кабинет - Текущий кредит';
	include ./_includes/head.pug
	body.logged
		include ./_includes/header.pug
		// main
		main#cp_personal.current_credits.table.my_requests
			.my_requests__table
				h1 Текущий кредит
				.my_requests__table-request.clearfix
					.table-request_number
						div №
						div 1
					.table-request_date
						div Дата
						div 13.91.2016
						div 15:58
					.table-request_time
						div Срок
						div 10
					.table-request_summ
						div Сумма кредита
						div 200 грн.
					.table-request_status
						div Дата погашения
						div 23.01.2016
					.table-request_retry
						div Кредитная карта
						div 4283-ХХХХ-ХХХХ-4074
				.current_credits__payment.clearfix
					.current_credits__payment-input
						span.title Всего к оплате:
						input(type="number", value="0")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
						span.warning Введите сумму к оплате
					#current_credits_payment.ripple-button Погасить
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug