extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Трудоустройство';
    - var bottomBar_percent = '0';
    - var indicator_initial_width = '0';
    - var step = 'step_2';
block step_content
    .steps__step_content.clearfix
        .step_content_title Трудоустройство
        form.step_content_form#main_steps_form
            .step_fieldset
                label.step_fieldset-field.userEmploymentType Вид занятости
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userEmploymentType")
                            option(value="0", disabled, selected) Выберите вид
                            option(value="1") Пенсионер
                            option(value="2") Частный предприниматель
                            option(value="3") Наемный работник
                    span.err Укажите вид занятости
                label.pull-right.step_fieldset-field.userActivityField Сфера деятельности
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userActivityField", disabled)
                            option(value="0", disabled, selected) Выберите сферу
                            option(value="1") Госслужащий без погон
                            option(value="2") Госслужащий в погонах
                            option(value="3") Промышленность
                            option(value="4") Торговля
                            option(value="5") Транспорт
                            option(value="6") Услуги
                            option(value="7") Финансы
                    span.err Укажите сферу деятельности
                label.step_fieldset-field.userCompanyName Название компании
                    input(type="text", maxlength="200", placeholder="Введите название", name="userCompanyName", disabled)
                    span.err Укажите название компании
                label.pull-right.step_fieldset-field.userJobPosition Должность
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userJobPosition", disabled)
                            option(value="0", disabled, selected) Выберите должность
                            option(value="1") Рабочий
                            option(value="2") Руководитель
                            option(value="3") Специалист
                    span.err Выберите Вашу должность
                label.clear-both.step_fieldset-field.userEmploymentDate Дата приема на работу
                    input(type="text", placeholder="Введите дату", name="userEmploymentDate", disabled, readonly)
                    +svg('calendar-icon')
                    span.err Укажите дату
                label.clear-both.step_fieldset-field.userMonthlyIncome Общий ежемесячный доход
                    input(type="text", maxlength="8", placeholder="Укажите ежемесячный доход", name="userMonthlyIncome", disabled)&attributes({"onkeypress": "return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                    span.err Укажите общий ежемесячный доход
            .step_fieldset.clear-both
                label.step_fieldset-field.userWorkTel Телефон по месту работы (руководителя / бухгалтера / кадров)
                    input(type="tel", placeholder="Введите номер", name="userWorkTel", disabled)
                    span.err Укажите телефонный номер
                label.pull-right.step_fieldset-field.userContactPerson Контактное лицо
                    input.alphachars(type="text", maxlength="100", placeholder="Введите имя", name="userContactPerson", disabled)
                    span.err Укажите имя контактного лица
                label.step_fieldset-field.userHomeTel Телефон по месту жительства
                    input(type="tel", placeholder="Введите номер", name="userHomeTel", disabled)
                    span.err Укажите телефонный номер
        #confirm-continue.ripple-button ПРОДОЛЖИТЬ
        a#step-back.ripple-button(href="./cabinet_firstStep.html") НАЗАД