extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Ввод персональных данных';
    - var bottomBar_percent = '0';
    - var indicator_initial_width = '0';
    - var step = 'step_1';
block step_content
    .steps__step_content.clearfix
        .step_content_title Персональные данные
        .step_container_subtitle
            +svg('warning-icon')
            span Вы не сможете получить кредит, <br /> пока не заполните личные данные
        form.step_content_form#main_steps_form
            .step_fieldset
                label.step_fieldset-field.userInn Ваш ИНН
                    input.numeric(type="number", pattern="[0-9]*", inputmode="numeric", placeholder="Ваш ИНН", name="userInn")
                    span.err
                .double-fieldset.userPassport.clearfix
                    span.double-fieldset-title Паспорт
                    label.step_fieldset-field.userPassportSeries
                        input.alphachars(type="text", maxlength="2", placeholder="Серия", name="userPassportSeries")
                        span.err Заполните
                    label.step_fieldset-field.userPassportNumber
                        input.numeric(type="number", pattern="[0-9]*", inputmode="numeric", placeholder="Номер", name="userPassportNumber")
                        span.err Заполните
                .step_fieldset-text-left Если Вы уже пользовались нашими услугами, нажмите «Загрузить данные» и большинство полей будут автоматически заполнены Вашей персональной информацией.
                #get_user_data.ripple-button Загрузить данные
            .step_fieldset(style="margin-top: 45px;")
                label.step_fieldset-field.userPassportGivenDate Дата выдачи паспорта
                    input(type="text", placeholder="Введите дату выдачи", name="userPassportGivenDate")
                    +svg('calendar-icon')
                    span.err Укажите дату выдачи
                label.step_fieldset-field.userPassportGivenBy Кем выдан
                    textarea(placeholder="Посмотрите на вторую страницу паспорта", name="userPassportGivenBy")
                    span.err Укажите, кем выдан
                label.step_fieldset-field.userSex Пол
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userSex")
                            option(selected, disabled, value="0") Выберите пол
                            option(value="1") Мужской
                            option(value="2") Женский
                    span.err Укажите пол
                label.step_fieldset-field.userPassportName Имя
                    input.alphachars(type="text", placeholder="Введите имя", name="userPassportName")
                    span.err Укажите имя
                label.step_fieldset-field.userPassportSurname Фамилия
                    input.alphachars(type="text", placeholder="Введите фамилию", name="userPassportSurname")
                    span.err Укажите фамилию
                label.step_fieldset-field.userPassportSecondName Отчество
                    input.alphachars(type="text", placeholder="Введите отчество", name="userPassportSecondName")
                    span.err Укажите отчество
                label.step_fieldset-field.userPassportBirthdayDate Дата рождения
                    input(type="text", placeholder="Выберите дату рождения", name="userPassportBirthdayDate")
                    +svg('calendar-icon')
                    span.secondary_label
                        span Ваш возраст:&nbsp
                        span.years_old 0
                        span &nbspлет
                    span.err Укажите дату рождения
            .step_fieldset(style="margin-top: 10px;")
                .step_fieldset-title Адрес проживания
                label.step_fieldset-field.userAddressRegion Область
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userAddressRegion")
                            option(selected, disabled, value="0") Выберите область
                            option(value="2") Киевская
                            option(value="3") Черниговская
                            option(value="4") Одесская
                            option(value="5") Львовская
                            option(value="6") Волынская
                            option(value="7") Черкасская
                    span.err Выберите область
                label.step_fieldset-field.userAddressCity Город
                    input(type="text", placeholder="Введите город", name="userAddressCity")
                    span.err Укажите город
                label.step_fieldset-field.userAddressStreet Улица / Бульвар / Проспект
                    input(type="text", placeholder="Введите название улицы", name="userAddressStreet")
                    span.err Введите название улицы
                .double-fieldset.userAddress.clearfix
                    label.step_fieldset-field.userAddressHouse Дом
                        input(type="text", placeholder="Введите номер", name="userAddressHouse")
                        span.err Введите номер дома
                    label.step_fieldset-field.userAddressApartment Квартира
                        input(type="text", placeholder="Введите номер", name="userAddressApartment")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                        span.err Введите номер квартиры
            .step_radioset.address(style="margin-top: 15px;")
                .step_radioset-title Совпадает ли адрес проживания с Вашим адресом регистрации?
                .step_radioset-container
                    label
                        input(type="radio", name="userAddressMatch", value="true", checked)
                        .radio-control
                        span Да
                    label
                        input(type="radio", name="userAddressMatch", value="false")
                        .radio-control
                        span Нет
            .step_fieldset.userRegistrationAddress
                .step_fieldset-title Адрес регистрации
                label.step_fieldset-field.userRegistrationAddressRegion Область
                    div.selectStyler
                        +svg('icon-triangle')
                        select(name="userRegistrationAddressRegion")
                            option(selected, disabled, value="0") Выберите область
                            option(value="2") Киевская
                            option(value="3") Черниговская
                            option(value="4") Одесская
                            option(value="5") Львовская
                            option(value="6") Волынская
                            option(value="7") Черкасская
                    span.err Выберите область
                label.step_fieldset-field.userRegistrationAddressCity Город
                    input(type="text", placeholder="Введите город", name="userRegistrationAddressCity")
                    span.err Укажите город
                label.step_fieldset-field.userRegistrationAddressStreet Улица / Бульвар / Проспект
                    input(type="text", placeholder="Введите название улицы", name="userRegistrationAddressStreet")
                    span.err Введите название улицы
                .double-fieldset.userAddress.clearfix
                    label.step_fieldset-field.userRegistrationAddressHouse Дом
                        input(type="text", placeholder="Введите номер", name="userRegistrationAddressHouse")
                        span.err Введите номер дома
                    label.step_fieldset-field.userRegistrationAddressApartment Квартира
                        input(type="text", placeholder="Введите номер", name="userRegistrationAddressApartment")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
                        span.err Введите номер квартиры
            .step_fieldset.userContact(style="margin-top: 20px;")
                .step_fieldset-title Контактные данные
                label.step_fieldset-field.userContactPhone Мобильный телефон
                    input(type="tel", name="userContactPhone", value="+38 (099) 123-45-67", disabled)
                    .step_radioset.notify(style="margin-top: 25px;")
                        .step_radioset-title Уведомляйте меня с помощью
                        .step_radioset-container
                            label
                                input(type="checkbox", name="notifySms",  checked)
                                .checkbox-control
                                    +svg('icon-c__check')
                                span Sms
                            label
                                input(type="checkbox", name="notifyEmail", checked)
                                .checkbox-control
                                    +svg('icon-c__check')
                                span E-mail
                label.step_fieldset-field.userContactEmail Ваш e-mail
                    input(type="email", name="userContactEmail", value="mail@mail.ua", disabled)
                    .step_radioset.personalDataProcessing(style="margin-top: 25px;")
                        .step_radioset-title Обработку личных данных разрешаю
                        .step_radioset-container
                            label
                                input(type="radio", name="personalDataProcessing", value="true")
                                .radio-control
                                span Да
                            label
                                input(type="radio", name="personalDataProcessing", value="false")
                                .radio-control
                                span Нет
                            span.err Необходимо разрешение на обработку личных данных
        #confirm-continue.ripple-button ПРОДОЛЖИТЬ