include ./_includes/partials/variables.pug
include ./_includes/partials/mixins.pug
doctype html
html
	- var title = 'Cash Point - Личный кабинет - Текущий кредит';
	include ./_includes/head.pug
	body.logged
		include ./_includes/header.pug
		// main
		main#cp_personal.current_credits.message
			h1 Уважаемый&nbsp
				span#userName Иван Иванович
				|&nbsp- Ваш кредит успешно погашен
			br
			.check_icon
				+svg('icon-c__check')
			br
			span.subtitle Вы уже можете создать новую заявку
			br
			a#current_credits_payment_3.ripple-button(href="/cashpoint/www/main.html") НОВАЯ ЗАЯВКА
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug