include ./_includes/partials/variables.pug
include ./_includes/partials/mixins.pug
doctype html
html
	- var title = 'Cash Point - Личный кабинет - Проверка карты';
	include ./_includes/head.pug
	body.logged
		include ./_includes/header.pug
		// main
		main#cp_personal.credit_card_check
			svg(style="position: absolute; width: 0; height: 0;", width="0", height="0", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
				defs
					symbol#icon-triangle(viewBox="0 0 32 32")
						path(class="path1", d="M6 4l20 12-20 12z")
			.credit_card_check__container
				h1 Проверка карты
				.credit_card_check__important
					.important_image: img(src="img/warning.png")
					.important_message Для того, чтобы защитить Вас от возможных мошеннических операций необходимо провести верификацию платежной карты. Это позволит удостоверится, что ее использует законный владелец.<br><br>Введите реквизиты Вашей карты. Во время проверки, на карте будет временно заблокирована случайная сумма до 1 грн.
				.credit_card_check__credit-card.ccjs-card
					//- left side
					.credit-card_front-side.credit_card
						.credit_card__title Введите реквизиты платежной карты<br class="xs-hidden"/> (номер и срок действия)
						label.ccjs-number
							input.ccjs-number(name="card-number", pattern="[0-9]*", inputmode="numeric", placeholder="•••• •••• •••• ••••")
						fieldset.ccjs-expiration
							div.selectStyler.month
								+svg('icon-triangle')
								select.ccjs-month(name="month")
									option(value="0", selected, disabled) Месяц
									- for (var i = 1; i <= 12; ++i) {
									option(value=`${i}`)= i
									- }
							div.selectStyler.year
								+svg('icon-triangle')
								select.ccjs-year(name="year")
									option(value="0", selected, disabled) Год
									- for (var i = 16; i <= 26; ++i) {
									option(value=`${i}`)= i
									- }
					//- right side
					.credit-card_back-side.credit_card
						.credit_card__barcode
						label.ccjs-csc
							| CVCV2/CVV2:
							input.ccjs-csc(name="csc", pattern="[0-9]*", inputmode="numeric",  placeholder="•••")
						// hidden fields
						// detect credit card type
						select.ccjs-hidden-card-type(name="card-type").hidden-field
							option(value="amex").ccjs-amex American Express
							option(value="discover").ccjs-discover Discover
							option(value="mastercard").ccjs-mastercard MasterCard
							option(value="visa").ccjs-visa Visa
							option(value="diners-club").ccjs-diners-club Diners Club
							option(value="jcb").ccjs-jcb JCB
							option(value="laser").ccjs-laser Laser
							option(value="maestro").ccjs-maestro Maestro
							option(value="unionpay").ccjs-unionpay UnionPay
							option(value="visa-electron").ccjs-visa-electron Visa Electron
							option(value="dankort").ccjs-dankort Dankort
						// field for name input
						label.ccjs-name.hidden-field
							input.ccjs-name(name="name", value="UserName")
						button.ccjs-csc-help(type="button").hidden-field
				a#validate_credit_card.ripple-button ПРОВЕРИТЬ
				.credit_card_check__info
					p.
						В случае неуспешного платежа обратитесь в Службу поддержки Platon по номеру:<br/>
						<a href="tel:+38 (044) 339 99 04">+38 (044) 339 99 04</a> или напишите нам <a href="mailto:support@platonline.com">support@platonline.com</a>
					p.
						* Ваш IP-адрес мониторится для предотвращения мошенничества.<br/>
						* Мошенничество преследуется по закону.
				.progressbar_container
					.progressbar_bar
						.progressbar_fill
							span.progressbar_percent
								span 75
								| %
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug