﻿include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Личный кабинет - Мои заявки';
	include ./_includes/head.pug
	body.logged
		include ./_includes/header.pug
		// main
		main#cp_personal.my_requests
			.my_requests__table
				h1 Мои заявки
				.my_requests__table-request.clearfix
					.table-request_number
						div №
						div 1
					.table-request_date
						div Дата
						div 13.91.2016
						div 15:58
					.table-request_time
						div Срок
						div 10
					.table-request_summ
						div Сумма кредита
						div 200 грн.
					.table-request_status
						div Статус
						div Одобрена
					.table-request_retry
						div Повторить заявку
						div -
				.my_requests__table-request.clearfix
					.table-request_number
						div №
						div 2
					.table-request_date
						div Дата
						div 13.91.2016
						div 15:58
					.table-request_time
						div Срок
						div 15
					.table-request_summ
						div Сумма кредита
						div 200 грн.
					.table-request_status
						div Статус
						div Кредит погашен
					.table-request_retry
						div Повторить заявку
						div: a Использовать заявку повторно
				.my_requests__table-request.clearfix
					.table-request_number
						div №
						div 3
					.table-request_date
						div Дата
						div 13.91.2016
						div 15:58
					.table-request_time
						div Срок
						div 15
					.table-request_summ
						div Сумма кредита
						div 200 грн.
					.table-request_status
						div Статус
						div: a.modal__requestRework Доработка
					.table-request_retry
						div Повторить заявку
						div -
				a#create_new_request.ripple-button(href="./main.html") НОВАЯ ЗАЯВКА
				iframe(width="600", height="300", src="https://www.youtube.com/embed/mAcZ4sllqy4", frameborder="0", allowfullscreen)
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug