extends ./_includes/extend/cabinet_step_default.pug
block head
    - var title = 'Cash Point - Проверка карты банком';
    - var bottomBar_percent = '85';
    - var indicator_initial_width = '82';
    - var step = 'step_4 card_check';
block step_content
    .steps__step_content.clearfix
        .step_content_title Проверка карты
        .step_container_subtitle
            +svg('warning-icon')
            span(style="width: 255px;") Обращаем внимание, что с целью защиты от мошенников, количество попыток ввода суммы ограничено 2-мя попытками. Будьте внимательны при вводе.
        .step_fieldset
            label.step_fieldset-field.checkSumm(style="font-size: 12px;") Укажите значение суммы заблокированной по Вашей карте:
                input(type="number", pattern="[0-9]*", inputmode="numeric", placeholder="Укажите сумму", name="checkSumm")&attributes({"onkeypress": "return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 44"})
                span.err Введите корректную сумму
            #confirm-continue.ripple-button ПОДТВЕРДИТЬ
        .step_fieldset.text-fieldset
            .text-fieldset-title Как узнать сумму?
            .text-fieldset-subtitle Размер суммы должен прийти в SMS на Ваш мобильный телефон (если у Вас подключено SMS-информирование). Если смс не пришло, зайдите в свой онлайн-кабинет на сайте банка или обращайтесь на горячую линию банка – эмитента карты.
            .text-fieldset-text Контакт-центры некоторых, наиболее крупных банков:
            .bank-phone-numbers
                .bank-phone-numbers__row.clearfix
                    span.bankname Приват банк
                    a(href="tel:0 800 56 566 66").bankTel 0 800 56 566 66
                .bank-phone-numbers__row.clearfix
                    span.bankname Ощадбанк
                    a(href="tel:0 800 55 555 55").bankTel 0 800 55 555 55
                .bank-phone-numbers__row.clearfix
                    span.bankname Альфа банк
                    a(href="tel:0 800 88 888 88").bankTel 0 800 88 888 88
                .bank-phone-numbers__row.clearfix
                    span.bankname Райфайзен банк Аваль
                    a(href="tel:0 800 56 566 66").bankTel 0 800 56 566 66
                .bank-phone-numbers__row.clearfix
                    span.bankname Укрсиббанк
                    a(href="tel:0 800 55 555 55").bankTel 0 800 55 555 55
                .bank-phone-numbers__row.clearfix
                    span.bankname ПУМБ
                    a(href="tel:0 800 88 888 88").bankTel 0 800 88 888 88