include ./_includes/partials/variables.pug
doctype html
html
- var title = 'Cash Point - FAQ';
    include ./_includes/head.pug
    body
        include ./_includes/header.pug
        // main
        main#cp_faq
            .cp_faq__title: h1 часто задаваемые вопросы
            .cp_faq__questionsContainer
                .cp_faq__question
                    .question_arrow
                    .question_title Я оформил заявку в после 18-00 (закончился рабочий день) когда мне ожидать решения?
                    .question_descr.
                        Для одобрения Вашей заявки нам необходимо связаться с работодателем. Потому решение по кредиту Вы можете получить в первый час, следующего рабочего дня
                .cp_faq__question
                    .question_arrow
                    .question_title На какую сумму можно получить кредит?
                    .question_descr.
                        Для одобрения Вашей заявки нам необходимо связаться с работодателем. Потому решение по кредиту Вы можете получить в первый час, следующего рабочего дня
                .cp_faq__question
                    .question_arrow
                    .question_title Что нужно, чтобы получить кредит?
                    .question_descr.
                        Для одобрения Вашей заявки нам необходимо связаться с работодателем. Потому решение по кредиту Вы можете получить в первый час, следующего рабочего дня
                .cp_faq__question
                    .question_arrow
                    .question_title Как сделать правильное фото документов?
                    .question_descr.
                        Для одобрения Вашей заявки нам необходимо связаться с работодателем. Потому решение по кредиту Вы можете получить в первый час, следующего рабочего дня
        // modals
        include ./_includes/modals/all.modals.pug
        // footer
        include ./_includes/footer.pug
        // scripts
        include ./_includes/scripts.pug