include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Как это работает?';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_howitworks
			.cp_howitworks__header: h1 Как это работает?
			.cp_howitworks__container
				.cp_howitworks__block
					.cp_howitworks__block-icon.list
					.cp_howitworks__block-title: span Что нужно, чтобы получить кредит?
					.cp_howitworks__block-text Компьютер, интернет, банковская карта любого банка Украины. Гражданство Украины. Возраст от 18 до 75 лет.
				.cp_howitworks__block
					.cp_howitworks__block-icon.money
					.cp_howitworks__block-title: span На какую сумму можно получить кредит?
					.cp_howitworks__block-text От 200 до 7000 гривен.
				.cp_howitworks__block
					.cp_howitworks__block-icon.time
					.cp_howitworks__block-title: span Я оформил заявку в после 18-00 (закончился рабочий день) когда мне ожидать решения?
					.cp_howitworks__block-text Для одобрения Вашей заявки нам необходимо связаться с работодателем. Потому решение по кредиту Вы можете получить в первый час, следующего рабочего дня.
				.cp_howitworks__block.clear
					.cp_howitworks__block-icon.photo
					.cp_howitworks__block-title: span Как сделать правильное фото документов?
					.cp_howitworks__block-text.
						Для того, чтобы Ваше фото было одобрено - Вам необходимо сделать фото действующего разворота паспорта.<br>
						Например, если Вам до 25 лет - то это первая страница.<br>
						Если Вам от 25 до 45 - это третья страница.<br>
						Если Вам от 45 лет - это пятая страница паспорта
				.cp_howitworks__faq
					.cp_howitworks__faq-icon ?
					a.cp_howitworks__faq-text Часто задаваемые вопросы
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug