include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Главная';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_main
			// first section
			section#first_screen
				h1 САМОЕ НОВОЕ АКЦИОННОЕ ПРЕДЛОЖЕНИЕ
				span эта акция действует всего неделю, спешите 
				.price_box.main_price_box
					.price_input
						.input_sliders.loading
							h2 КРЕДИТЫ ДЛЯ ЛЮБОЙ СИТУАЦИИ
							.slider_summ
								span Выберите сумму
								input(type="range", value="3000", style="visibility: hidden;")
								input#number_summ.input_number.number_summ_input(type="number", value="3000", min="200", data-input-type="sum")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
								span.forNumber гр.
								span.range-number.range-min 200
								span.range-number.range-max 7000
							.slider_date
								span Выберите срок
								input(type="range", value="10", style="visibility: hidden;")
								input#number_date.input_number(type="number", value="10", min="1", data-input-type="time")&attributes({"onkeypress":"return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"})
								span.forDate дней
								span.range-number.range-min 1
								span.range-number.range-max 15
						.input_pros
							div
								picture.
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
									<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
									<!--[if IE 9]></video><![endif]-->
									<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
								span до 7 000 грн
							div
								picture.
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
									<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
									<!--[if IE 9]></video><![endif]-->
									<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
								span до 15 дней
							div
								picture.
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="img/ic_main_ok.png" media="(max-width: 1920px)">
									<source srcset="img/ic_main_ok@2x.png" media="(min-width: 1921px)">
									<!--[if IE 9]></video><![endif]-->
									<img src="img/ic_main_ok@2x.png" alt="Cash Point - Кредиты без залога">
								span без справки о доходах
					.price_output.cash
						.credit_final#credit_final_mobile
							div
								span Сумма кредита:
								div
									span#credit_final_summ
									span &nbsp&nbspгр.
							div
								span Срок возврата:
								div: span#credit_final_date
							div
								span За пользование:
								div
									span#credit_final_using
									span &nbsp&nbspгр.
						span Выберите способ получения
						.credit_type
							span#cash Наличными
							span#card На карту
							div
							hr
						.credit_type_mobile на карту
						.credit_final#credit_final_desktop
							div
								span Сумма кредита:
								div
									span#credit_final_summ
									span &nbsp&nbspгр.
							div
								span Срок возврата:
								div: span#credit_final_date
							div
								span За пользование:
								div
									span#credit_final_using
									span &nbsp&nbspгр.
						#credit_get.ripple-button ОТПРАВИТЬ ЗАЯВКУ
			// second section
			section#second_screen
				h2 КАК ПОЛУЧИТЬ КРЕДИТ
				| 
				.content_box
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_1.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_1@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_1@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Выберите сумму и срок на главной странице сайта. Нажмите на кнопку «Получить деньги»;
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_2.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_2@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_2@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Для создания учётной записи в появившемся поле введите свой e-mail и придумайте пароль;
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_3.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_3@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_3@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Заполните все oбязательные поля  и подтвердите своё согласие с условиями;
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_4.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_4@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_4@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Нажмите на кнопку «Подать заявку» и получите запрошенные в кредит средства на карту.
					| 
				br
				a#send_request.ripple-button ОТПРАВИТЬ ЗАЯВКУ
			// third section
			section#third_screen
				h2 КАК ЭТО РАБОТАЕТ ЗА 90 СЕКУНД
				iframe(width="920", height="520", src="https://www.youtube.com/embed/mAcZ4sllqy4", frameborder="0", allowfullscreen)
			// fourth section
			section#fourth_screen
				h2 КАК ПОГАСИТЬ ТЕКУЩИЙ КРЕДИТ
				| 
				.content_box
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_5.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_5@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_5@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Зайдите в личный <br /> кабинет
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_6.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_6@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_6@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Выберите раздел <br /> “текущий кредит”
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_7.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_7@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_7@2x.png" src="img/pic_main_1@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Укажите № договора и ФИО в назначении платежа
					| 
					picture.
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="img/ic_main_arrow.png" media="(max-width: 1920px)">
						<source srcset="img/ic_main_arrow@2x.png" media="(min-width: 1921px)">
						<!--[if IE 9]></video><![endif]-->
						<img src="img/ic_main_arrow@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
					| 
					.content_item
						.content_image
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/pic_main_8.png" media="(max-width: 1920px)">
								<source srcset="img/pic_main_8@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/pic_main_8@2x.png" alt="Cash Point - Кредиты без залога">
						.content_text Можно оплатить <br /> с любого банка Украины
				br
				a#close_current_credit.ripple-button ПОГАСИТЬ ТЕКУЩИЙ КРЕДИТ
			// fifth section
			section#fifth_screen
				h2 АДРЕСА ОТДЕЛЕНИЙ
				.address_options
					.select-wrapper.region
						select#region_id(name="region_id").
							<option value="0" disabled selected>Область</option>
							<option value="1">Винницкая</option>
							<option value="2">Волынская</option>
							<option value="3">Днепропетровская</option>
							<option value="4">Донецкая</option>
							<option value="5">Житомирская</option>
							<option value="6">Закарпатская</option>
							<option value="7">Запорожская</option>
							<option value="8">Ивано-Франковская</option>
							<option value="9">Киевская</option>
							<option value="10">Кировоградская</option>
							<option value="11">Луганская</option>
							<option value="12">Львовская</option>
							<option value="13">Николаевская</option>
							<option value="14">Одесская</option>
							<option value="15">Полтавская</option>
							<option value="16">Ровенская</option>
							<option value="17">Сумская</option>
							<option value="18">Тернопольская</option>
							<option value="19">Харьковская</option>
							<option value="20">Херсонская</option>
							<option value="21">Хмельницкая</option>
							<option value="22">Черкасская</option>
							<option value="23">Черниговская</option>
							<option value="24">Черновицкая</option>
					.select-wrapper.city
						select#city_id(name="city_id", disabled).
							<option value="" disabled selected>Город</option>
					#find_nearest_office.ripple-button НАЙТИ БЛИЖАЙШЕЕ ОТДЕЛЕНИЕ
				#map
			// sixth section
			section#sixth_screen
				.cashPoint_about
					.about_item
						.about_icon
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/ic_main_money.png" media="(max-width: 1920px)">
								<source srcset="img/ic_main_money@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/ic_main_money@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
						.about_number.credits_num 1
						.about_label Выдано кредитов
					| 
					.about_item
						.about_icon
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/ic_main_city.png" media="(max-width: 1920px)">
								<source srcset="img/ic_main_city@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/ic_main_people@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
						.about_number.cities_num 1
						.about_label Городов
					| 
					.about_item
						.about_icon
							picture.
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="img/ic_main_people.png" media="(max-width: 1920px)">
								<source srcset="img/ic_main_people@2x.png" media="(min-width: 1921px)">
								<!--[if IE 9]></video><![endif]-->
								<img src="img/ic_main_city@2x.png" class="content_arrow_right" alt="Cash Point - Кредиты без залога">
						.about_number.agents_num 1
						.about_label Агентов
				| 
				br
				| 
				.cashPoint_news
					.news_item
						.news_header: a(href="#news") Преодолен рубеж в 300 кредитных офисов!
						.news_preview Конец декабря – начало января ознаменовалось для сети Cash Point очень важным и значимым событием – преодолением рубежа в 300 кредитных офисов по всей Украине!
						.news_date
							div
							| 16 февраля
					| 
					.news_item
						.news_header: a(href="#news") Сразу пять офисов Cash Point открылось в разных уголках страны
						.news_preview С начала августа сеть беззалогового кредитования Cash Point пополнилась 7 новыми агентскими представительствами.
						.news_date
							div
							| 04 января
					| 
					.news_item
						.news_header: a(href="#news") Сеть Cash Point укрепляет свои позиции
						.news_preview Конец осени-начало зимы ознаменовалось значительным расширением сети агентских представительств компании Cash Point.
						.news_date
							div
							| 20 декабря
				| 
				br
				| 
				a#all_news.ripple-button АРХИВ НОВОСТЕЙ
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug