include ./_includes/partials/variables.pug
doctype html
html
	- var title = 'Cash Point - Новости';
	include ./_includes/head.pug
	body
		include ./_includes/header.pug
		// main
		main#cp_news
			.cp_news__header: h1 Новости
			.cp_news__newsContainer
				.cp_news__title кредиты без залога - теперь онлайн!
				.cp_news__date 16 февраля
				.cp_news__content
					p Отныне выгодные беззалоговые кредиты от ТМ Cash Point можно получить не выходя из дома. Все, что нужно для оформления онлайн-кредита – это наличие действующей банковской платежной карты (остаток – не менее 1 грн) с возможностью проведения интернет-расчетов и активной услугой СМС-банкинга, а также компьютера с веб-камерой и подключением к интернету.
					p Для получения онлайн-кредита достаточно оформить заявку на сайте cashpoint.ua, указав желаемую сумму кредита и срок, на который нужны деньги. После выбора способа получения средств «НА КАРТУ», пользователю необходимо зарегистрироваться и заполнить анкетные данные.
					p «Сеть Cash Point стремится не только обеспечить качественное решение финансовых вопросов своих клиентов, но и сделать процесс получения кредита максимально оперативным и доступным, - отметил директор «БиЭлДжи Микрофинанс» (ТМ Cash Point) Александр Бурченко. Теперь средства в размере до 7 тысяч гривен можно получить на карту любого украинского банка, а вся процедура - от принятия решения по выдаче до зачисления средств - не превышает получаса. Таким образом, мы экономим время и деньги клиентов, ведь не нужно более специально ехать в представительство сети и тратить средства на проезд».
					p Заявки на кредит принимаются ежедневно с 8:00 до 21:00 в будни и с 8:00 до 19:00 в выходные. Срок действия кредитного решения – 30 дней с момента принятия. На протяжении этого периода клиент может в любое время воспользоваться услугой зачисления кредитных средств на счет банковской платежной карты. Статус своих заявок клиенты могут круглосуточно отслеживать в «Личном кабинете».
			a#show_all_news.ripple-button все новости
		// modals
		include ./_includes/modals/all.modals.pug
		// footer
		include ./_includes/footer.pug
		// scripts
		include ./_includes/scripts.pug