include ./_includes/partials/variables.pug
doctype html
html
    - var title = 'Cash Point - Оплата';
    include ./_includes/head.pug
    body
        include ./_includes/header.pug
        // main
        main#cp_payment
            .payment__header: h1 оплата
            .payment__content.clearfix
                .payment__content--column.pull-left.modal__inner-part
                    h2 оплата кредита, полученного на карту
                    h3 Вы можете погасить кредит или оплатить проценты за пользования с помощью Вашей банковской карты.
                    .modal__input-container.phone
                        span Телефон
                        input(type="tel", placeholder="Укажите телефон")
                        span.modal__label-warning Необходимо указать телефон
                    .modal__input-container.password
                        span Пароль
                        input(type="password", placeholder="Введите пароль")
                        span.modal__label-warning Необходимо указать пароль
                    .modal__action.ripple-button#payment__login войти
                    .modal__links
                        a.modal__passwordRecovery Забыли пароль?
                .payment__content--column.pull-right
                    h2 оплата кредита, полученного наличными
                    h3 Вы можете погасить кредит, который Вы взяли в нашем отделении. Для этого нажмите на кнопку ниже.
                    a#payment__pay(href="/cashpoint/www/main.html") перейти к оплате
        // modals
        include ./_includes/modals/all.modals.pug
        // footer
        include ./_includes/footer.pug
        // scripts
        include ./_includes/scripts.pug