////deps
//normalize.css
@import '../css/normalize.css';
//rangeslider
@import '../css/rangeslider.css';
//credit card validator
@import '../css/creditcardjs.css';
//datepicker
@import '../css/datepicker.css';

////partials
@import '_includes/partials/variables';
@import '_includes/partials/mixins';

//fonts
@import '../css/fonts.css';

////common
//header
@import '_includes/header.scss';
//footer
@import '_includes/footer.scss';
//modal windows
@import '_includes/modals.scss';

////pages
//main page
@import '_includes/pages/main.scss';
//credits page
@import '_includes/pages/credits.scss';
//news page
@import '_includes/pages/news.scss';
//how it works page
@import '_includes/pages/how_it_works.scss';
//about company pages
@import '_includes/pages/about.scss';
//address page
@import '_includes/pages/address.scss';
//credit payment page
@import '_includes/pages/payment.scss';
// FAQ page
@import '_includes/pages/faq.scss';

//// personal cabinet pages
// my requests
@import '_includes/pages/cabinet_zayavki.scss';
// credit card check
@import '_includes/pages/cabinet_cardCheck.scss';
// current credits pages
@import '_includes/pages/cabinet_currentCredits.scss';
// 'your request is accepted' page
@import '_includes/pages/cabinet_requestAccepted.scss';
// Get credit steps pages
@import '_includes/pages/cabinet_getCredit_steps.scss';
// cabinet settings page
@import '_includes/pages/cabinet_settings.scss';
// cabinet empty (no requests) page
@import '_includes/pages/cabinet_empty.scss';

// help classes
.clearfix {
	&:before,
	&:after {
	  content: " ";
	  display: table;
	}
	&:after {
		clear: both;
	}
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
.clear-both {
	clear: both !important;
}

// floating footer
html {
	position: relative;
	min-height: 100%;
	height:  auto;

	body {
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}

		@media screen and (min-width: 768px) {
			margin-bottom: 275px;
			height: auto;

			footer {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
	}
}

// inputs styling
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(0,0,0,.54);
}
::-moz-placeholder { /* Firefox 19+ */
	color: rgba(0,0,0,.54);
}
:-ms-input-placeholder { /* IE 10+ */
	color: rgba(0,0,0,.54);
}
:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,.54);
}
select {
	&:not(.active){
		color: rgba(0,0,0,.54) !important;
	}
	option:not([value="0"]) {
		color: black !important;
	}
}
input {
	color: black;
}

// select placeholder
.selectStyler {
	position: relative;
	float: left;
	width: 220px;
	height: 50px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #bebebe;
	-webkit-transition: border .2s linear;
	transition: border .2s linear;

	select {
		z-index: 1;
		position: relative;
		width: 100% !important;
		height: 100% !important;
		padding: 0;
		padding-left: 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none !important;
		background: 0 0;
	}

	svg {
		position: absolute;
		width: 13px;
		height: 13px;
		transform: rotate(90deg);
		right: 5px;
		top: 50%;
		margin-top: -6.5px;
		fill: #5a5959;
		z-index: 0;
	}
}
.wrong,
.warning,
.incorrect,
.error {
	.selectStyler {
		border: 1px solid #bb141a;
	}
}
.modal__input-container.honorific {
	.selectStyler {
		height: 50px;
		width: 100%;
		margin-top: 13px;
		border-radius: 2px;
		-webkit-transition: border-color .3s linear;
		transition: border-color .3s linear;
		will-change: border-color;

		select {
			padding-left: 10px;
			margin-top: 0 !important;
			&:not(.active) {
				color: rgba(0,0,0,.34)!important;
			}
		}
	}
}
.ccjs-expiration {

	.selectStyler {
		position: absolute;
		height: 35px;

		&.ccjs-error {
			border: 1px solid #fa9b89 !important;
		}
		&.ccjs-complete {
			border: 1px solid #78d216 !important;
		}


		&.year {
			width: 3.5em;
			right: 0;
		}

		&.month {
			width: 4.8em;
			left: 0;
		}

		select {
			border: none !important;
			background: none!important;
		}

		svg {
			width: 10px;
			height: 10px;
			margin-top: -5px;
		}
	}
	&.ccjs-error {
		.selectStyler {
			border: 1px solid #fa9b89!important;
		}
	}
	&.ccjs-complete {
		.selectStyler {
			border: 1px solid #78d216!important;
		}
	}

	.selectStyler.ccjs-error {
		border: 1px solid #fa9b89 !important;
	}

}

.step_fieldset-field {

	.selectStyler {
		height: 50px;
		width: 100%;
		margin-top: 13px;
		border-radius: 2px;
		-webkit-transition: border-color .3s linear;
		transition: border-color .3s linear;
		will-change: border-color;

		select {
			padding-left: 10px;
			margin-top: 0 !important;
			background: none !important;
			&:not(.active) {
				color: rgba(0,0,0,.34)!important;
			}
			&:disabled {
				background-color: #efeff4 !important;
			}
		}
	}

}
.calculator__input-container {
	.selectStyler {
		width: 100%;
		select {
			background: none !important;
		}
	}
}

.datepicker--cell {
	display: inline-block;
	text-align: center;

	&.datepicker--cell-day {
		line-height: 32px;
	}

	&.datepicker--cell-month {
		line-height: 42px;
	}

	&.datepicker--cell-year {
		line-height: 56px;
	}
}


//// modal overflow fix
@media (min-height: 700px) {
	body.modal {
		overflow: auto;
	}
}